<template lang="pug">
div
  h3 Ledger overview
  p Here you can link your ledger accounts to Exact Online ledgers.

  DataTable(
    endpoint="/api/admin/accounts/ledgers/",
    row-key="id",
    size="small",
    :column-mapping="columnMapping",
    :filter-definition="filterDefinition",
    :scroll="{ x: true }",
    :loading="loading"
  )
    template(#row-buttons="{ record, context, loading }")
      a-button-group(v-if="!context.isEditing(record)", size="small")
        a-button(type="primary", @click="() => context.startEdit(record)") Edit
      a-button-group(v-else, size="small")
        a-button(
          :key="record.id",
          type="primary",
          :loading="loading",
          @click="() => saveLedger(context, record)"
        ) Save
        a-button(@click="() => context.cancelEdit()") Cancel
    template(#prop-name="{ record, context, loading }")
      StringDisplay(
        :loading="loading",
        :modelValue="record.name",
        :edit="false"
      )
    template(#prop-incomeLedger="{ record, context, loading }")
      span {{ transactionMethodName(record.associatedCheckoutMethod) }}
    template(#prop-costCenterCode="{ record, context, loading }")
      ExactCostCenterDisplay(
        v-if="!record.incomeLedger",
        :edit="!record.incomeLedger && context.isEditing(record)",
        :loading="loading",
        :modelValue="record.costCenterCode",
        @update:modelValue="(e) => (record.costCenterCode = e)"
      )
    template(#prop-vatCode="{ record, context, loading }")
      ExactVatDisplay(
        v-if="!record.incomeLedger",
        :edit="!record.incomeLedger && context.isEditing(record)",
        :loading="loading",
        :modelValue="record.vatCode",
        @update:modelValue="(e) => (record.vatCode = e)"
      )
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";
import DataTable from "../../datatable/DataTable.vue";
import { transactionMethodName } from "../../../scripts/transaction";
import { markRaw } from "vue";
import type {
  ColumnMapping,
  DataTableContext,
} from "../../../scripts/DataTableTypes";
import StringDisplay from "../../common/StringDisplay.vue";
import ExactLedgerDisplay from "../../common/ExactLedgerDisplay.vue";
import ExactCostCenterDisplay from "../../common/ExactCostCenterDisplay.vue";
import ExactVatDisplay from "../../common/ExactVatDisplay.vue";
import { useExactStore } from "../../../scripts/store/exact";
import type { AccountExactLedger } from "../../../scripts/api/accounts";
import { accountsApi } from "../../../scripts/api/accounts";
import { PydanticError } from "../../../scripts/api/api";
import ExactVatFilter from "../../common/ExactVatFilter.vue";
import { computed } from "@vue/reactivity";
import ExactLedgerFilter from "../../common/ExactLedgerFilter.vue";
import ExactCostCenterFilter from "../../common/ExactCostCenterFilter.vue";
import BooleanFilter from "../../common/BooleanFilter.vue";

interface ExactAccountLedgersEmit {
  (e: "ledgerUpdated", ledgerId?: number): void;
}

const emit = defineEmits<ExactAccountLedgersEmit>();

const columnMapping: ColumnMapping = {
  name: {
    sort: "name",
  },
  incomeLedger: {
    title: "Income Ledger",
  },
  ledgerCode: {
    title: "Ledger",
    component: markRaw(ExactLedgerDisplay),
  },
  costCenterCode: {
    title: "Cost Center",
  },
  vatCode: {
    title: "VAT",
  },
};

const filterDefinition = [
  {
    title: "Income Ledger",
    query: "incomeLedgerFilter",
    component: markRaw(BooleanFilter),
  },
  {
    title: "Ledger",
    query: "ledgerFilter",
    component: markRaw(ExactLedgerFilter),
  },
  {
    title: "Cost Center",
    query: "costCenterFilter",
    component: markRaw(ExactCostCenterFilter),
  },
  {
    title: "VAT",
    query: "vatFilter",
    component: markRaw(ExactVatFilter),
  },
];

const exactStore = useExactStore();
const loading = computed(() => !exactStore.isReady);

async function saveLedger(
  context: DataTableContext,
  record: AccountExactLedger
) {
  context.setIsLoading(record, true);
  try {
    const ledger = (await accountsApi.saveLedger(record)).result;
    context.saveEdit(ledger, record.id);

    notification.success({
      message: `Ledger saved.`,
      description: `'${record.name}' has been saved.`,
    });

    emit("ledgerUpdated", record.id);
  } catch (e: unknown) {
    notification.error({
      message: `Failed to save ledger.`,
      description: !(e instanceof PydanticError) ? "Unknown error." : e.toDiv(),
    });
  } finally {
    context.setIsLoading(record, false);
  }
}

await exactStore.loadAll();
</script>
