<template>
  <div>
    <h3>
      <span>
        Card Orders in
        <a-select
          v-if="isEditingYear"
          v-model:value="year"
          @change="() => (isEditingYear = false)"
          :autoFocus="true"
        >
          <template
            v-for="y in range(2018, dayjs().startOf('year').year() + 1)"
          >
            <a-select-option :value="y">{{ y }}</a-select-option>
          </template>
        </a-select>
        <span v-else>
          {{ year }}
          <EditOutlined
            class="edit-button"
            @click="() => (isEditingYear = true)"
          />
        </span>
      </span>
    </h3>

    <a-row>
      <a-col
        :xl="{ span: 20 }"
        :md="{ span: 18 }"
        :xs="{ span: 12 }"
        style="color: rgba(0, 0, 0, 0.725)"
      >
        <p class="explanation-paragraph">
          This chart shows the daily (and cumulative) difference between card
          income reported in this system versus card income reported on our bank
          account (as reported in Exact Online). If a day shows a big
          discrepancy between these two data points, that might mean there are
          missing transactions in this system. Alternatively, a manual booking
          might need to be created.
        </p>
        <p class="explanation-paragraph">
          Make sure bank transactions have been imported in Exact Online, then
          press the "reload" button to retrieve the data.
        </p>
      </a-col>
      <a-col :xl="{ span: 4 }" :md="{ span: 6 }" :xs="{ span: 12 }">
        <a-space direction="vertical">
          <a-checkbox v-model:checked="cumulative">Cumulative Chart</a-checkbox>
          <a-button @click="refreshExactData" :loading="isRefreshingExactData">
            Reload data from Exact
          </a-button>
        </a-space>
      </a-col>
    </a-row>

    <div class="chart-area">
      <a-skeleton v-if="status === 'loading'" :paragraph="true" />
      <a-empty
        v-else-if="status === 'error'"
        description="Failed to retrieve data."
      />
      <a-empty
        v-else-if="status === 'success' && !hasData"
        description="No data is available."
      />
      <ExactCardTransactionsChart
        v-else
        :cumulative="cumulative"
        :cardOrdersByDay="cardOrdersByDay"
        :bankTransactions="bankTransactions"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";
import { computed, ref } from "@vue/reactivity";
import dayjs from "dayjs";
import { bankTransactionsApi } from "../../../scripts/api/BankTransactions";
import ExactCardTransactionsChart from "./ExactCardTransactionsChart.vue";
import { useTypedRouteQuery } from "../../../scripts/composables/query";
import { EditOutlined } from "@ant-design/icons-vue";
import { useQuery } from "@tanstack/vue-query";
import ARow from "ant-design-vue/lib/grid/Row";
import { ordersApi } from "../../../scripts/api/Orders";

const isEditingYear = ref(false);
const year = useTypedRouteQuery("year", dayjs().startOf("year").year());

const cumulative = ref(true);
const isRefreshingExactData = ref(false);

const { status, data, refetch } = useQuery({
  queryKey: ["card/orderPerDay & bankTransactions", computed(() => year.value)],
  queryFn: () => {
    return Promise.all([
      ordersApi.getCardOrdersByDay(year.value),
      bankTransactionsApi.getTransactions(year.value),
    ]);
  },
  staleTime: Infinity,
});

const cardOrdersByDay = computed(() => {
  if (!data.value) {
    return [];
  }

  return data.value[0];
});

const bankTransactions = computed(() => {
  if (!data.value) {
    return [];
  }

  return data.value[1].bankTransactions;
});

const hasData = computed(() => {
  return cardOrdersByDay.value.length && bankTransactions.value.length;
});

const refreshExactData = async () => {
  isRefreshingExactData.value = true;
  const resp = await bankTransactionsApi.updateFromExact(year.value);

  if (resp.first_date && resp.last_date) {
    refetch();
    notification.success({
      message: `Successfully loaded data from Exact.`,
      description: "Chart has been updated.",
    });
  } else {
    notification.warn({
      message: "No new data available.",
      description: "Chart was not updated.",
    });
  }

  isRefreshingExactData.value = false;
};

const range = (start: number, stop: number, step = 1) => {
  return Array(Math.ceil((stop - start) / step))
    .fill(start)
    .map((x, y) => x + y * step)
    .reverse();
};
</script>

<style lang="sass" scoped>

.chart-area
    margin: 1em auto
    height: 60vh

.explanation-paragraph
    padding: 0 0.5em 0 0
</style>
