<template>
  <BarChart
    xLabel="Name"
    yLabel="Count"
    xType="date"
    yType="number"
    :data="dailyDifferences"
    :annotations="false"
    :tooltips="true"
    :googleChartOptions="googleChartOptions"
  />
</template>

<script setup lang="ts">
import BarChart from "../../charts/BarChart.vue";
import { computed } from "@vue/reactivity";

import { localeDate, priceStr } from "../../../scripts/util";
import { BarChartDataEntry } from "../../charts/GoogleCharts";

interface DailyItem {
  date: string;
  amount: number;
}

interface ExactCardTransactionsChartProps {
  cumulative: boolean;
  cardOrdersByDay: DailyItem[];
  bankTransactions: DailyItem[];
}

const props = defineProps<ExactCardTransactionsChartProps>();

const googleChartOptions = {
  vAxis: {
    baselineColor: "transparent",
  },
  chartArea: {
    right: 40,
    left: 60,
    top: 20,
    bottom: 40,

    width: "100%",
    height: "100%",
  },
  tooltip: {
    isHtml: true,
  },
};

const dailyDifferences = computed(() => {
  const result: BarChartDataEntry[] = [];

  const cardOrders = props.cardOrdersByDay;
  const cardBankTransactions = props.bankTransactions;

  let cumSum = 0;

  let itt1 = 0;
  let itt2 = 0;

  let pos = cardOrders[itt1];
  let bank = cardBankTransactions[itt2];

  while (pos && bank) {
    const date1 = new Date(pos.date);
    const date2 = new Date(bank.date);

    // PoS data is always complete, if the database doesn't return
    // any orders on a given day, there have been no orders
    let posAmount = 0;
    let bankAmount: number | null = null;
    let date: Date | null = null;

    if (date1.getTime() < date2.getTime()) {
      posAmount = pos.amount / 100;
      date = date1;
      itt1++;
    } else if (date1.getTime() > date2.getTime()) {
      bankAmount = bank.amount / 100;
      date = date2;
      itt2++;
    } else {
      // equal times
      posAmount = pos.amount / 100;
      bankAmount = bank.amount / 100;
      date = date1;

      itt1++;
      itt2++;
    }

    // If one of them is null, we don't have any data
    if (bankAmount !== null) {
      const diff = bankAmount - posAmount;
      cumSum += diff;

      const label = `<strong>${localeDate(date, { weekday: "short" })}</strong>
<span style="display: block;">Cum. sum: ${priceStr(cumSum * 100)}</span>
<span style="display: block;">PoS: ${priceStr(posAmount * 100)}</span>
<span style="display: block;">Bank: ${priceStr(bankAmount * 100)}</span>
<span style="display: block;">Diff: ${priceStr(
        (bankAmount - posAmount) * 100
      )}</span>`;

      const x = props.cumulative ? cumSum : diff;

      result.push({
        label: date,
        value: x,
        tooltipHtml: label,
      });
    } else {
      result.push({
        label: date,
        value: 0,
      });
    }

    pos = cardOrders[itt1];
    bank = cardBankTransactions[itt2];
  }

  return result;
});
</script>

<style lang="sass" scoped></style>
