<template lang="pug">
.direct-debit
  a-row
    a-col(
      v-if="!directDebitEnabled",
      :xs="{ span: 24 }",
      :md="{ span: 18, offset: 1 }"
    )
      | Get in touch with VIA's treasurer in the VIA-room to enable direct debit upgrades. With direct debit enabled,
      | you can always use your account, even if your balance is below zero!
      | Your account will automatically be topped up every month. This saves both time and money. Consider enabling this!
    a-col(v-else, :xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      | Direct debit is enabled! Your account will be topped up autmatically. Enjoy! If you want to disable direct debit,
      | please get in touch with VIA's treasurer.

  a-row
    a-col.label(:xs="labelXs", :md="labelMd")
      label Enabled:
    a-col(:xs="wrapperXs", :md="wrapperMd")
      a-switch(:checked="directDebitEnabled", :disabled="true")

  a-row
    a-col.label(:xs="labelXs", :md="labelMd")
      label IBAN:
    a-col(:xs="wrapperXs", :md="wrapperMd")
      span {{ iban ? formatIban(iban) : 'N/A' }}

  a-row
    a-col.label(:xs="labelXs", :md="labelMd")
      label BIC:
    a-col(:xs="wrapperXs", :md="wrapperMd")
      span {{ bic ? bic : 'N/A' }}

  a-row
    a-col.label(:xs="labelXs", :md="labelMd")
      label Mandate ID:
    a-col(:xs="wrapperXs", :md="wrapperMd")
      a-row
        a-col
          b {{ mandateId ? mandateId : 'N/A' }}
      a-row
        a-col.explain
          span This mandate ID will show up on your bank statements.

  a-row
    a-col.label(:xs="labelXs", :md="labelMd")
      label Sign Date:
    a-col(:xs="wrapperXs", :md="wrapperMd")
      span {{ parsedSignDate ? parsedSignDate.format('MMMM D, YYYY') : 'N/A' }}
</template>

<script setup lang="ts">
import { computed } from "vue";
import dayjs from "dayjs";

import { formatIban } from "../../scripts/iban";

interface AccountDirectDebitProps {
  directDebitEnabled: boolean;
  iban?: string;
  bic?: string;
  mandateId?: string;
  signDate?: string;
}

const props = defineProps<AccountDirectDebitProps>();

const labelXs = {
  span: 6,
  offset: 0,
};

const labelMd = {
  span: 6,
  offset: 0,
};

const wrapperXs = {
  span: 18,
  offset: 0,
};

const wrapperMd = {
  span: 12,
  offset: 0,
};

const parsedSignDate = computed(() => dayjs(props.signDate));
</script>

<style lang="sass" scoped>

.explain
  color: rgba(0, 0, 0, 0.45)

.direct-debit > *
  margin-bottom: 24px

.label
  display: inline-flex
  align-items: center
  max-width: 100%
  justify-content: flex-end
  padding-right: 8px
</style>
