<template>
  <div>
    <a-skeleton v-if="status === 'loading'" :paragraph="true" />
    <a-row v-if="status === 'success' && data">
      <a-col :md="{ span: 9 }" :xs="{ span: 24 }">
        <a-statistic title="Balance at Date" value=" ">
          <template #prefix>
            <a-date-picker
              v-if="isEditing"
              v-model:value="date"
              @change="() => (isEditing = false)"
              :allowClear="false"
            />
            <span v-else>
              {{ date.format("MMMM D, YYYY") }}
              <EditOutlined
                class="edit-button"
                @click="() => (isEditing = true)"
              />
            </span>
          </template>
        </a-statistic>
      </a-col>

      <a-col :md="{ span: 5 }" :xs="{ span: 8 }">
        <a-statistic
          title="Positive Balance"
          :value="priceStr(data.balanceAt.totalPositive)"
        />
      </a-col>

      <a-col :md="{ span: 5 }" :xs="{ span: 8 }">
        <a-statistic
          title="Negative Balance"
          :value="priceStr(data.balanceAt.totalNegative)"
        />
      </a-col>

      <a-col :md="{ span: 5 }" :xs="{ span: 8 }">
        <a-statistic
          title="Net Balance"
          :value="priceStr(data.balanceAt.totalBalance)"
          :value-style="{ color: netBalanceColour }"
        />
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
import { type Ref, ref } from "@vue/reactivity";
import dayjs from "dayjs";
import type { Dayjs } from "dayjs";
import { useQuery } from "@tanstack/vue-query";
import { computed } from "vue";
import { accountsApi } from "../../scripts/api/accounts";
import { getBalanceColour, priceStr } from "../../scripts/util";

const date: Ref<Dayjs> = ref(dayjs());
const isEditing = ref(false);

const formattedDate = computed(() => date.value.format("YYYY-MM-DD"));

const netBalanceColour = computed(() => {
  return getBalanceColour(data.value?.balanceAt.totalBalance);
})

const { status, data } = useQuery({
  queryKey: [
    "accounts/balance/",
    formattedDate,
  ],
  queryFn: () => {
    return accountsApi.balancesAtDate(formattedDate.value);
  },
});
</script>

<style lang="sass" scoped>
.edit-button
    cursor: pointer
</style>
