<template lang="pug">
a-form(:wrapperCol="wrapperCol", :labelCol="labelCol")
  a-form-item(key="account.name", label="Name", v-bind="validateInfos.name")
    a-input(v-model:value="formState.name")

  a-form-item(key="account.description", label="Description")
    a-textarea(
      v-model:value="formState.description",
      :showCount="true",
      :maxLength="128"
    )

  a-form-item(
    key="account.allowNegativeBalance",
    label="Credit Account",
    extra="Allows the account to have a negative balance. This can only be manually changed for event accounts. For user accounts the same can be achieved by enabling direct debit."
  )
    a-switch(
      v-model:checked="formState.allowNegativeBalance",
      :disabled="modelValue.type !== 'event'"
    )

  a-form-item
    a-button(
      type="primary",
      :disabled="!saveButtonEnabled",
      @click="() => onSave()"
    ) Save
</template>

<script setup lang="ts">
import { computed, reactive } from "vue";
import { accountsApi } from "../../scripts/api/accounts";
import { notification } from "ant-design-vue";
import {
  hasValidateInfoHints,
  useFormSizes,
} from "../../scripts/composables/form";
import { ApiResponse } from "../../scripts/api/api";
import type { Account } from "../../scripts/types";
import { useForm } from "ant-design-vue/es/form";

type PartialAccount = Pick<
  Account,
  "id" | "name" | "description" | "allowNegativeBalance" | "type"
>;

interface AccountBasicDetailsProps {
  modelValue: PartialAccount;
}

interface AccountBasicDetailsEmits {
  (e: "update:modelValue", value: Account): void;
}

const emit = defineEmits<AccountBasicDetailsEmits>();

const props = defineProps<AccountBasicDetailsProps>();

const { labelCol, wrapperCol } = useFormSizes();

const formState = reactive({
  name: props.modelValue.name ?? "",
  description: props.modelValue.description ?? "",
  allowNegativeBalance: props.modelValue.allowNegativeBalance ?? false,
});

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    name: [{ min: 3, required: true, message: "Please enter a name." }],
    allowNeagtiveBalance: [{ required: true }],
  })
);

const saveButtonEnabled = computed(() => {
  return !hasValidateInfoHints(validateInfos);
});

const onSave = async () => {
  try {
    try {
      await validate();
    } catch (e) {
      return;
    }

    const resp = await accountsApi.patchAccount(props.modelValue.id, {
      name: formState.name,
      description: formState.description || undefined,
      allowNegativeBalance: formState.allowNegativeBalance,
    });

    emit("update:modelValue", resp.result);

    notification.success({
      message: "Account updated.",
    });
  } catch (e) {
    if (e?.errorIdentifier === "duplicate_name") {
      notification.error({
        message: "Could not update account.",
        description: "Account name is already in use.",
      });
      return;
    }

    notification.error({
      message: "Could not update account.",
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }
};
</script>

<style lang="sass" scoped></style>
