<template lang="pug">
a-row
  a-col(:md="{ span: 18, offset: 1 }")
    p Note that these statistics include VAT (btw), this means that the actual revenue is 9 or 21
      | percent less than what is shown below. For more accurate information, please refer to the
      | bookkeeping.
a-row
  a-col(:xs="{ span: 24 }", :md="{ span: 16, offset: 4 }")
    a-skeleton(v-if="isLoading")
    TitledCarousel(v-else)
      TitledCarouselItem
        template(#title)
          span Revenue since&nbsp;
            a-date-picker(
              v-if="isEditingStartDate",
              v-model:value="startDate",
              :allowClear="false",
              @change="() => (isEditingStartDate = false)"
            )
            span(v-else) {{ startDate.format('MMMM D, YYYY') }}
              EditOutlined.edit-button(
                @click="() => (isEditingStartDate = true)"
              )

        ProductCountStats(
          :productCounts="productCounts",
          :useTable="true",
          :usePrice="true"
        )
</template>

<script setup lang="ts">
import { computed, ref } from "vue";
import type { Account } from "../../scripts/types";
import { useQuery } from "@tanstack/vue-query";
import { transactionsApi } from "../../scripts/api/transactions";
import { useDateStorage } from "../../scripts/composables/storage";
import ProductCountStats from "../products/product_count_stats.vue";
import TitledCarousel from "../common/TitledCarousel.vue";
import TitledCarouselItem from "../common/TitledCarouselItem.vue";

type PartialAccount = Pick<Account, "id">;

interface AccountLedgerStatisticsProps {
  modelValue: PartialAccount;
}

const props = defineProps<AccountLedgerStatisticsProps>();

const isEditingStartDate = ref(false);
const startDate = useDateStorage("AccountLedgerStatistics.startDate");

const { status, data: response, isLoading } = useQuery({
  queryKey: [
    "/admin/ledgers/transactions/count/",
    props.modelValue.id,
    startDate,
  ],
  queryFn: () => {
    return transactionsApi.ledgerProductCount(props.modelValue.id, {
      start: startDate.value.format("YYYY-MM-DD"),
    });
  },
  staleTime: Infinity,
});

const productCounts = computed(() => response.value?.result.products ?? []);
</script>

<style lang="sass" scoped>
.edit-button
    cursor: pointer
</style>
