<template lang="pug">
a-form(:wrapperCol="wrapperCol", :labelCol="labelCol")
  a-row
    a-col(:xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      span You can manually top-up or deduct (!) an account here.&nbsp;
      span(v-if="!hideIdealHint") To avoid mistakes, it is preferred to let the user top-up themselves by logging in and using iDEAL.&nbsp;
      span If you set the method to 'other' and fill in a reason, the treasurer will have to manually assign this transaction in Exact Online.

  a-form-item(
    key="formState.amount",
    label="Amount",
    v-bind="validateInfos.amount"
  )
    PriceDisplay(v-model="formState.amount", :edit="true", size="middle")

  a-form-item(
    key="formState.method",
    label="Method",
    v-bind="validateInfos.method"
  )
    a-select(v-model:value="formState.method")
      a-select-option(value="cash") Cash
      a-select-option(value="card") Card
      a-select-option(value="transfer") Bank Transfer
      a-select-option(value="other") Other

  a-form-item(key="form.reason", label="Reason", v-bind="validateInfos.reason")
    a-textarea(v-model:value="formState.reason", showCount, :maxLength="60")

  a-form-item
    a-button(
      type="primary",
      :disabled="!topUpButtonEnabled",
      @click="() => onTopUp()"
    ) Upgrade
</template>

<script setup lang="ts">
import { computed, reactive } from "vue";
import { accountsApi } from "../../scripts/api/accounts";
import { notification } from "ant-design-vue";
import {
  hasValidateInfoHints,
  nonZeroAmountValidator,
  useFormSizes,
} from "../../scripts/composables/form";
import { ApiResponse } from "../../scripts/api/api";
import PriceDisplay from "../common/PriceDisplay.vue";
import type { Account } from "../../scripts/types";
import { generateUuid, priceStr, useAdminRequests } from "../../scripts/util";
import { useForm } from "ant-design-vue/es/form";

type PartialAccount = Pick<Account, "id">;

interface AccountAdminTopUpProps {
  modelValue: PartialAccount;
  hideIdealHint?: boolean;
}

interface AccountAdminTopUpEmits {
  (e: "update:modelValue", value: Account): void;
}

const emit = defineEmits<AccountAdminTopUpEmits>();
const props = defineProps<AccountAdminTopUpProps>();

const { requestWith, requestsActive } = useAdminRequests();

const { labelCol, wrapperCol } = useFormSizes();

let nonce = generateUuid();

interface TopUpForm {
  amount: number;
  method: "cash" | "card" | "transfer" | "other";
  reason: string;
}

const formState: TopUpForm = reactive({
  amount: 1000,
  method: "cash",
  reason: "",
});

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    amount: [
      { type: "number", required: true, validator: nonZeroAmountValidator },
    ],
    method: [{ required: true, message: "Please select a method." }],
    reason: [{ min: 3, required: true, message: "Please enter a reason." }],
  })
);

const topUpButtonEnabled = computed(() => !hasValidateInfoHints(validateInfos));

const onTopUp = async () => {
  try {
    try {
      await validate();
    } catch (e) {
      return;
    }

    const resp = await requestWith(
      accountsApi.adminUpgrade(
        props.modelValue.id,
        formState.method,
        formState.amount,
        formState.reason,
        nonce
      )
    );

    notification.success({
      message: "Account upgraded.",
      description: `Successful transaction for ${priceStr(
        formState.amount
      )} with ${formState.method}.`,
    });

    formState.reason = "";
    formState.amount = 1000;

    emit("update:modelValue", resp.result.account);
  } catch (e) {
    notification.error({
      message: "Could not upgrade account.",
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }

  setTimeout(() => (nonce = generateUuid()), 1000);
};
</script>

<style lang="sass" scoped></style>
