<template>
  <div>
    <a-row>
      <a-col :md="{ span: 7 }" :xs="{ span: 12 }">
        <a-statistic title="Created Date" value=" ">
          <template #prefix>
            <span>
              {{ createdDate.format("MMMM D, YYYY") }}
            </span>
          </template>
        </a-statistic>
      </a-col>

      <a-col :md="{ span: 7 }" :xs="{ span: 12 }">
        <a-statistic title="Last Updated / Used" value=" ">
          <template #prefix>
            <span>
              {{ lastUsedDate.fromNow() }}
            </span>
          </template>
        </a-statistic>
      </a-col>

      <a-col :md="{ span: 5 }" :xs="{ span: 12 }">
        <a-statistic
          title="Balance"
          :value="priceStr(account.balance)"
          :value-style="{ color: getBalanceColour(account.balance) }"
        />
      </a-col>

      <a-col :md="{ span: 5 }" :xs="{ span: 12 }">
        <a-statistic
          title="Credit Account"
          :value="account.allowNegativeBalance ? 'Yes' : 'No'"
        />
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import { getBalanceColour, priceStr } from "../../scripts/util";
import { Account } from "../../scripts/types";
import { computed } from "vue";

dayjs.extend(relativeTime);

interface AccountUserHeaderProps {
  account: Account;
}

const props = defineProps<AccountUserHeaderProps>();

const createdDate = computed(() => dayjs(props.account.createdAt));
const lastUsedDate = computed(() => dayjs(props.account.updatedAt));
</script>

<style lang="sass" scoped></style>
