<template lang="pug">
a-row
  a-col(:xs="{ span: 24 }", :md="{ span: 16, offset: 4 }")
    a-skeleton(v-if="isLoading")
    TitledCarousel(v-else)
      TitledCarouselItem
        template(#title)
          span Purchases since&nbsp;
            a-date-picker(
              v-if="isEditingStartDate",
              v-model:value="startDate",
              :allowClear="false",
              @change="() => (isEditingStartDate = false)"
            )
            template(v-else) {{ startDate.format('MMMM D, YYYY') }}&nbsp;
              EditOutlined.edit-button(
                @click="() => (isEditingStartDate = true)"
              )

        a-empty(v-if="!productCounts.length")
        ProductCountStats(
          v-else,
          :productCounts="productCounts",
          :useTable="false",
          :usePrice="false"
        )
</template>

<script setup lang="ts">
import { computed, ref } from "vue";
import type { Account } from "../../scripts/types";
import { useQuery } from "@tanstack/vue-query";
import { transactionsApi } from "../../scripts/api/transactions";
import { useDateStorage } from "../../scripts/composables/storage";
import ProductCountStats from "../products/product_count_stats.vue";
import TitledCarousel from "../common/TitledCarousel.vue";
import TitledCarouselItem from "../common/TitledCarouselItem.vue";

type PartialAccount = Pick<Account, "id">;

interface AccountSelfStatisticsProps {
  modelValue: PartialAccount;
}

const props = defineProps<AccountSelfStatisticsProps>();

const isEditingStartDate = ref(false);
const startDate = useDateStorage("AccountSelfStatistics.startDate");

const { status, data: response, isLoading } = useQuery({
  queryKey: ["/account/transactions/count", startDate],
  queryFn: () => {
    return transactionsApi.accountProductCount({
      start: startDate.value.format("YYYY-MM-DD"),
    });
  },
  staleTime: Infinity,
});

const productCounts = computed(() => response.value?.result.products ?? []);
</script>

<style lang="sass" scoped>
.edit-button
    cursor: pointer
</style>
