<template>
  <div>
    <a-row>
      <a-col :md="{ span: 7 }" :xs="{ span: 12 }">
        <a-statistic title="Created Date" value=" ">
          <template #prefix>
            <span>
              {{ createdDate.format("MMMM D, YYYY") }}
            </span>
          </template>
        </a-statistic>
      </a-col>

      <a-col :md="{ span: 7 }" :xs="{ span: 12 }">
        <a-statistic title="Last Updated" value=" ">
          <template #prefix>
            <span>
              {{ lastUsedDate.fromNow() }}
            </span>
          </template>
        </a-statistic>
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import { computed } from "vue";
import { Account } from "../../scripts/types";

dayjs.extend(relativeTime);

interface UserLedgerHeaderProps {
  account: Account;
}

const props = defineProps<UserLedgerHeaderProps>();

const createdDate = computed(() => dayjs(props.account.createdAt));
const lastUsedDate = computed(() => dayjs(props.account.updatedAt));
</script>

<style lang="sass" scoped></style>
