<template>
  <a-tag :color="color" class="status-display">
    {{ props.modelValue }}
  </a-tag>
</template>

<script setup lang="ts">
import { computed } from "@vue/reactivity";
import type { DisplayProps } from "../../scripts/DataTableTypes";
import type { AccountRequest } from "../../scripts/types";

interface AccountRequestStatusDisplayProps extends DisplayProps {
  modelValue: AccountRequest["status"];
}

const props = withDefaults(defineProps<AccountRequestStatusDisplayProps>(), {
  edit: false,
  loading: false,
});

const color = computed(() => {
  if (props.modelValue === "approved") {
    return "green";
  } else if (props.modelValue === "pending") {
    return "orange";
  } else if (props.modelValue === "declined") {
    return "red";
  }
});
</script>

<style lang="sass" scoped>
.status-display
  text-transform: capitalize
</style>
