<template lang="pug">
a-form.account-creator(
  layout="vertical",
  :wrapperCol="{ md: { span: 18, offset: 3 }, xs: { span: 20, offset: 2 } }"
)
  a-form-item(
    key="name",
    label="Account Name",
    v-bind="validateInfos.accountName"
  )
    a-input(v-model:value="formState.accountName")

  a-form-item(
    key="type",
    label="Type of Account",
    v-bind="validateInfos.accountType"
  )
    a-card.type-choice(
      hoverable,
      :class="{ selected: formState.accountType === 'user' }",
      @click="() => (formState.accountType = 'user')"
    )
      a-card-meta(
        title="User Account",
        description="User accounts are linked to natural persons. Note that these accounts are generally automatically created when a user requests an account."
      )
        template(#avatar)
          a-avatar(:size="avatarSize", style="background-color: #69b1ff")
            template(#icon)
              UserOutlined

    a-card.type-choice(
      hoverable,
      :class="{ selected: formState.accountType === 'event' }",
      @click="() => (formState.accountType = 'event')"
    )
      a-card-meta(
        title="Event Account",
        description="Event accounts can be used to keep track of expenses made during an event or expanses made on behalf of a group of people."
      )
        template(#avatar)
          a-avatar(:size="avatarSize", style="background-color: #95de64")
            template(#icon)
              RocketOutlined

    a-card.type-choice(
      hoverable,
      :class="{ selected: formState.accountType === 'product_ledger' }",
      @click="() => (formState.accountType = 'product_ledger')"
    )
      a-card-meta(
        title="Ledger Account",
        description="Ledger accounts are used for bookkeeping purposes. These are linked to Exact Online ledger accounts."
      )
        template(#avatar)
          a-avatar(:size="avatarSize", style="background-color: #5cdbd3")
            template(#icon)
              BookOutlined

  a-form-item(
    :wrapperCol="{ md: { span: 4, offset: 3 }, xs: { span: 4, offset: 2 } }"
  )
    a-button(
      type="primary",
      :disabled="!nextButtonEnabled",
      @click="() => onNext()"
    ) Next
</template>

<script setup lang="ts">
import { computed, reactive, ref } from "vue";
import { accountsApi } from "../../scripts/api/accounts";
import { notification } from "ant-design-vue";
import { useRouter } from "vue-router";
import { useAdminRequests } from "../../scripts/util";
import { useForm } from "ant-design-vue/es/form";
import { hasValidateInfoHints } from "../../scripts/composables/form";

const avatarSize = 96 as const;

const router = useRouter();

interface BasicDetailsForm {
  accountName: string;
  accountType: null | "user" | "event" | "product_ledger" | "income_ledger";
}

const formState = reactive<BasicDetailsForm>({
  accountName: "",
  accountType: null,
});

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    accountName: [{ min: 3, required: true, message: "Please enter a name." }],
    accountType: [
      { required: true, message: "Please select an account type." },
    ],
  })
);

const { requestWith, requestsActive } = useAdminRequests();

const nextButtonEnabled = computed(
  () => !hasValidateInfoHints(validateInfos) && !requestsActive.value
);

const onNext = async () => {
  try {
    try {
      await validate();
    } catch (e) {
      return;
    }

    const accountCreateResponse = await requestWith(
      accountsApi.createAccount({
        name: formState.accountName,
        type: formState.accountType,
      })
    );

    notification.success({
      message: "Account created.",
      description: "You can continue modifying the account.",
    });

    router.replace(`/admin/accounts/${accountCreateResponse.result.id}`);
  } catch (e) {
    notification.error({
      message: "Could not create account.",
      description: "Account name is invalid or already in use.",
    });
  }
};
</script>

<style lang="sass" scoped>
.type-choice
  min-height: 104px
  margin: 1em 0

.selected
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.40), 0 3px 6px 0 rgba(0, 0, 0, 0.30), 0 5px 12px 4px rgba(0, 0, 0, 0.22)
</style>
