<template lang="pug">
.admin
  h1 About

  h3 License
  license-text

  template(v-if="store.user")
    h3 Terms and Conditions
    conditions-text
</template>

<script setup lang="ts">
import ConditionsText from "./ConditionsText.vue";
import LicenseText from "./license_text.vue";
import { useLoginStore } from "../scripts/store/login";

const store = useLoginStore();
</script>

<style lang="sass">
@import "../styles/admin.sass"
</style>
