<template lang="pug">
.cart(@click="$emit('cancel')", :class="{ show: show }")
  .inner(@click.stop, :class="{ show: show }")
    .table-container
      table
        colgroup
          col.column--adjust(style="width: 50px")
          col.column--adjust(style="width: 50px")
          col.column--amount(style="width: 50px")
          col.column--name(style="width: auto")
          col.column--price(style="width: 100px")

        tbody
          template(v-for="(cartEntry, index) in cartEntries")
            tr(:data-id="index", :data-price="cartEntry.product.price")
              td.entry__adjust(@click="removeFromCart(index)") -
              td.entry__adjust(@click="addFromCart(index)") +
              td.entry__amount {{ cartEntry.count }}
              td.entry__name {{ cartEntry.product.name }}
              td.entry__price {{ priceStr(cartEntry.product.price * cartEntry.count) }}
            tr.deposit__row(v-if="cartEntry.product.deposit")
              td.deposit__placeholder(:colspan="5")
                img.deposit__image(src="/img/deposit.svg")
                .deposit__textholder
                  p.deposit__text(v-if="cartEntry.count === 1") Please return this bottle to <b>via</b>
                  p.deposit__text(v-if="cartEntry.count > 1") Please return these bottles to <b>via</b>
            tr.deposit__spacing(v-if="cartEntry.product.deposit")

          tr(v-if="topupAmount !== null")
            td.entry__adjust(@click="$emit('clearTopup')") -
            td.entry__adjust
            td.entry__amount
            td.entry__name {{ 'Opwaarderen ' + (topupAccount ? topupAccount.name : '') }}
            td.entry__price {{ priceStr(topupAmount) }}

    input.topup(
      v-show="showTopup",
      type="button",
      @click="$emit('topup')",
      value="Opwaarderen",
      :disabled="topupAmount !== null"
    )

    .total
      span.label Total:
      span.price(:class="{ insufficient: insufficientBalance }") {{ priceStr(price) }}

    template(v-if="showPersonalBalance")
      .total
        span.label Account balance{{ accountSelfStore.creditAccount ? ' (credit)' : '' }}:
        span.price {{ priceStr(accountSelfStore.balance) }}

    template(
      v-if="accountSelfStore.sepaDate && accountSelfStore.sepaBalance !== undefined"
    )
      .total
        span.label Direct debit due {{ localeDate(accountSelfStore.sepaDate) }}:
        span.price {{ priceStr(accountSelfStore.sepaBalance) }}

    .checkout
      input(
        type="button",
        :disabled="cartEntries.length === 0 && topupAmount === null",
        v-if="loginStore.hasCapability('PAYMENT_CASH')",
        @click="$emit('checkout', 'cash')",
        value="Cash"
      )

      input(
        type="button",
        :disabled="cartEntries.length === 0 && topupAmount === null",
        v-if="loginStore.hasCapability('PAYMENT_CARD')",
        @click="$emit('checkout', 'card')",
        value="Card"
      )

      input(
        type="button",
        :disabled="cartEntries.length === 0 || topupAmount !== null || insufficientBalance",
        v-if="loginStore.hasCapability('PAYMENT_ACCOUNT_AUTHED') || loginStore.hasCapability('PAYMENT_ACCOUNT_OTHER')",
        @click="$emit('checkout', 'account')",
        :value="'Account'"
      )

      input(
        type="button",
        :disabled="cartEntries.length === 0 || topupAmount !== null || insufficientBalance",
        v-if="loginStore.hasCapability('PAYMENT_ACCOUNT_SELF')",
        @click="$emit('checkout', 'account_self')",
        :value="'Pay with your account'"
      )

      input(
        type="button",
        :disabled="cartEntries.length === 0 || topupAmount !== null",
        v-if="loginStore.hasCapability('PAYMENT_OTHER')",
        @click="$emit('checkout', 'other')",
        value="Other"
      )
</template>

<script setup lang="ts">
import { CartEntry } from "../scripts/types";
import type { Account } from "../scripts/types";
import { useLoginStore } from "../scripts/store/login";
import { usePurchaseStore } from "../scripts/store/purchase";
import { debounce, priceStr, localeDate } from "../scripts/util";
import { useAccountSelfStore } from "../scripts/store/account";
import { computed, onMounted, onUnmounted } from "vue";

interface CartProps {
  show: boolean;
  cartEntries: CartEntry[];
  topupAmount: number | null;
  topupAccount: Account | null;
  price: number;
  showTopup: boolean;
}

const props = withDefaults(defineProps<CartProps>(), { show: false });

const loginStore = useLoginStore();
const purchaseStore = usePurchaseStore();
const accountSelfStore = useAccountSelfStore();

function removeFromCart(index: number) {
  const cartEntry = props.cartEntries[index];
  if (--cartEntry.count === 0) {
    props.cartEntries.splice(index, 1);
  }
}

function addFromCart(index: number) {
  const cartEntry = props.cartEntries[index];
  ++cartEntry.count;
}

const showPersonalBalance = computed(() => {
  return loginStore.hasCapability("PAYMENT_ACCOUNT_SELF");
});

const insufficientBalance = computed(() => {
  return (
    loginStore.hasCapability("PAYMENT_ACCOUNT_SELF") &&
    !accountSelfStore.creditAccount &&
    accountSelfStore.balance != null &&
    props.price > accountSelfStore.balance
  );
});

const checkout = debounce(() => {
  const purchaseStore = usePurchaseStore();
  purchaseStore.purchaseWith("account_reader");
}, 50);

function handleKeyEvent(event: KeyboardEvent) {
  if (!purchaseStore.cartEntries.length) return;
  if (event.key === "$" || purchaseStore.cardSecret.length) {
    event.preventDefault();
    purchaseStore.cardSecret += event.key;
    checkout();
  }
}

onMounted(() => {
  document.addEventListener("keypress", handleKeyEvent);
});

onUnmounted(() => {
  document.removeEventListener("keypress", handleKeyEvent);
});
</script>

<style lang="sass" scoped>
@import "../styles/_colors.sass"
@import "../styles/_mixins.sass"
@import "../styles/_vars.sass"

.deposit__row
    background: $flat-wet-asphalt
    height: 45px
    border: 0

.deposit__placeholder
    border-bottom-right-radius: 2px
    border-bottom-left-radius: 2px
    background: $flat-wet-asphalt
    position: relative

    -webkit-box-shadow: inset 0px 7px 15px -3px rgba(0,0,0,0.23)
    -moz-box-shadow: inset 0px 7px 15px -3px rgba(0,0,0,0.23)
    box-shadow: inset 0px 7px 15px -3px rgba(0,0,0,0.23)

.deposit__image
    float: left
    display: inline
    margin-left: 10px
    width: 27px

.deposit__text
    display: inline
    color: white

.deposit__textholder
    margin: 0
    position: absolute
    top: 50%
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    margin-left: 60px

.deposit__spacing
    height: 5px

.column--delete
    width: 50px

.column--amount
    width: 50px

.column--name
    width: auto

.column--price
    width: 100px

.cart
    @include mix-user-select(none)

    z-index: 10

    // When collapsed
    @include screen-small
        visibility: hidden

        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0

        margin-top: 0 !important

        background-color: rgba(0, 0, 0, 0.0)
        transition: background-color 0.3s ease-out, visibility 0.3s ease-out

        &.show
            visibility: visible
            background-color: rgba(0, 0, 0, 0.6)

    // For the top navbar
    @media (max-width: 1165px)
        margin-top: 3.5rem

    .inner
        width: 400px
        height: 100%

        border-left: 1px solid #dddddd

        display: flex
        flex-direction: column

        font-size: 1.2em
        background-color: #f2f2f6

        .table-container
            flex: 1
            overflow-y: auto

        // When collapsed
        @include screen-small
            max-width: 80%
            margin-top: 0

            position: absolute
            top: 0
            right: 0
            bottom: 0

            transform: translateX(400px)

            transition: transform 0.2s ease-out

            border-left: 0

            &.show
                box-shadow: 10px 0 30px 15px rgba(0, 0, 0, 0.2)
                transform: translateX(0)


.container
    flex-grow: 1
    overflow-y: auto

table
    table-layout: fixed
    border-collapse: collapse
    margin-bottom: 1rem
    width: 100%

    tr
        height: 50px
        border-bottom: 1px solid rgba(0, 0, 0, 0.12)

    td
        padding: 0 8px

        border-color: #dddddd
        background-color: #ffffff

.entry__adjust
    font-size: 1.2em
    border-right: 1px solid #dddddd

    text-align: center
    cursor: pointer

    user-select: none

.entry__adjust:active
    background: #e0e0e0

.entry__amount
    text-align: right

.entry__price
    text-align: right

.total
    line-height: 50px
    height: 50px
    width: 100%
    background-color: #ffffff
    border-top: 1px solid #dddddd
    padding: 0 15px

    .label
        color: #333

    .price
        float: right
        line-height: 50px
        text-align: right
        font-weight: 700

        &.insufficient
            color: $flat-red-2

input
    background-color: $flat-blue-3 !important
    color: #ffffff
    font-size: 1em
    border-radius: 0
    border: 0
    height: 75px

    -webkit-appearance: none
    -moz-appearance: none
    -ms-appearance: none
    appearance: none

    &:not([disabled])
        cursor: pointer

    &[disabled]
        opacity: 0.54

.checkout
    width: 100%

    input
        float: left
        width: 50%
        border-top: 1px solid #ffffff

        &:nth-child(odd)
            border-right: 1px solid #ffffff

        &:first-child:nth-last-child(1)
            width: 100%
</style>
