<template lang="pug">
.checkmark-circle
  .background
  .checkmark.draw
</template>

<script setup lang="ts"></script>

<style lang="sass" scoped>
@import "../styles/_colors.sass"

$circle-size: 180px

$check-height: 70px
$check-width: 38px
$check-left: 44px
$check-top: 80px
$check-thickness: 12px

.checkmark-circle
    width: $circle-size
    height: $circle-size
    position: relative
    display: inline-block
    vertical-align: top

    .background
        width: $circle-size
        height: $circle-size
        border-radius: 50%
        background: $flat-green-4
        position: absolute
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2)

    .checkmark
        border-radius: 5px

        &.draw:after
            animation-delay: 0.1s
            animation-duration: 0.4s
            animation-timing-function: ease
            animation-name: checkmark
            height: 0
            width: 0
            opacity: 0
            transform: scaleX(-1) rotate(135deg)
            animation-fill-mode: forwards

        &:after
            opacity: 1
            height: $check-height
            width: $check-width
            transform-origin: left top
            border-right: $check-thickness solid white
            border-top: $check-thickness solid white
            border-radius: 2.5px !important
            content: ""
            left: $check-left
            top: $check-top
            position: absolute

@keyframes checkmark
    0%
        height: 0
        width: 0
        opacity: 1

    20%
        height: 0
        width: $check-width
        opacity: 1

    40%
        height: $check-height
        width: $check-width
        opacity: 1

    100%
        height: $check-height
        width: $check-width
        opacity: 1
</style>
