<template lang="pug">
.modal
  .inner
    .title Terms and conditions

    conditions-text

    p I have read and agree to the terms and conditions above.

    .buttons
      input(@click="$emit('cancel')", type="button", value="Cancel")
      input(@click="$emit('confirm', '')", type="submit", value="Accept")
</template>

<script setup lang="ts">
import ConditionsText from "./ConditionsText.vue";
</script>

<style lang="sass" scoped>
@import "../styles/modal.sass"

.modal
    .inner
        text-align: left
        width: 1000px

    .title
        text-align: center

    p
        margin-left: 10px
        margin-top: -10px
</style>
