<template lang="pug">
div(:class="{ 'loading-container-overlay': active }")
  .loading-container
    .loading-container-child
      slot

    .spinner-container(v-if="active")
      .spinner
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
        .spinner__blade
</template>

<style lang="sass" scoped>
@use "sass:math"


.loading-container
    position: relative
    width: 100%
    height: 100%

    .loading-container-child
        position: absolute
        width: 100%
        height: 100%

    .spinner-container
        position: absolute
        width: 100%
        height: 100%

        display: flex
        align-items: center
        justify-content: center

.loading-container-overlay
    pointer-events: none
    opacity: 0.5

.spinner
    position: relative
    width: 35px
    height: 35px

    .spinner__blade
        background-color: #8c8c8c
        // background-color: white

        position: absolute
        left: 44.5%
        top: 37%
        width: math.div(100%, 35) * 3
        height: math.div(100%, 35) * 9
        border-radius: math.div(50%, 16.67%)
        animation: spinnerAnimation 1s linear infinite
        will-change: opacity

        @for $i from 1 through 12
            &:nth-child(#{$i})
                animation-delay: math.div(1s, 12) * ($i - 21)
                transform: rotate(math.div(360deg, 12) * $i) translate(0, -150%)

@keyframes spinnerAnimation
    0%
        opacity: 0.85
    50%
        opacity: 0.25
    100%
        opacity: 0.25
</style>

<script setup lang="ts">
interface LoadingContainerProps {
  active: boolean;
}
const props = defineProps<LoadingContainerProps>();
</script>
