<template lang="pug">
.login
  h3.header(style="color: rgb(9, 77, 151)") Inloggen

  .panel-container
    .panel
      .panel-header-login
        span.panel-header-item.panel-header-item-login(
          @click="showUsernameLoginTab = false",
          :class="{ 'tab-active': !showUsernameLoginTab }"
        ) #[strong via]-account
        span.panel-header-item.panel-header-item-login(
          @click="showUsernameLoginTab = true",
          :class="{ 'tab-active': showUsernameLoginTab }"
        ) Password
      .panel-control
        .login-via(v-show="!showUsernameLoginTab")
          | Click to sign-in with #[strong via]-account
          img(src="/img/via_logo.svg", @click="loginVia()")

        form.form(v-show="showUsernameLoginTab")
          input(
            type="text",
            name="username",
            v-model="username",
            placeholder="Gebruikersnaam",
            autocomplete="username",
            autocapitalize="none"
          )
          input(
            type="password",
            name="password",
            autocomplete="current-password",
            v-model="password",
            placeholder="Wachtwoord"
          )
          input(
            type="submit",
            value="→",
            @click="loginDefault",
            :disabled="!loginButtonEnabled"
          )

  router-link.panel-header-item.panel-header-item-login(
    :to="{ name: 'about' }"
  )
    small About Point of Sale
</template>

<script setup lang="ts">
import { useLoginStore } from "../scripts/store/login";
import { notification } from "ant-design-vue";
import { ref } from "@vue/reactivity";
import { useRoute, useRouter } from "vue-router";
import { useRouteQuery } from "@vueuse/router";
import { objectToSearchParamString } from "../scripts/api/api";

const showUsernameLoginTab = ref(false);
const username = ref("");
const password = ref("");
const loginButtonEnabled = ref(true);
const route = useRoute();
const router = useRouter();
const loginStore = useLoginStore();

async function loginDefault(ev: MouseEvent) {
  ev.preventDefault();

  try {
    loginButtonEnabled.value = false;
    await loginStore.loginWith(
      username.value.toLowerCase().trim(),
      password.value
    );
    if (typeof route.query.next === "string") {
      await router.push(route.query.next);
    } else {
      await router.push("/");
    }
  } catch (e) {
    if (e.errorCode === 401) {
      notification.error({
        message: "Invalid username and/or password.",
        description: "Please try again",
      });
    }
  } finally {
    loginButtonEnabled.value = true;
  }
}

async function loginVia() {
  // Generate a random integer between 0 and 1000000 to send as state.
  const verifier = Math.floor(Math.random() * 1000001).toString();
  localStorage.setItem("verifier", verifier);
  const params = encodeURIComponent(
    objectToSearchParamString({
      verifier: verifier,
      route: route.query.next ?? "/",
    }) ?? ""
  );

  const config = JSON.parse(localStorage["config"]);

  const host = "https://svia.nl/";
  const redirectUrl = `${window.location.origin}/login/callback`;
  const clientId = config.viaductClientId;
  const scope = "user";
  window.location.href = `${host}oauth/authorize?response_type=code&client_id=${clientId}&redirect_uri=${redirectUrl}&scope=${scope}&state=${params}`;
}
</script>

<style lang="sass" scoped>
@import "../styles/admin.sass"
@import "../styles/panel.sass"


.login
    display: flex
    flex-direction: column
    height: 100%
    width: 100%

    align-items: center
    justify-content: center

.panel-header-login
    justify-content: space-evenly
    display: flex
    align-content: center
    height: 2rem


.panel-header-item-login
    cursor: pointer

.panel-container
    min-width: 350px
    min-height: 270px
    margin-bottom: 10px


.panel-control
    height: 90%
    justify-content: center

.tab-active
    border-bottom: 2px solid rgb(9, 77, 151)

.login-via
    text-align: center

    .panel-container
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-radius: 5px

    img
        cursor: pointer
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-radius: 5px
        padding: 0.5em
        margin-top: 1em
        max-width: 100%

.form
    display: flex
    flex-direction: column
    text-align: center
    width: 100%

    input
        padding: 0.6em
        margin: 1em 0

    input[type="text"],
    input[type="password"]
        border: 1px solid rgba(0, 0, 0, 0.1)
</style>
