<template lang="pug">
.component
  input(
    type="button",
    @click="debouncedSwitchPage(currentPageWithBuffer - 1)",
    :disabled="currentPageWithBuffer === 1",
    value="<"
  )

  input(
    type="button",
    v-if="currentPageWithBuffer >= 3",
    @click="switchPage(1)",
    value="1",
    :class="classes(1)"
  )
  input.ellipsis(
    type="button",
    v-if="currentPageWithBuffer > 3",
    value="…",
    @click="promptPage"
  )

  template(v-for="page in pageCount")
    input(
      type="button",
      v-if="page > currentPageWithBuffer - 2 && page < currentPageWithBuffer + 2",
      @click="switchPage(page)",
      :value="page",
      :class="classes(page)"
    )

  input.ellipsis(
    type="button",
    v-if="currentPageWithBuffer < pageCount - 2",
    value="…",
    @click="promptPage"
  )
  input(
    type="button",
    v-if="currentPageWithBuffer <= pageCount - 2",
    @click="debouncedSwitchPage(pageCount)",
    :value="pageCount",
    :class="classes(pageCount)"
  )

  input(
    type="button",
    @click="debouncedSwitchPage(currentPageWithBuffer + 1)",
    :disabled="currentPageWithBuffer === pageCount",
    value=">"
  )
</template>

<script setup lang="ts">
import { computed, ref } from "vue";

interface PaginationProps {
  currentPage: number;
  switchPage: (page: number | undefined) => void;
  pageCount: number;
}
const props = defineProps<PaginationProps>();

const timeout = ref(0);
const pageCountBuffer = ref(0);

function classes(page: number): { secondary: boolean } {
  return {
    secondary: page !== currentPageWithBuffer.value,
  };
}

function debouncedSwitchPage(page: number) {
  pageCountBuffer.value = page - props.currentPage;
  if (timeout.value !== 0) {
    clearTimeout(timeout.value);
  }
  timeout.value = window.setTimeout(() => {
    props.switchPage(page);
    pageCountBuffer.value = 0;
    timeout.value = 0;
  }, 300);
}

const currentPageWithBuffer = computed(() => {
  return props.currentPage + pageCountBuffer.value;
});

function promptPage() {
  const input = prompt("Welke pagina?");
  if (input === null) {
    return;
  }

  const page = Math.max(1, Math.min(props.pageCount, parseInt(input)));
  if (!isNaN(page)) {
    debouncedSwitchPage(page);
  }
}
</script>

<style lang="sass" scoped>
@import "../styles/admin.sass"

input[type=button]
    &.ellipsis
        color: #004b99
        border-top: 1px solid #004b99
        border-bottom: 1px solid #004b99
        background-color: transparent
        padding: 6px 11px

    &:first-child
        border-top-left-radius: 2px
        border-bottom-left-radius: 2px

    &:last-child
        border-top-right-radius: 2px
        border-bottom-right-radius: 2px

    border-radius: 0
</style>
