<template lang="pug">
.admin
  h1 Account setup

  a-row
    a-col(:xs="24", :xl="12")
      p
        | On this page you can request an account with pincode for easier payments.
        | Any purchased items are deducted from your accounts balance.
        | With an account you can select the "Account" payment option at checkout.
        | Your account can be credited through iDeal, at the bar during drinks or automatically credited with SEPA (incasso).

      p
        | All
        |
        router-link(:to="{ name: 'about' }") terms and conditions
        |
        | apply to accounts.

      a-skeleton(
        v-if="requestsActive",
        :paragraph="{ rows: 4 }",
        :active="true"
      )
      a-form(
        v-else-if="!pendingRequest",
        :label-col="labelCol",
        :wrapper-col="wrapperCol"
      )
        a-form-item(label="Name")
          a-input(:value="userName")
        a-form-item(label="Account pin", v-bind="validateInfos.pin")
          a-input(
            v-model:value="modelRef.pin",
            placeholder="4 digit pin used to complete purchases."
          )
        a-form-item(:wrapper-col="wrapperColNoLabel")
          a-button(type="primary", @click="requestAccount") Request account
      a-result(v-else="", v-bind="pendingRequestDisplay")
        template(#extra, v-if="pendingRequest.status === 'approved'")
          router-link(
            to="account",
            :custom="true",
            v-slot="{ navigate, href }"
          )
            a-button(type="primary", @click="navigate", :href="href") Account
          router-link(
            :to="{ name: 'pos' }",
            :custom="true",
            v-slot="{ navigate, href }"
          )
            a-button(@click="navigate", :href="href") Order
</template>

<script setup lang="ts">
import { accountsApi } from "../scripts/api/accounts";
import type { AccountRequest } from "../scripts/types";
import { computed, onMounted, reactive, ref } from "vue";
import { showError, useAdminRequests } from "../scripts/util";
import { pinValidator, useFormSizes } from "../scripts/composables/form";
import { useRouter } from "vue-router";
import { useForm } from "ant-design-vue/es/form";
import type { ResultProps } from "ant-design-vue/es/result";
import { useLoginStore } from "../scripts/store/login";

let pendingRequest = ref<AccountRequest | null>(null);

const { requestsActive, requestWith } = useAdminRequests();
const router = useRouter();
const loginStore = useLoginStore();
const userName = computed(() => loginStore.user?.name);

const { labelCol, wrapperCol } = useFormSizes();
const { wrapperCol: wrapperColNoLabel } = useFormSizes({ label: false });

interface ModelForm {
  pin: string;
}

const modelRef = reactive<ModelForm>({
  pin: "",
});

const { validate, validateInfos } = useForm(
  modelRef,
  reactive({
    pin: [{ validator: pinValidator }],
  })
);

const pendingRequestDisplay = computed<ResultProps>(() => {
  if (!pendingRequest.value) {
    // This should not happen.
    return { title: "Unknown", description: "Unknown", status: "error" };
  }

  switch (pendingRequest.value.status) {
    case "pending":
      return {
        title: "Request submitted!",
        subTitle: "Request awaiting approval by a board member",
      };
    case "approved":
      return {
        title: "Request approved!",
        subTitle:
          "You can upgrade your balance in your account and start placing orders",
        status: "success",
      };
    case "declined":
      return {
        title: "Request declined",
        subTitle: "Request was declined, please contact the board.",
        status: "error",
      };
    default:
      const exhaustCheck: never = pendingRequest.value.status;
      throw new Error("Should not happen.");
  }
});

const pendingRequestStatus = computed(() => {
  if (!pendingRequest.value) {
    // This should not happen
    return "error";
  }
});

onMounted(async () => {
  try {
    pendingRequest.value = (
      await requestWith(accountsApi.accountRequestPending())
    ).result.account_request;
  } catch (e) {
    showError(e);
  }
});

const requestAccount = async () => {
  let values: ModelForm;
  try {
    values = await validate<ModelForm>();
  } catch (e) {
    return;
  }
  try {
    pendingRequest.value = (
      await requestWith(accountsApi.requestAccount(values.pin))
    ).result.account_request;
  } catch (e) {
    showError(e);
  }
};
</script>

<style lang="sass">
@import "../styles/admin.sass"

i.grey
    color: grey
</style>
