<template lang="pug">
li
  router-link.badge-container(:to="href") {{ title }}
    span.badge(v-if="notifications && notifications > 0") {{ notifications }}
  ul
    slot
</template>

<script setup lang="ts">
interface SidebarElementProps {
  href: string;
  name: string;
  title: string;
  notifications?: number;
}
const props = defineProps<SidebarElementProps>();
</script>

<style lang="sass" scoped>
.badge-container
    position: relative
    display: inline-block

.badge
    position: absolute
    right: 10px
    top: 10px
    padding: 5px 10px
    border-radius: 50%
    background: #dc3912
    color: white


ul
    padding: 0
    margin: 0

li
    list-style: none
    padding: 0

    border-bottom: 1px solid rgba(255, 255, 255, 0.1)

    &.sub
        border-bottom: none

        a
            padding-left: 3.3em

a
    padding: 1em 2em
    display: inline-block
    width: 100%
    color: #ffffff

    &:hover
        background-color: rgba(255, 255, 255, 0.1)
        text-decoration: none

    &.router-link-active
        background-color: rgba(255, 255, 255, 0.08)
</style>
