@import "common.sass"
@import "_colors.sass"

.admin
    flex: 1
    padding: 0 32px
    height: 100%
    overflow-y: auto

    @media (max-width: 1165px)
        margin-top: 3.5em
        margin-bottom: 3.5em
        padding: 0 12px
        height: calc(100% - 3.5em)

.view
    height: 100%

table
    width: 100%
    border-collapse: collapse

    th,
    td
        padding: 0.75rem 0.2rem

    td
        border-bottom: 1px solid #eceeef
        vertical-align: middle

    th
        border-top: 1px solid #eceeef
        border-bottom: 2px solid #eceeef
        vertical-align: bottom
        text-align: left

label
    margin: .5em .3em .1em 0
    display: block

    &.inline
        display: inline-block

tr.clickable
    cursor: pointer

    &:hover
        background-color: rgba(0, 0, 0, 0.07)

tr[data-color='0']
    box-shadow: -6px 0 0 0 $flat-green-2

tr[data-color='1']
    box-shadow: -6px 0 0 0 $flat-green-4

tr[data-color='2']
    box-shadow: -6px 0 0 0 $flat-blue-2

tr[data-color='3']
    box-shadow: -6px 0 0 0 $flat-purple-2

tr[data-color='4']
    box-shadow: -6px 0 0 0 $flat-blue-4

tr[data-color='5']
    box-shadow: -6px 0 0 0 $flat-orange-1

tr[data-color='6']
    box-shadow: -6px 0 0 0 $flat-orange-3

tr[data-color='7']
    box-shadow: -6px 0 0 0 $flat-red-2

tr.deleted
    opacity: 0.3
    text-decoration: line-through

.pagination
    margin-top: 10px
    display: inline-block
    border: 1px solid #eceeef
    border-radius: 5px

    a
        box-sizing: content-box
        display: block
        float: left
        width: 30px
        height: 30px

        line-height: 30px
        text-align: center
        border-right: 1px solid #eceeef

        &:first-child
            border-top-left-radius: 4px
            border-bottom-left-radius: 4px

        &:last-child
            border-right: 0
            border-top-right-radius: 4px
            border-bottom-right-radius: 4px

    .active
        cursor: default
        color: #ffffff

    .ellipsis
        cursor: default

select
    font-size: 0.9em
    border-radius: 5px
    border: 1px solid rgba(0, 0, 0, 0.1)
    width: 100%

    -webkit-appearance: none
    background: url('/img/dropdown.svg') right / 20px no-repeat #fff
    padding: 0.4em 20px 0.4em 0.4em

input,
a.button
    font-size: 14px
    border-radius: 2px
    padding: 4px

input[type="date"]
    padding: 0 3px
    margin: 0 6px
    line-height: 1.6em
    border: 1px solid $flat-gray-1
    background: #fcfcfc
    font-size: 1rem

    -webkit-appearance: none

input[type='text'],
input[type='password'],
input[type='number']
    width: 100%
    border: 1px solid rgba(0, 0, 0, 0.1)

input[type='submit'],
input[type='button']
    vertical-align: middle
    display: inline-block
    color: #ffffff
    background-color: rgb(9, 77, 151)
    border: 0

    padding: 7px 16px
    cursor: pointer
    -webkit-appearance: none

    &.bad
        background-color: #e74c3c

    &.small
        padding: 6px 10px

    &.secondary
        color: #094d97
        box-sizing: content-box
        box-shadow: inset 0 0 0 1px #094d97
        background-color: #ffffff

    &.delete
        background: #e74c3c url('/img/delete.svg') no-repeat center

        &[disabled]
            background: #bdc3c7 url('/img/delete.svg') no-repeat center



    &.undelete
        background: #319720 url('/img/delete.svg') no-repeat center

    &.update
        background-image: url('/img/refresh-white.svg')
        background-position: center
        background-repeat: no-repeat

    &.approve,
    &.decline
        background-repeat: no-repeat
        background-position-x: 6px
        background-position-y: center
        padding-left: 34px
        transition: background-color 0.3s ease-out

    &.approve
        background-color: $flat-emerald
        background-image: url('/img/check_white.svg')

        &:hover
            background-color: $flat-nephritis

    &.decline
        background-color: $flat-alizarin
        background-image: url('/img/close_white.svg')

        &:hover
            background-color: $flat-pomegranate


    &[disabled]
        background: $flat-gray-2
        cursor: default

.loading-icon
    width: 50px
    height: 50px
    border: 5px solid #ddd
    border-top: 5px solid #666
    border-radius: 50%
    margin: auto auto
    animation: spin 2.5s infinite ease-in-out

@keyframes spin
    0%
        transform: rotate(90deg)
        border-radius: 50%

    45%
        transform: rotate(450deg)
        border-radius: 30%

    100%
        transform: rotate(810deg)
        border-radius: 50%

.loading-overlay
    pointer-events: none
    opacity: 0.5

a.ant-btn.ant-btn-link
    display: flex
    align-items: center
