input[type="text"],
input[type="number"],
input[type="password"],
select
  width: 250px

.method
  width: 100px

input.invalid
  padding-left: 20px
  background: url("/img/alert-circle.svg") left/18px no-repeat #ffffff

input.valid
  padding-left: 20px
  background: url("/img/check.svg") left/18px no-repeat #ffffff

input.checking
  padding-left: 20px
  background: url("/img/dots-horizontal.svg") left/18px no-repeat #ffffff
