@import "_fonts.sass"

.gauge
  height: 230px

  font-family: $font-slides

  .gauge-content
    width: 200px
    height: 200px

  .gauge-description
    height: 30px
    margin: 10px auto 0 auto
    text-align: center

    font-size: 16px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 0.7px
