@import "_vars.sass"
@import "_fonts.sass"
@import "_colors.sass"

.modal-stack
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 100

.modal-stack-animation-enter-active, .modal-stack-animation-leave-active
    transition: all 0.3s ease

.modal-animation-container
    width: 100%
    height: 100%

.modal-container
    position: absolute
    width: 100%
    height: 100%
    transform: scale(1) translateY(0)
    opacity: 1
    background-color: rgba(0, 0, 0, 0.5)
    -webkit-backface-visibility: hidden
    -webkit-transform-style: preserve-3d

.modal-animation-enter-active, .modal-animation-leave-active
    transition: opacity 0.15s ease-out, transform 0.15s ease-out

.modal-animation-enter-from
    opacity: 0
    transform: translateY(-5px)

.modal-animation-enter-to
    opacity: 1
    transform: translateY(0)

.modal-animation-leave-from
    opacity: 1
    transform: scale(1)

.modal-animation-leave-to
    opacity: 0
    transform: scale(1.03)

.modal
    height: 100%

    display: flex
    justify-content: center
    align-items: center

    z-index: 100

    // Force 3D rendering, avoiding 'shaking' text
    -webkit-transform: translateZ(0)
    transform: translateZ(0)

    .inner
        background-color: #ffffff
        border-radius: 5px
        box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3)

        margin: 80px
        display: flex
        flex-direction: column
        justify-content: flex-start
        text-align: center
        max-height: 80%
        overflow: auto

        @include screen-medium
            margin: 40px

        @include screen-small
            height: 80%
            overflow: auto
            margin-left: 8px
            margin-right: 8px

    .title
        width: 100%

        font-family: $font-caption2
        font-weight: 300
        font-size: $modal-title-size

        padding: $modal-title-padding
        border-bottom: 1px solid rgba(0, 0, 0, 0.12)

        @include screen-compact
            font-size: $modal-title-size-compat
            padding: $modal-title-padding-compact

    .message
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        flex: 1

        font-family: $font-caption2
        font-weight: 300
        font-size: $modal-message-size
        padding: $modal-message-padding

        @include screen-compact
            font-size: $modal-message-size-compact
            padding: $modal-message-padding-compact

    .buttons
        width: 100%

        input
            float: left
            width: 50%
            height: 60px

            cursor: pointer

            font-size: $modal-button-size

            background-color: transparent
            color: $flat-blue-1

            -webkit-appearance: none
            -webkit-border-radius: 0
            border-radius: 0

            border: 0
            border-right: 1px solid #e0e0e0
            border-top: 1px solid #e0e0e0

            &:last-child
                border-right: 0

            &.confirm
                background-color: $flat-blue-1
                color: #ffffff
                border-bottom-right-radius: 5px

            &.full-width
                width: 100%
                border-bottom-left-radius: 5px

            @include screen-compact
                font-size: $modal-button-size-compact
                height: $modal-button-height-compact
