@import "_colors"

.search-container
    min-height: 32px
    padding: 8px 10px
    flex: 0 0 auto
    display: flex
    flex-direction: row

    .refresh-icon
        padding-right: 8px
        filter: invert(.5)
        cursor: pointer

    .search
        flex: auto
        border-radius: 8px
        background: #f3f3f5

        .search__icon
            display: inline-block
            vertical-align: middle
            height: 14px
            width: 14px
            margin: 0 0 0 8px
            background: url('/img/search.svg') center center no-repeat

        input
            display: inline-block
            width: calc(100% - 24px)
            line-height: 32px
            margin: 0
            padding: 0 8px
            caret-color: #304ba3
            border: none
            outline: none

            color: black
            background: #f3f3f5
            box-shadow: none
            border-radius: 8px
            -webkit-appearance: none
            font-size: 14px

    .search__clear
        flex: none
        display: inline-block
        line-height: 32px
        padding: 0 4px 0 12px
        vertical-align: middle

        font-size: 15px
        color: $flat-blue-1
        cursor: pointer
