<template lang="pug">
DataTable(
  endpoint="/api/admin/invoice/",
  row-key="id",
  size="small",
  :column-mapping="columnMapping",
  :filter-definition="filterDefinition",
  searchPlaceholder="Search for Invoice IDs and vendors"
)
  template(#row-buttons="{ record, context, loading }")
    a-button-group(v-if="!context.isEditing(record)", size="small")
      a-button(@click="() => openInvoiceFile(record.uploadedFileId)") Download
</template>

<script setup lang="ts">
import DataTable from "../../datatable/DataTable.vue";

import type { ColumnMapping } from "../../../scripts/DataTableTypes";
import { invoiceApi } from "../../../scripts/api/invoice";
import { markRaw } from "vue";
import DateDisplay from "../../common/DateDisplay.vue";

const filterDefinition = [];

const columnMapping: ColumnMapping = {
  createdAt: {
    title: "Created",
    component: markRaw(DateDisplay),
    sort: "createdAt",
  },
  invoiceId: {
    title: "Invoice ID",
    sort: "invoiceId",
  },
  vendor: {
    title: "Vendor",
  },
} as const;

const openInvoiceFile = async (fileId: string) => {
  let publicUrlObj = await invoiceApi.getInvoiceUrl(fileId);

  // To avoid popup blockers (for which it is hard to miss that you have to manually allow).
  let newWindow = window.open("about:blank", "_blank");
  newWindow!!.location.href = publicUrlObj.result.url;
};
</script>

<style lang="sass" scoped>
@import '../../../styles/admin.sass'

.buttons
    margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
    overflow-x: auto !important

.ant-btn-primary
    background-color: #2980B9 !important
</style>
