<template lang="pug">
div
  a-steps(:current="currentStep")
    a-step(title="Upload invoice")
    a-step(title="Match and adjust")
    a-step(title="Confirm")

  div(v-if="currentStep === 0")
    h3 Add invoice
    p Upload your invoice of the products that were bought.

    a-form
      a-form-item(v-bind="validateInfos.file", label="Invoice")
        a-upload(
          :multiple="false",
          :beforeUpload="() => false",
          v-model:file-list="modelRef.file"
        )
          a-button
            upload-outlined
            | File (PDF)

  div(v-if="currentStep === 1")
    h3 We found {{ invoice.line_items.length }} products

    p Please check for errors and adjust where necessary.

    table.table.matching-table
      tbody
        tr
          th
            strong Item name
          th
            strong Units bought
          th
            strong Multipack
            br
            i Number of units per package
          th
            strong Unit price
          th
            strong Our product
          th
            strong Our price

        tr(v-for="item in invoice.line_items")
          td {{ item.item }}
          td {{ item.quantity }}
          td.multipack
            a-input-number(
              v-model:value="item.multipack",
              :default-value="item.multipack",
              :min="1"
            )
          td {{ priceStr(getLineItemUnitPrice(item)) }}
          td.product
            a-select(
              style="width: 80%",
              :default-value="item.productId",
              v-model:value="item.productId",
              :options="searchProducts",
              :filter-option="filterOption",
              show-search,
              @select="(v) => updateLineItem(item, v)"
            )
            .no-match(v-if="item.productId === 0")
              WarningOutlined
              | &nbsp; No match / ignored
            .match-was-guessed(v-if="item.matchWasGuessed")
              WarningOutlined
              | &nbsp; Fuzzy matched
          td
            span(v-if="item.productPrice !== 0") {{ priceStr(item.productPrice) }}
            span.price-mismatch(
              v-if="item.productPrice !== 0 && getLineItemUnitPrice(item) > item.productPrice"
            )
              WarningOutlined

  div(v-if="currentStep === 2")
    h3 Overview of changes

    table.table
      tbody
        tr
          td
            strong Product
          td
            strong Bought
          td
            strong Now in store

        tr(v-for="(diff, productId) in productUpdates")
          td {{ productsById[productId].name }}
          td {{ diff }}
          td {{ productsById[productId].quantity + diff }}

    p(v-if="!!matcherUpdates")
      br
      b These products taken from the invoice will be linked to products in PoS in the future.

      table.table
        tbody
          tr
            td
              strong Invoice item
            td
              strong PoS Product
            td
              strong Multipack

          tr(v-for="(update, item_name) in matcherUpdates")
            td {{ item_name }}
            td {{ productsById[update.productId].name }}
            td {{ update.multipack }}

  div
    a-button(
      v-if="currentStep > 0 && currentStep < 3",
      type="primary",
      @click="() => currentStep--"
    ) Back

    a-space
      a-button(
        v-if="currentStep < 2",
        type="primary",
        @click="() => next()",
        :disabled="uploadingInvoice"
      ) Next

      div(v-if="uploadingInvoice") Processing invoice, this might take up to a minute...

    a-button(
      v-if="currentStep === 2",
      type="primary",
      @click="() => execute()"
    ) Confirm
</template>

<style lang="sass" scoped>
@import ../../../styles/admin.sass
@import ../../../styles/_colors.sass
@import ../../../styles/common.sass

.admin
  padding: 1em
  margin-bottom: 1em

.matching-table
  th
    vertical-align: top

  .multipack
    width: 120px

  .emphasize
    font-weight: bold !important

  .product
    min-width: 250px

  .no-match
    color: $flat-red-1

  .match-was-guessed
    color: $flat-yellow-1

  .price-mismatch
    color: $flat-red-1
    margin-left: 4px

input[type="file"],
select
  width: 300px

input[type="button"]
  margin-top: 1em
  margin-right: 1em
</style>

<script setup lang="ts">
import { WarningOutlined } from "@ant-design/icons-vue";
import type { SelectProps } from "ant-design-vue";
import { notification } from "ant-design-vue";
import type { Product } from "../../../scripts/admin_types";
import { invoiceApi } from "../../../scripts/api/invoice";
import type {
  ImportingInvoice,
  ImportingInvoiceLineItem,
} from "../../../scripts/api/invoice";
import { productsApi } from "../../../scripts/api/products";
import { computed, reactive, ref } from "vue";
import { priceStr, useAdminRequests } from "../../../scripts/util";
import { useForm } from "ant-design-vue/es/form";
import { isApiResponse } from "../../../scripts/api/api";

interface ModelForm {
  file?: { originFileObj: File }[];
}

const modelRef = reactive<ModelForm>({
  file: undefined,
});

const { validate, validateInfos } = useForm(
  modelRef,
  reactive({
    file: [{ required: false, message: "Please upload an invoice" }],
  })
);

const currentStep = ref(0);
const uploadingInvoice = ref(false);

const { requestWith, requestsActive } = useAdminRequests();

const invoice = ref<ImportingInvoice | null>(null);

const allProducts = ref<Product[]>([]);

const productsById = computed<{ [productId: number]: Product }>(() =>
  Object.fromEntries(allProducts.value.map((product) => [product.id, product]))
);

const searchProducts = computed<SelectProps["options"]>(() => [
  { label: "Ignored", value: 0 },
  ...allProducts.value.map(function (p) {
    return { label: p.name + (p.deleted ? " (deleted)" : ""), value: p.id };
  }),
]);

const updateLineItem = (
  lineItem: ImportingInvoiceLineItem,
  productId: number
) => {
  const product = productsById.value[productId];
  if (product) {
    lineItem.productPrice = product.price;
  } else {
    lineItem.productPrice = 0;
  }
};

const getLineItemUnitPrice = (item: ImportingInvoiceLineItem) => {
  return item.totalPrice / item.quantity / item.multipack;
};

const filterOption = (input: string, option: any) => {
  return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
};

interface ProductUpdate {
  item: string;
  quantity: number;
  multiplier: number;
}

interface MatcherUpdate {
  productId: number;
  multipack: number;
}

const matcherUpdates = computed<Record<string, MatcherUpdate>>(() => {
  let updates = {};
  invoice.value!.line_items.forEach((i) => {
    if (
      i.productId &&
      (i.originalProductId != i.productId || i.originalMultipack != i.multipack)
    ) {
      updates[i.item] = {
        productId: i.productId,
        multipack: i.multipack,
      };
    }
  });
  return updates;
});

const productUpdates = computed<{
  [productId: number]: [quantityDiff: number];
}>(() => {
  let updates = {};
  invoice.value!.line_items.forEach((i) => {
    if (i.productId) {
      if (!updates[i.productId]) updates[i.productId] = 0;

      updates[i.productId] += i.quantity * i.multipack;
    }
  });
  return updates;
});

const uploadFile = async (file) => {
  const formData = new FormData();
  formData.append("file", file);
  const response = await requestWith(invoiceApi.processInvoice(formData));
  return response.result.invoice;
};

const next = async () => {
  if (currentStep.value == 0) {
    let values: ModelForm;
    try {
      values = await validate();
    } catch (e) {
      return;
    }
    try {
      const firstFile = values.file!!.map((e) => e.originFileObj)[0];

      uploadingInvoice.value = true;

      invoice.value = await requestWith(uploadFile(firstFile));

      invoice.value.line_items.forEach((i) => {
        i.originalMultipack = i.multipack;
        i.originalProductId = i.productId;
        if (i.matchWasGuessed) {
          i.originalProductId = 0;
        }
      });

      allProducts.value = (
        await requestWith(productsApi.adminProducts())
      ).result.products.data;
    } catch (e) {
      if (isApiResponse(e)) {
        if (e?.errorIdentifier === "duplicate_invoice") {
          notification.error({
            message: "Could not process this invoice.",
            description: "This invoice was already processed",
          });
        } else {
          notification.error({
            message: "There was an issue processing this invoice",
            description: e.errorMessage ? e.errorMessage : "Reason unknown",
          });
        }
      } else {
        notification.error({
          message: "There was an issue processing this invoice",
          description: e.toString(),
        });
      }
      return;
    } finally {
      uploadingInvoice.value = false;
    }
  }

  if (currentStep.value < 2) {
    currentStep.value++;
  }
};

const execute = async () => {
  try {
    await invoiceApi.updateClassification({
      updates: Object.entries(matcherUpdates.value).map((i) => {
        const [key, value] = i;
        return {
          item: key,
          multipack: value.multipack,
          productId: value.productId,
        };
      }),
    });

    await invoiceApi.updateQuantities({
      updates: Object.entries(productUpdates.value).map((i) => {
        const [key, value] = i;
        return {
          productId: key,
          diff: value,
        };
      }),
    });

    await invoiceApi.markImported({
      invoice_id: invoice.value!!.id,
    });

    modelRef.file = undefined;
    invoice.value = null;
    currentStep.value = 0;

    notification.success({
      message: "Invoice processed",
    });
  } catch (e) {
    if (isApiResponse(e)) {
      notification.error({
        message: "There was an issue processing this invoice",
        description: e.errorMessage ? e.errorMessage : "Reason unknown",
      });
    } else {
      notification.error({
        message: "There was an issue processing this invoice",
        description: e.toString(),
      });
    }
    return;
  }
};
</script>
