<template lang="pug">
a-form(:wrapperCol="wrapperCol", :labelCol="labelCol")
  a-row
    a-col(:xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      span(v-if="isViaductUser") Note that not all properties can be modified when the user logs in using Viaduct login.

  a-form-item(
    key="formState.name",
    label="Display Name",
    v-bind="validateInfos.name"
  )
    a-input(v-model:value="formState.name", :disabled="isViaductUser")

  a-form-item(
    key="formState.username",
    label="User Name",
    v-bind="validateInfos.username",
    extra="This will be used to login to the account."
  )
    a-input(v-model:value="formState.username", :disabled="isViaductUser")

  a-form-item(
    key="formState.password",
    label="Password",
    v-bind="validateInfos.password",
    extra=" Leave empty to keep the current password."
  )
    a-input-password(
      v-model:value="formState.password",
      :disabled="isViaductUser"
    )

  a-form-item(
    key="formState.passwordRepeat",
    label="Password (repeat)",
    v-bind="validateInfos.passwordRepeat"
  )
    a-input-password(
      v-model:value="formState.passwordRepeat",
      :disabled="isViaductUser"
    )

  a-form-item(
    key="formState.accountId",
    label="Linked Account",
    v-bind="validateInfos.accountId"
  )
    AccountDisplay(
      :edit="true",
      placeholder="No Account Linked",
      v-model="formState.accountId",
      :requestParameters="accountDisplayParameters"
    )

  a-form-item(
    key="formState.registerId",
    label="Register",
    v-bind="validateInfos.registerId"
  )
    RegisterDisplay(
      :edit="true",
      placeholder="Use default register",
      v-model="formState.registerId",
      :initialValue="modelValue?.register ?? undefined",
      :requestParameters="{ deletedFilter: 'false' }"
    )

  a-form-item(
    key="formState.isAdmin",
    label="Admin",
    v-bind="validateInfos.isAdmin",
    extra="Note that two-factor authentication is required for admin to take effect."
  )
    a-switch(v-model:checked="formState.isAdmin")

  a-form-item(
    key="formState.longLogin",
    label="Long Login",
    v-bind="validateInfos.longLogin",
    extra="User will not have to re-login as often."
  )
    a-switch(v-model:checked="formState.longLogin")

  a-form-item
    a-button(
      type="primary",
      :disabled="!saveButtonEnabled",
      @click="() => onSave()"
    ) Save
</template>

<script setup lang="ts">
import { computed, reactive } from "vue";
import { notification } from "ant-design-vue";
import {
  hasValidateInfoHints,
  useFormSizes,
} from "../../scripts/composables/form";
import { ApiResponse } from "../../scripts/api/api";
import { useForm } from "ant-design-vue/es/form";
import { type UserResponse, usersApi } from "../../scripts/api/users";
import RegisterDisplay from "../register/RegisterDisplay.vue";
import AccountDisplay from "../account/AccountDisplay.vue";
import { useRouter } from "vue-router";

interface UserBasicDetailsProps {
  modelValue: Partial<UserResponse>;
}

interface UserBasicDetailsEmits {
  (e: "update:modelValue", value: UserResponse): void;
}

const emit = defineEmits<UserBasicDetailsEmits>();

const props = defineProps<UserBasicDetailsProps>();
const router = useRouter();

const isViaductUser = computed(() => !!props.modelValue?.viaductUserId);
const isCreatingNewUser = computed(() => !props.modelValue?.id);
const accountDisplayParameters = {
  typeFilter: '"user"',
  deletedFilter: "false",
};

const { labelCol, wrapperCol } = useFormSizes();

const formState = reactive({
  name: props.modelValue.name ?? "",
  username: props.modelValue.username ?? "",
  password: "",
  passwordRepeat: "",
  accountId: props.modelValue.accountId ?? null,
  registerId: props.modelValue.register?.id ?? null,
  isAdmin: props.modelValue.isAdmin ?? false,
  longLogin: props.modelValue.longLogin ?? false,
});

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    name: [{ min: 3, required: true, message: "Please enter a display name." }],
    username: [
      { min: 3, required: true, message: "Please enter a user name." },
    ],
    password: [
      {
        min: 8,
        required: false,
        message: "Please enter a password of at least 8 characters.",
      },
    ],
    passwordRepeat: [
      { min: 8, required: false, message: "Please repeat the password." },
    ],
    accountId: [{ required: false }],
    registerId: [{ required: false }],
    isAdmin: [{ required: true }],
    longLogin: [{ required: true }],
  }),
);

const saveButtonEnabled = computed(() => {
  return (
    !hasValidateInfoHints(validateInfos) &&
    formState.password == formState.passwordRepeat
  );
});

const onSave = async () => {
  const verb = isCreatingNewUser.value ? "create" : "update";
  const verbPast = isCreatingNewUser.value ? "created" : "updated";
  try {
    try {
      await validate();
    } catch (e) {
      return;
    }

    const request = {
      viaductUserId: props.modelValue.viaductUserId ?? null,
      name: formState.name,
      username: formState.username,
      password: formState.password ? formState.password : null,
      accountId: formState.accountId ?? null,
      registerId: formState.registerId ?? null,
      isAdmin: formState.isAdmin,
      longLogin: formState.longLogin,
    };
    let resp: ApiResponse<UserResponse>;
    if (isCreatingNewUser.value) {
      resp = await usersApi.createUser(request);
    } else {
      resp = await usersApi.updateUser(props.modelValue.id!, request);
    }

    emit("update:modelValue", resp.result);

    notification.success({
      message: `User ${verbPast}.`,
    });
  } catch (e) {
    if (e?.errorIdentifier === "account_taken_by_user") {
      notification.error({
        message: `Could not ${verb} user.`,
        description: "This account is already taken by a different user.",
      });
      return;
    }

    notification.error({
      message: `Could not ${verb} user.`,
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }
};
</script>

<style lang="sass" scoped></style>
