<template lang="pug">
DataTable(
  endpoint="/api/admin/audit_log/",
  rowKey="id",
  size="small",
  searchPlaceholder="Search for events",
  :columnMapping="columnMapping",
  :scroll="{ x: true }",
  :filterDefinition="filterDefinition"
)
  template(#prop-createdAt="{ record, context }")
    a-tag {{ isoDateStringToLocale(record.createdAt) }}

  template(#prop-event="{ record }")
    span {{ record.event }}

  template(#prop-user="{ record }")
    router-link(v-if="record.user", :to="`/admin/users/${record.user.id}`") {{ record.user.name }}
    em(v-else) N/A

  template(#prop-resource="{ record }")
    span {{ record.resource }}

  template(#prop-objectId="{ record }")
    span(v-if="record.objectId") {{ record.objectId }}
    em(v-else) N/A
</template>

<style lang="sass" scoped>
@import '../../styles/admin.sass'
</style>

<script setup lang="ts">
import { markRaw } from "vue";
import DataTable from "../datatable/DataTable.vue";
import type {
  ColumnMapping,
  FilterDefinition,
} from "../../scripts/DataTableTypes";
import DateTimeFilter from "../common/DateTimeFilter.vue";
import UserFilter from "../common/UserFilter.vue";

const columnMapping: ColumnMapping = {
  createdAt: {
    title: "Date",
    align: "left",
    sort: "createdAt",
  },
  event: {
    sort: "event",
  },
  user: {
    title: "User",
  },
  resource: {
    title: "Resource",
  },
  objectId: {
    title: "Object ID",
  },
} as const;

const filterDefinition: FilterDefinition[] = [
  {
    title: "Date",
    query: "createdAtFilter",
    component: markRaw(DateTimeFilter),
  },
  {
    title: "User",
    query: "userFilter",
    component: markRaw(UserFilter),
  },
];

const isoDateStringToLocale = (date: string) => {
  return new Date(date).toLocaleString("nl-NL", {
    year: "numeric",
    month: "numeric",
    day: "numeric",
    hour: "2-digit",
    minute: "2-digit",
  });
};
</script>
