<template>
  <a-skeleton v-if="status === 'loading'" :paragraph="true" />
  <a-empty
    v-else-if="status === 'error'"
    description="Failed to retrieve top buyers for this product."
  />
  <a-empty
    v-else-if="status === 'success' && !topBuyers.length"
    description="This product has not been purchased since the given date."
  />
  <BarChart v-else xLabel="Name" yLabel="Count" :data="topBuyers" />
</template>

<script setup lang="ts">
import { useQuery } from "@tanstack/vue-query";
import BarChart from "../charts/BarChart.vue";
import { productsApi } from "../../scripts/api/products";
import { computed } from "@vue/reactivity";
import type { Dayjs } from "dayjs";
import { watch } from "vue";
import { BarChartDataEntry } from "../charts/GoogleCharts";

interface ProductTopBuyerChartProps {
  productId: number;
  startDate: Dayjs;
}

const props = defineProps<ProductTopBuyerChartProps>();

const { status, data, refetch } = useQuery({
  queryKey: [
    "products/count",
    props.productId,
    props.startDate.format("YYYY-MM-DD"),
  ],
  queryFn: () => {
    return productsApi.topBuyers(
      props.productId,
      props.startDate.format("YYYY-MM-DD")
    );
  },
  staleTime: Infinity,
});

watch(
  () => props.startDate,
  () => {
    refetch();
  }
);

const topBuyers = computed<BarChartDataEntry[]>(() => {
  if (!data.value) {
    return [];
  }

  return data.value.map((item) => ({
    label: item.accountName,
    value: item.count,
    annotation: item.accountName.split(" ")[0],
  }));
});
</script>

<style lang="sass" scoped></style>
