<template lang="pug">
DataTable(
  :T="{}",
  endpoint="/api/admin/products/",
  row-key="id",
  :column-mapping="columnMapping",
  :filter-definition="filterDefinition",
  :scroll="{ x: true }",
  :hiddenQueryParameters="{ deletedFilter: 'false' }",
  :loading="loading"
)
  template(#row-buttons="{ record, context, loading }")
    a-button-group(v-if="!context.isEditing(record)", size="small")
      a-button(
        type="primary",
        @click="() => context.startEdit(record)",
        :disabled="record.deleted"
      ) Edit
      a-popconfirm(
        title="Are you sure?",
        @confirm="() => deleteProduct(context, record)"
      )
        a-button(:loading="loading", :disabled="record.deleted") Delete
    a-button-group(v-else, size="small")
      a-button(
        :key="record.id",
        type="primary",
        :loading="loading",
        @click="() => saveProduct(context, record)"
      ) Save
      a-button(@click="() => context.cancelEdit()") Cancel

  template(#prop-ledgerId="{ record, context, loading }")
    LedgerDisplay(
      :edit="context.isEditing(record)",
      :loading="loading",
      :modelValue="record.ledgerId",
      :include-income-ledgers="false",
      @update:modelValue="(e) => (record.ledgerId = e)"
    )

  template(#expandedRowRender="{ record }")
    ProductTableExpandedItem(:productId="record.id")

  template(#buttons="{ context }")
    .buttons
      a-button(@click="context.addItem(createNewProduct())") Add Item
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";

import DataTable from "../datatable/DataTable.vue";
import PriceDisplay from "../common/PriceDisplay.vue";
import CategoryDisplay from "../common/CategoryDisplay.vue";
import LedgerDisplay from "../common/LedgerDisplay.vue";
import NumberDisplay from "../common/NumberDisplay.vue";
import BooleanDisplay from "../common/BooleanDisplay.vue";
import StringDisplay from "../common/StringDisplay.vue";
import ProductTableExpandedItem from "../products/ProductTableExpandedItem.vue";

import type {
  ColumnMapping,
  DataTableContext,
} from "../../scripts/DataTableTypes";
import { NEW_ITEM_KEY } from "../../scripts/DataTableTypes";
import type {
  NewProductViewModel,
  ProductData,
} from "../../scripts/admin_types";
import { productsApi } from "../../scripts/api/products";
import { PydanticError } from "../../scripts/api/api";
import { computed, markRaw, reactive, ref } from "vue";
import PriceFilter from "../common/PriceFilter.vue";
import NumberFilter from "../common/NumberFilter.vue";
import BooleanFilter from "../common/BooleanFilter.vue";
import CategoryFilter from "../common/CategoryFilter.vue";
import LedgerFilter from "../common/LedgerFilter.vue";
import { useLedgerStore } from "../../scripts/store/ledgers";

const filterDefinition = [
  {
    title: "Categories",
    query: "categoryFilter",
    component: markRaw(CategoryFilter),
  },
  {
    title: "Ledger",
    query: "ledgerFilter",
    component: markRaw(LedgerFilter),
  },
  {
    title: "price",
    query: "priceFilter",
    component: markRaw(PriceFilter),
  },
  {
    title: "quantity",
    query: "quantityFilter",
    component: markRaw(NumberFilter),
  },
  {
    title: "deposit",
    query: "depositFilter",
    component: markRaw(BooleanFilter),
  },
  {
    title: "Slide",
    query: "slideFilter",
    component: markRaw(BooleanFilter),
  },
];

const columnMapping: ColumnMapping = {
  name: {
    component: markRaw(StringDisplay),
  },
  categoryIds: {
    title: "Categories",
    component: markRaw(CategoryDisplay),
  },
  ledgerId: {
    title: "Ledger",
    align: "left",
    sort: "ledger",
  },
  price: {
    align: "right",
    component: markRaw(PriceDisplay),
  },
  quantity: {
    align: "right",
    component: markRaw(NumberDisplay),
  },
  deposit: {
    align: "right",
    component: markRaw(BooleanDisplay),
  },
} as const;

const ledgerStore = useLedgerStore();
const loading = computed(() => {
  return ledgerStore.loading;
});

function createNewProduct(): NewProductViewModel {
  return {
    name: "",
    price: 0,
    deposit: false,
    categoryIds: [],
    quantity: 0,
    ledgerId: NaN,
  };
}

async function saveProduct(context: DataTableContext, record: ProductData) {
  context.setIsLoading(record, true);

  try {
    let product: ProductData;
    let verb: "created" | "updated";
    if (record.id === NEW_ITEM_KEY) {
      product = await productsApi.postProduct(record);
      verb = "created";
    } else {
      product = await productsApi.putProduct(record);
      verb = "updated";
    }
    context.saveEdit(product, record.id);

    notification.success({
      message: `Product saved.`,
      description: `'${record.name}' has been ${verb}.`,
    });
  } catch (e: unknown) {
    notification.error({
      message: `Failed to update product.`,
      description: !(e instanceof PydanticError) ? "Unknown error." : e.toDiv(),
    });
  } finally {
    context.setIsLoading(record, false);
  }
}

async function deleteProduct(context: DataTableContext, record: ProductData) {
  context.setIsLoading(record, true);
  await productsApi.deleteProduct(record.id);
  context.deleteItem(record.id);
  context.setIsLoading(record, false);
}
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.buttons
  margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
  overflow-x: auto !important
</style>
