<template>
  <TitledCarousel>
    <TitledCarouselItem>
      <template #title>
        <span>
          Top Buyers since
          <a-date-picker
            v-if="isEditingTopBuyersSinceDate"
            v-model:value="topBuyersDate"
            :allowClear="false"
            @change="() => (isEditingTopBuyersSinceDate = false)"
          />
          <span v-else>
            {{ topBuyersDate.format("MMMM D, YYYY") }}
            <EditOutlined
              class="edit-button"
              @click="() => (isEditingTopBuyersSinceDate = true)"
            />
          </span>
        </span>
      </template>
      <ProductTopBuyerChart :productId="productId" :startDate="topBuyersDate" />
    </TitledCarouselItem>

    <TitledCarouselItem>
      <template #title>
        <span>
          Cumulative Product Purchases in
          <a-select
            v-if="isEditingProductPurchasesDate"
            v-model:value="productPurchasesYear"
            @change="() => (isEditingProductPurchasesDate = false)"
            :autoFocus="true"
          >
            <template
              v-for="y in range(2019, dayjs().startOf('year').year() + 1)"
            >
              <a-select-option :value="y">{{ y }}</a-select-option>
            </template>
          </a-select>
          <span v-else>
            {{ productPurchasesYear }}
            <EditOutlined
              class="edit-button"
              @click="() => (isEditingProductPurchasesDate = true)"
            />
          </span>
        </span>
      </template>
      <ProductPurchasesYearComparisonChart
        :productId="productId"
        :year="productPurchasesYear"
      />
    </TitledCarouselItem>

    <TitledCarouselItem>
      <template #title>
        <span>
          Product Purchases per day
          <DateTimeFilter
            title=""
            for=""
            v-model="productPurchasesTimeRange"
            @update:modelValue="
              (val) => {
                if (val === '') {
                  productPurchasesTimeRange = defaultTimeRangeValue;
                }
              }
            "
            :show-time="false"
            :read-only="false"
          ></DateTimeFilter>
        </span>
      </template>
      <ProductPurchasesByDayChart
        :productId="productId"
        :daterange="productPurchasesTimeRange"
      />
    </TitledCarouselItem>
  </TitledCarousel>
</template>

<script setup lang="ts">
import ProductTopBuyerChart from "./ProductTopBuyerChart.vue";
import TitledCarousel from "../../components/common/TitledCarousel.vue";
import TitledCarouselItem from "../../components/common/TitledCarouselItem.vue";
import { nextTick, ref, watch } from "vue";
import dayjs from "dayjs";
import { useDateStorage } from "../../scripts/composables/storage";
import ProductPurchasesByDayChart from "./ProductPurchasesByDayChart.vue";
import ProductPurchasesYearComparisonChart from "./ProductPurchasesByYearCumulative.vue";
import DateTimeFilter from "../common/DateTimeFilter.vue";
import { useStorage } from "@vueuse/core";

interface ProductTableExpandedItemProps {
  productId: number;
}

const props = defineProps<ProductTableExpandedItemProps>();

const isEditingTopBuyersSinceDate = ref(false);
const topBuyersDate = useDateStorage("ProductTableExpandItem.topBuyersDate");

const isEditingProductPurchasesDate = ref(false);
const productPurchasesYear = ref(dayjs().startOf("year").year());

const defaultTimeRangeValue = `${dayjs().startOf("month")}~${dayjs().endOf(
  "month"
)}`;

const productPurchasesTimeRange = useStorage(
  "ProductTableExpandItem.productPurchasesTimeRange",
  defaultTimeRangeValue
);

const range = (start: number, stop: number, step = 1) => {
  return Array(Math.ceil((stop - start) / step))
    .fill(start)
    .map((x, y) => x + y * step)
    .reverse();
};
</script>

<style lang="sass" scoped>

.edit-button
    cursor: pointer
</style>
