<template>
  <a-skeleton v-if="status === 'loading'" :paragraph="true" />
  <a-empty
    v-else-if="status === 'error'"
    description="Failed to retrieve data for this product."
  />
  <a-empty
    v-else-if="status === 'success' && !mainSeriesHasPurchases"
    description="This product has not been purchased in the given year."
  />
  <AreaChart
    v-else
    xLabel="Date"
    xType="date"
    :xSeries="xSeries"
    :ySeries="ySeries"
  />
</template>

<script setup lang="ts">
import { useQuery } from "@tanstack/vue-query";
import AreaChart from "../charts/AreaChart.vue";
import { productsApi } from "../../scripts/api/products";
import { computed } from "@vue/reactivity";
import { AreaChartYSeries } from "../charts/GoogleCharts";

interface ProductTopBuyerChartProps {
  productId: number;
  year: number;
}

const props = defineProps<ProductTopBuyerChartProps>();

const { status, data } = useQuery({
  queryKey: [
    "products/count_per_year_comparison",
    computed(() => props.productId),
    computed(() => props.year),
  ],
  queryFn: () => {
    return productsApi.countPerDayOfYear(props.productId, props.year);
  },
  staleTime: Infinity,
});

const xSeries = computed(() => {
  if (!data.value) {
    return [];
  }

  return data.value.purchases.map((p) => new Date(p.date));
});

const mainSeriesHasPurchases = computed(() => {
  if (!data.value) {
    return false;
  }

  const lastValue = data.value.purchases[data.value.purchases.length - 1];

  if (lastValue.cumPurchases === 0) {
    return false;
  }

  return true;
});

const ySeries = computed(() => {
  if (!mainSeriesHasPurchases.value || !data.value) {
    return [];
  }
  const mainSeries: AreaChartYSeries = {
    title: data.value.year + "",
    type: "number",
    values: [],
  };

  const comparisonSeries: AreaChartYSeries = {
    title: data.value.comparisonYear + "",
    type: "number",
    values: [],
  };

  const isCurrentYear = data.value.year === new Date().getFullYear();
  const currentDate = new Date();
  // Api always returns dates in 2004 since it's our favourite leap year.
  currentDate.setFullYear(2004);

  for (let index = 0; index < data.value.purchases.length; index++) {
    const p = data.value.purchases[index];
    if (isCurrentYear && new Date(p.date) <= currentDate) {
      // Only show the line if it's not in the future
      mainSeries.values.push(p.cumPurchases);
    }
    comparisonSeries.values.push(p.comparisonCumPurchases);
  }

  return [mainSeries, comparisonSeries];
});
</script>

<style lang="sass" scoped></style>
