<template>
  <a-skeleton v-if="status === 'loading'" :paragraph="true" />
  <a-empty
    v-else-if="status === 'error'"
    description="Failed to retrieve top buyers for this product."
  />
  <AreaChart
    v-else
    xLabel="Date"
    xType="date"
    :xSeries="xSeries"
    :ySeries="ySeries"
    line-or-bar-chart="bar"
  />
</template>

<script setup lang="ts">
import { useQuery } from "@tanstack/vue-query";
import AreaChart from "../charts/AreaChart.vue";
import { productsApi } from "../../scripts/api/products";
import { computed } from "@vue/reactivity";
import { AreaChartYSeries } from "../charts/GoogleCharts";
import dayjs from "dayjs";
import { showError } from "../../scripts/util";

interface ProductTopBuyerChartProps {
  productId: number;
  daterange: string;
}

const props = defineProps<ProductTopBuyerChartProps>();

const { status, data } = useQuery({
  queryKey: [
    "products/count_per_day",
    computed(() => props.productId),
    computed(() => props.daterange),
  ],
  queryFn: async () => {
    const [start, end] = props.daterange.split("~").map((x) => new Date(x));

    const startYear = dayjs(start).year();
    const endYear = dayjs(end).year();

    if (startYear !== endYear) {
      // Edge case, when daterange is empty.
      if (!!startYear) {
        showError("Your dates need to fall in the same year!");
      }
      return { purchases: [] };
    }

    start.setFullYear(2004);
    end.setFullYear(2004);

    const allData = await productsApi.countPerDayOfYear(
      props.productId,
      startYear
    );

    const filtered = allData.purchases.filter((item) => {
      const date = new Date(item.date);
      return date >= start && date <= end;
    });

    return {
      purchases: filtered,
    };
  },
  staleTime: Infinity,
});

const xSeries = computed(() => {
  if (!data.value) {
    return [];
  }

  return data.value.purchases.map((p) => new Date(p.date));
});

const ySeries = computed(() => {
  if (!data.value) {
    return [];
  }
  const startDate = props.daterange.split("~")[0];
  const mainSeries: AreaChartYSeries = {
    title: dayjs(startDate).year(),
    type: "number",
    values: [],
  };

  const currentDate = new Date();
  // Api always returns dates in 2004 since it's our favourite leap year.
  currentDate.setFullYear(2004);

  for (let index = 0; index < data.value.purchases.length; index++) {
    const p = data.value.purchases[index];
    // Only show the line if it's not in the future
    mainSeries.values.push(p.purchases);
  }

  return [mainSeries];
});
</script>

<style lang="sass" scoped></style>
