<template lang="pug">
div
  .product-count-chart(ref="chartRef", v-show="!useTable")

  table.table(v-show="useTable")
    colgroup
      col.column--product
      col.column--count
      col.column--spent
    thead
      tr
        th Product
        th Order #
        th Total
    tbody
      tr(v-for="entry in productCounts.slice(0, 10)")
        td {{ entry.productName }}
        td {{ entry.count }}
        td {{ entry.totalPrice > 0 ? priceStr(entry.totalPrice) : priceStr(-entry.totalPrice) }}
</template>

<script setup lang="ts">
import type { ProductCount } from "../../scripts/api/transactions";
import { GoogleCharts } from "google-charts";
import { priceStr } from "../../scripts/util";
import { onMounted, watch } from "vue";
import { ref } from "@vue/reactivity";

interface ProductCountStats {
  productCounts: ProductCount[];
  usePrice: boolean;
  useTable: boolean;
}
const props = defineProps<ProductCountStats>();
const chartRef = ref(null);

onMounted(() => {
  drawProductsPieChart();
});

watch(props, drawProductsPieChart);

function drawProductsPieChart() {
  if (props.useTable) {
    return;
  }
  const data: any = [];

  if (props.usePrice) {
    data.push(["product", "price"]);
    props.productCounts.forEach((entry: any) => {
      data.push([entry.productName, Math.abs(entry.totalPrice / 100)]);
    });
  } else {
    data.push(["product", "count"]);
    props.productCounts.forEach((entry: any) => {
      data.push([entry.productName, entry.count]);
    });
  }

  GoogleCharts.load(() => {
    const table = GoogleCharts.api.visualization.arrayToDataTable(data);

    const chart = new GoogleCharts.api.visualization.PieChart(chartRef.value);
    chart.draw(table, {
      pieSliceText: "label",
      sliceVisibilityThreshold: 0.01,
      backgroundColor: "transparent",
      legend: {
        position: "none",
      },
      chartArea: { width: "100%", height: "100%" },
    });
  });
}
</script>

<style lang="sass" scoped>
@import "../../styles/admin.sass"
.product-count-chart
    width: 100%
    min-height: 400px
</style>
