<template lang="pug">
DataTable(
  endpoint="/api/admin/sepa_batches/",
  row-key="id",
  size="small",
  :column-mapping="columnMapping",
  :filter-definition="filterDefinition",
  :scroll="{ x: true }",
  search-placeholder="Search direct debit batches by name"
)
  template(#prop-executionDate="{ record, context}")
    span {{ isoDateStringToLocale(record.executionDate) }}
  template(#prop-success="{ record, context }")
    a-tag(v-if="record.success", color="green") Executed
    a-popover(v-else-if="!!record.deletedAt", placement="bottom")
      template(#content)
        span Sepa batch was deleted on {{ isoDateStringToLocale(record.deletedAt) }}.
      a-tag(color="red") Deleted
        template(#icon)
          DeleteOutlined
    a-tag(v-else="", color="orange") Unexecuted
  template(#row-buttons="{ record, context, loading }")
    a-button-group(size="small")
      router-link(
        :to="`/admin/direct_debit/${record.id}`",
        :custom="true",
        v-slot="{ navigate }"
      )
        a-button(@click="navigate") View

      a-popconfirm(
        title="Are you sure?",
        @confirm="() => deleteBatch(context, record)",
        :disabled="!!record.deletedAt || record.success"
      )
        a-button(
          :loading="loading",
          :disabled="!!record.deletedAt || record.success"
        ) Delete
  template(#buttons="{ context }")
    .buttons
      router-link(
        to="/admin/direct_debit/new/",
        :custom="true",
        v-slot="{ navigate, href }"
      )
        a-button(@click="navigate", :href="href", :disabled="!canCreateBatch") Create Batch
</template>

<script setup lang="ts">
import DataTable from "../../components/datatable/DataTable.vue";
import StringDisplay from "../../components/common/StringDisplay.vue";

import type {
  ColumnMapping,
  DataTableContext,
  FilterDefinition,
} from "../../scripts/DataTableTypes";
import { markRaw } from "vue";
import BooleanFilter from "../../components/common/BooleanFilter.vue";
import { SepaBatch } from "../../scripts/admin_types";
import { sepaApi } from "../../scripts/api/sepa";

interface DirectDebitTableProps {
  canCreateBatch: boolean;
}

const props = defineProps<DirectDebitTableProps>();

const filterDefinition: FilterDefinition[] = [
  {
    title: "Executed",
    query: "successFilter",
    component: markRaw(BooleanFilter),
  },
];

const columnMapping: ColumnMapping = {
  description: {
    title: "Name",
    component: markRaw(StringDisplay),
  },
  executionDate: {
    title: "Execution Date",
  },
  success: {
    title: "Status",
  },
} as const;

async function deleteBatch(context: DataTableContext, record: SepaBatch) {
  context.setIsLoading(record, true);
  await sepaApi.deleteBatch(record.id);
  record.deletedAt = new Date().toISOString();
  context.setIsLoading(record, false);
}

const isoDateStringToLocale = (date: string) => {
  return new Date(date).toLocaleString("nl-NL", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.buttons
  margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
  overflow-x: auto !important
</style>
