<template>
  <div class="category-filter" v-if="!props.readOnly">
    <a-button-group class="buttons" size="small">
      <a-button :disabled="buttonsDisabled" type="primary" @click="applyFilter">
        Apply
      </a-button>
      <a-button :disabled="buttonsDisabled" @click="resetFilter">
        Reset
      </a-button>
    </a-button-group>

    <div style="width: 200px" ref="exactDisplayWrapper">
      <Component
        :is="displayComponent"
        size="default"
        :disabled="unassigned"
        :modelValue="exactItemCode"
        :edit="true"
        :loading="false"
        :getPopupContainer="getPopupContainer"
        @update:modelValue="onExactItemCodeChanged"
      />
      <div class="unassigned-container">
        <label for="unassigned-switch" class="unassigned-label"
          >Unassigned:
        </label>
        <a-switch
          v-model:checked="unassigned"
          id="unassigned-switch"
        ></a-switch>
      </div>
    </div>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span class="space">is</span>
      <span class="bold-span" v-if="exactItemDescription"
        >'{{ exactItemDescription }}'</span
      >
      <span class="bold-span" v-else><em>not selected</em></span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import { computed, ref } from "@vue/reactivity";
import type { FilterProps } from "../../scripts/DataTableTypes";
import { watch } from "vue";
import { ExactStore, useExactStore } from "../../scripts/store/exact";

interface ExactBaseFilterProps extends FilterProps {
  for: string;
  modelValue: string;
  readOnly: boolean;

  displayComponent: unknown;
  exactDataStoreKey: keyof ExactStore;

  // See BaseNumberFilter for expl. on using this instead of emit
  "onUpdate:modelValue": (val: string) => void;
}

// Ref to the wrapper elememt
const exactDisplayWrapper = ref<HTMLElement | null>(null);

const getPopupContainer = () => {
  // Hack to not close filter menu's when hovering the select's options.
  if (exactDisplayWrapper.value !== null) {
    return exactDisplayWrapper.value;
  }

  return document.body;
};

const exactStore = useExactStore();

const props = defineProps<ExactBaseFilterProps>();
const emit = defineEmits();

const exactItemCode = ref<string | undefined>(props.modelValue);
const exactItemDescription = computed(() => {
  if (!exactItemCode.value) {
    return;
  }

  const parsedValue = JSON.parse(exactItemCode.value);

  const exactStoreProperty = exactStore[props.exactDataStoreKey];
  if (!Array.isArray(exactStoreProperty)) {
    throw new Error(`exactStore.${props.exactDataStoreKey} is not an array.`);
  }

  const item = exactStoreProperty.find((item) => item.code === parsedValue);

  return item?.description ?? item?.name ?? item?.code ?? "";
});

const unassigned = ref<boolean>(false);

const onExactItemCodeChanged = (vatCode: string) => {
  exactItemCode.value = vatCode;
  applyFilter();
};

watch([props], () => {
  mirrorModelValue();
});

function mirrorModelValue() {
  if (props.modelValue === "None") {
    exactItemCode.value = "";
    unassigned.value = true;
  } else if (props.modelValue === "") {
    exactItemCode.value = undefined;
    unassigned.value = false;
  } else {
    exactItemCode.value = JSON.parse(props.modelValue) + "";
    unassigned.value = false;
  }
}

const buttonsDisabled = computed(() => {
  return !exactItemCode.value?.length && !unassigned.value;
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  if (unassigned.value) {
    // @ts-ignore-next-line emit does not exist
    emit("update:modelValue", JSON.stringify(null));
  } else {
    // @ts-ignore-next-line
    emit(
      "update:modelValue",
      exactItemCode.value ? JSON.stringify(exactItemCode.value) : ""
    );
  }
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }
  exactItemCode.value = "";
  // @ts-ignore-next-line
  emit("update:modelValue", "");
};

const stopWatch = watch(
  () => exactStore.isReady,
  (isReady) => {
    if (isReady) {
      mirrorModelValue();
      stopWatch();
    }
  }
);
</script>

<style lang="sass" scoped>
.unassigned-container
  flex: 1
  min-height: 1.5em
  margin-top: 1em

.unassigned-label
  margin-right: 0.5em

.buttons
  margin-bottom: 1em

.clear-button
  color: grey
  background-color: grey

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
