<template>
  <span>
    <a-switch
      :checked="modelValue"
      :disabled="!edit || loading"
      @change="change"
    />
  </span>
</template>

<script setup lang="ts">
interface BooleanDisplayProps {
  modelValue: boolean;
  edit: boolean;
  loading: boolean;
}
interface BooleanDisplayEmits {
  (e: "update:modelValue", value: boolean): void;
}

const props = withDefaults(defineProps<BooleanDisplayProps>(), {
  edit: false,
  loading: false,
});
const emit = defineEmits<BooleanDisplayEmits>();
function change(value: boolean) {
  return emit("update:modelValue", value);
}
</script>
