<template>
  <div v-if="!props.readOnly">
    <a-radio-group v-model:value="selectedOption" class="radio-buttons">
      <a-radio :style="style" :value="true">Yes</a-radio>
      <a-radio :style="style" :value="false">No</a-radio>
    </a-radio-group>
    <a-button-group size="small" class="buttons">
      <a-button :disabled="buttonsDisabled" type="primary" @click="applyFilter">
        Apply
      </a-button>
      <a-button :disabled="buttonsDisabled" @click="resetFilter">
        Reset
      </a-button>
    </a-button-group>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span class="space">is</span>
      <span class="bold-span">{{ props.modelValue }}</span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import { computed, ref } from "@vue/reactivity";
import type { FilterEmits, FilterProps } from "../../scripts/DataTableTypes";
import { watch } from "vue";

interface BooleanFilterProps extends FilterProps {
  for: string;
  modelValue: string;
  readOnly: boolean;
}

interface BooleanFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

const props = defineProps<BooleanFilterProps>();
const emit = defineEmits<BooleanFilterEmits>();

function mirrorModelValue() {
  if (props.modelValue === "true") {
    return true;
  }

  if (props.modelValue === "false") {
    return false;
  }
}

const selectedOption = ref<Boolean | undefined>(mirrorModelValue());

watch([props], () => {
  selectedOption.value = mirrorModelValue();
});

const buttonsDisabled = computed(() => {
  return typeof selectedOption.value !== "boolean";
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  emit("update:modelValue", selectedOption.value + "");
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  selectedOption.value = undefined;
  emit("update:modelValue", "");
};

const style = {
  display: "block",
  height: "30px",
  lineHeight: "30px",
};
</script>

<style lang="sass" scoped>
.filter-title
  font-size: 24px

.buttons
  margin-top: 1em

.display-button
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space
  margin-right: 0.2em

.bold-span
  font-weight: normal
  color: black
</style>
