<template>
  <SchemaSelectDisplay
    v-bind="{ ...$props, ...$attrs }"
    :modelValue="modelValue"
    @update:modelValue="(newValue) => emit('update:modelValue', newValue)"
    @update:record="(newValue) => emit('update:record', newValue)"
    endpoint="/api/admin/categories/"
    mode="multiple"
    label-field="name"
    key-field="id"
    :requestParameters="{ deletedFilter: 'false' }"
    :getPopupContainer="getPopupContainer"
    placeholder="Enter text to search for categories"
  >
    <template #display="{ values }">
      <template v-if="values.length">
        <a-tag
          v-for="c of values"
          :key="c.id"
          class="category-tag"
          :color="getColor((c as unknown as Category).color)"
        >
          {{ c.name }}
        </a-tag>
      </template>
      <template v-else>
        <em>Not Assigned</em>
      </template>
    </template>
  </SchemaSelectDisplay>
</template>

<script setup lang="ts">
import SchemaSelectDisplay from "../datatable/SchemaSelectDisplay.vue";
import type { Category } from "../../scripts/admin_types";

type ItemKey = number | string;

interface CategoryDisplayProps {
  modelValue: ItemKey | ItemKey[] | null;
  initialValue?: Record<string, unknown> | Record<string, unknown>[];

  edit?: boolean;
  mode?: "multiple" | "tags";

  size?: "small" | "middle" | "large";
  getPopupContainer?: () => HTMLElement;

  requestParameters?: Record<string, string>;
}

interface CategoryDisplayEmits {
  (e: "update:modelValue", value: number | number[] | null): void;
  (
    e: "update:record",
    value: Record<string, unknown> | Record<string, unknown>[] | null
  ): void;
}

// These are taken from products.vue
// FIXME: centralize these in some way.
const colors: readonly string[] = [
  "#16A085",
  "#27AE60",
  "#2980B9",
  "#8E44AD",
  "#2C3E50",
  "#F39C12",
  "#D35400",
  "#C0392B",
];

const emit = defineEmits<CategoryDisplayEmits>();
const props = withDefaults(defineProps<CategoryDisplayProps>(), {
  edit: true,
  size: "middle",
  getPopupContainer: () => document.body,
});

const getColor = (colorId: number) => {
  return colors[Math.floor(colorId) % colors.length];
};
</script>

<style lang="sass" scoped>
.category-tag
  margin: 1px
</style>
