<template>
  <span>{{ date }}</span>
</template>

<script setup lang="ts">
import type { DisplayProps } from "../../scripts/DataTableTypes";
import { useLocaleDate } from "../../scripts/util";

interface DateDisplayProps extends DisplayProps {
  modelValue: string;
}

const props = withDefaults(defineProps<DateDisplayProps>(), {
  edit: false,
  loading: false,
});

const { date } = useLocaleDate(props.modelValue);
</script>
