<template>
  <div v-if="!props.readOnly" ref="pickerWrapper">
    <a-space class="time-pickers" direction="vertical">
      <a-range-picker
        v-model:value="selectedDateTime"
        :getPopupContainer="getPopupContainer"
        :show-time="
          props.showTime
            ? {
                hideDisabledOptions: true,
                defaultValue: [
                  dayjs('00:00:00', 'HH:mm:ss'),
                  dayjs('23:59:59', 'HH:mm:ss'),
                ],
              }
            : {}
        "
        @ok="onOk"
        @change="onChange"
        :format="`YYYY-MM-DD${showTime ? ' HH:mm:ss' : ''}`"
      >
      </a-range-picker>
    </a-space>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span class="space">is between</span>
      <span class="bold-span space" v-if="selectedDateTime[0]">
        {{ localeDate(selectedDateTime[0]) }}
      </span>
      <span class="space">and</span>
      <span class="bold-span" v-if="selectedDateTime[1]">
        {{ localeDate(selectedDateTime[1]) }}
      </span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import { computed, ref } from "@vue/reactivity";
import type { FilterProps, FilterEmits } from "../../scripts/DataTableTypes";
import { watch } from "vue";
import dayjs from "dayjs";
import type { Dayjs } from "dayjs";

interface DateTimeFilterProps extends FilterProps {
  for: string;
  title: string;
  modelValue: string;
  readOnly: boolean;
  showTime: boolean;
}

interface DateTimeFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

const props = withDefaults(defineProps<DateTimeFilterProps>(), {
  showTime: true,
});
const emit = defineEmits<DateTimeFilterEmits>();

const pickerWrapper = ref<HTMLElement | null>(null);
const getPopupContainer = () => {
  if (pickerWrapper.value !== null) {
    return pickerWrapper.value;
  }

  return document.body;
};

const selectedDateTimeString = ref<string | undefined>(props.modelValue);
const selectedDateTime = ref<[Dayjs, Dayjs] | []>([]);

watch([props], () => {
  mirrorModelValue();
});

function mirrorModelValue() {
  if (props.modelValue === "") {
    selectedDateTimeString.value = undefined;
    selectedDateTime.value = [];
  } else {
    const [start, end] = props.modelValue.split("~");
    selectedDateTime.value = [dayjs(new Date(start)), dayjs(new Date(end))];
  }
}

const localeDate = (m: Dayjs) => {
  const date = m.toDate();

  const format: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "numeric",
    day: "numeric",
  };

  if (
    (date.getHours() != 0 || date.getMinutes() != 0) &&
    (date.getHours() != 23 || date.getMinutes() != 59)
  ) {
    format.hour = "2-digit";
    format.minute = "2-digit";
  }

  return date.toLocaleString("nl-NL", format);
};

const onOk = (dates: [Dayjs, Dayjs | undefined]) => {
  const [start, end] = dates;

  if (!end) {
    // Do nothing, only a start date has been picked
    return;
  }

  emit("update:modelValue", start.format() + "~" + end.format());
};

const onChange = (dates: [Dayjs, Dayjs] | [string, string] | []) => {
  if (!dates || dates.length == 0) {
    resetFilter();
  }
};

const resetFilter = () => {
  selectedDateTime.value = [];
  selectedDateTimeString.value = "";
  emit("update:modelValue", "");
};

mirrorModelValue();
</script>

<style lang="sass" scoped>

.time-pickers
  margin-bottom: 1em
  width: 350px

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
