<template>
  <BaseExactFilter
    v-bind="{ ...$props, ...$attrs }"
    :displayComponent="ExactLedgerDisplay"
    exactDataStoreKey="ledgers"
  >
  </BaseExactFilter>
</template>
<script setup lang="ts">
import BaseExactFilter from "./BaseExactFilter.vue";
import ExactLedgerDisplay from "./ExactLedgerDisplay.vue";
</script>
