<template>
  <BaseNumberFilter v-bind="{ ...$props, ...$attrs }">
    <template #edit="{ value, onChange }">
      <a-input-number
        style="max-width: 50px"
        :value="value || 0"
        size="small"
        @change="(val) => onChange(val)"
        :min="0"
      />
    </template>
    <template #display="{ value }">
      {{ value }} day<span v-if="value > 1">s</span> ago
    </template>
  </BaseNumberFilter>
</template>

<script setup lang="ts">
import BaseNumberFilter from "./BaseNumberFilter.vue";
</script>
