<template>
  <div v-if="!edit">
    {{ priceStr(modelValue || 0) }}
  </div>
  <div v-else>
    <a-input-number
      :value="syncedPrice"
      :size="size"
      :step="0.1"
      prefix="€"
      decimalSeparator=","
      @change="change"
      :disabled="loading"
      :min="min"
    />
  </div>
</template>

<script setup lang="ts">
import { priceStr } from "../../scripts/util";
import { computed } from "vue";

interface PriceDisplayProps {
  modelValue?: number;
  edit: boolean;
  loading?: boolean;
  min?: number;
  size?: "small" | "middle" | "large";
}
interface PriceDisplayEmits {
  (e: "update:modelValue", value: unknown): void;
}

const props = withDefaults(defineProps<PriceDisplayProps>(), {
  edit: false,
  loading: false,
  min: -Infinity,
  size: "middle",
});
const emit = defineEmits<PriceDisplayEmits>();

const syncedPrice = computed(() => {
  if (!props.modelValue) {
    return 0;
  }

  return props.modelValue / 100;
});

function change(value: number) {
  emit("update:modelValue", +(value * 100).toFixed());
}
</script>
