<template>
  <span v-if="!edit">
    {{ modelValue }}
  </span>
  <span v-else>
    <a-input
      :default-value="modelValue"
      size="small"
      @change="change"
      :disabled="loading"
    />
  </span>
</template>

<script setup lang="ts">
interface StringDisplayProps {
  modelValue: string;
  edit: boolean;
  loading: boolean;
}

interface StringDisplayEmits {
  (e: "update:modelValue", value: string): void;
}

const props = withDefaults(defineProps<StringDisplayProps>(), {
  edit: false,
  loading: false,
});
const emit = defineEmits<StringDisplayEmits>();

function change(ev: InputEvent) {
  if (ev.target) {
    return emit("update:modelValue", (ev.target as HTMLInputElement).value);
  }

  return emit("update:modelValue", "");
}
</script>
