<template>
  <div>
    <h3 class="title-row">
      <left-circle-outlined
        v-if="!hideButtons"
        class="item-button"
        @click="() => emit('prevItem')"
      />
      <span class="title">
        <template v-if="title">{{ title }}</template>
        <slot v-else name="title"></slot>
      </span>

      <right-circle-outlined
        v-if="!hideButtons"
        class="item-button"
        @click="() => emit('nextItem')"
      />
    </h3>
    <slot />
  </div>
</template>

<script setup lang="ts">
interface TitledCarouselItemProps {
  title?: string;
  hideButtons?: boolean;
}

interface TitledCarouselItemEmits {
  (e: "nextItem"): void;
  (e: "prevItem"): void;
}

const props = defineProps<TitledCarouselItemProps>();
const emit = defineEmits<TitledCarouselItemEmits>();
</script>

<style lang="sass" scoped>
.title-row
    display: flex
    justify-content: space-between
    margin: 0.25em 2em
    align-items: center
    white-space: pre

.title
  margin: 0 auto

.item-button
    cursor: pointer
</style>
