<template>
  <div v-for="(slot, index) in carouselItems">
    <component
      :is="slot"
      v-if="index == activeIndex"
      :hideButtons="amountOfCarouselItems === 1"
      @nextItem="nextItem"
      @prevItem="prevItem"
    />
  </div>
</template>

<script setup lang="ts">
import { ref } from "@vue/reactivity";
import { useSlots } from "vue";

const slots = useSlots();
const carouselItems = slots.default?.() ?? [];
const amountOfCarouselItems = carouselItems.length;
const activeIndex = ref(0);

const nextItem = () => {
  activeIndex.value = (activeIndex.value + 1) % amountOfCarouselItems;
};

const prevItem = () => {
  if (activeIndex.value === 0) {
    activeIndex.value = amountOfCarouselItems - 1;
  } else {
    activeIndex.value = activeIndex.value - 1;
  }
};
</script>

<style lang="sass" scoped></style>
