<template>
  <SchemaSelectDisplay
    v-bind="{ ...$props, ...$attrs }"
    :modelValue="modelValue"
    @update:modelValue="(newValue) => emit('update:modelValue', newValue)"
    @update:record="(newValue) => emit('update:record', newValue)"
    :getPopupContainer="getPopupContainer"
    endpoint="/api/admin/users/"
    label-field="name"
    key-field="id"
    placeholder="No user(s) selected"
  >
    <template #display="{ values }">
      <div>
        {{ values.map((p) => p.name).join(", ") || "Unassigned" }}
      </div>
    </template>
  </SchemaSelectDisplay>
</template>

<script setup lang="ts">
import SchemaSelectDisplay from "../datatable/SchemaSelectDisplay.vue";

type ItemKey = number | string;

interface UserDisplayProps {
  modelValue: ItemKey | ItemKey[] | null;
  initialValue?: Record<string, unknown> | Record<string, unknown>[];
  placeholder?: string;

  edit?: boolean;
  mode?: "multiple" | "tags";

  size?: "small" | "default" | "middle" | "large";
  getPopupContainer?: () => HTMLElement;

  requestParameters?: Record<string, string>;
}

interface UserDisplayEmits {
  (e: "update:modelValue", value: number | number[] | null): void;
  (
    e: "update:record",
    value: Record<string, unknown> | Record<string, unknown>[] | null
  ): void;
}

const emit = defineEmits<UserDisplayEmits>();
const props = withDefaults(defineProps<UserDisplayProps>(), {
  edit: true,
  size: "default",
  placeholder: "No user(s) selected",
  getPopupContainer: () => document.body,
});
</script>
