<template>
  <div v-if="!props.readOnly" ref="pickerWrapper">
    <a-date-picker
      class="picker"
      v-model:value="selectedYear"
      picker="year"
      mode="year"
      :getPopupContainer="getPopupContainer"
      @change="onChange"
    >
    </a-date-picker>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span class="space">is</span>
      <span class="bold-span space" v-if="selectedYear">
        {{ localeDate(selectedYear) }}
      </span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import { ref } from "@vue/reactivity";
import type { FilterProps, FilterEmits } from "../../scripts/DataTableTypes";
import { watch } from "vue";
import dayjs from "dayjs";
import type { Dayjs } from "dayjs";

interface YearFilterProps extends FilterProps {
  for: string;
  title: string;
  modelValue: string;
  readOnly: boolean;
}

interface YearFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

const props = defineProps<YearFilterProps>();
const emit = defineEmits<YearFilterEmits>();

const pickerWrapper = ref<HTMLElement | null>(null);
const getPopupContainer = () => {
  if (pickerWrapper.value !== null) {
    return pickerWrapper.value;
  }

  return document.body;
};

const selectedYearString = ref<string | undefined>(props.modelValue);
const selectedYear = ref<Dayjs>();

watch([props], () => {
  mirrorModelValue();
});

function mirrorModelValue() {
  if (props.modelValue === "") {
    selectedYearString.value = undefined;
    selectedYear.value = undefined;
  } else {
    const [start, _] = props.modelValue.split("~");
    selectedYear.value = dayjs(new Date(start));
  }
}

const localeDate = (m: Dayjs) => {
  return m.toDate().toLocaleString("nl-NL", {
    year: "numeric",
    month: "long",
  });
};

const onChange = (date: Dayjs) => {
  const start = date.startOf("year").format("YYYY-MM-DD");
  const end = date.endOf("year").format("YYYY-MM-DD");

  emit("update:modelValue", `${start}~${end}`);
};

const resetFilter = () => {
  selectedYear.value = undefined;
  emit("update:modelValue", "");
};

mirrorModelValue();
</script>

<style lang="sass" scoped>

.picker
  margin-bottom: 1em
  width: 175px

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
