<template>
  <BaseExactFilter
    v-bind="{ ...$props, ...$attrs }"
    :displayComponent="ExactDivisionDisplay"
    exactDataStoreKey="divisions"
  >
  </BaseExactFilter>
</template>
<script setup lang="ts">
import BaseExactFilter from "../common/BaseExactFilter.vue";
import ExactDivisionDisplay from "./ExactDivisionDisplay.vue";
</script>
