<template lang="pug">
a-tag.status-display(:color="color") {{ props.modelValue }}
</template>

<script setup lang="ts">
import { computed } from "@vue/reactivity";
import type { DisplayProps } from "../../scripts/DataTableTypes";
import type { ExactExport } from "../../scripts/api/exact";

interface AccountRequestStatusDisplayProps extends DisplayProps {
  modelValue: ExactExport["status"];
}

const props = withDefaults(defineProps<AccountRequestStatusDisplayProps>(), {
  edit: false,
  loading: false,
});

const color = computed(() => {
  if (props.modelValue === "exported") {
    return "green";
  } else if (props.modelValue === "unexported") {
    return "blue";
  } else if (props.modelValue === "pending") {
    return "purple";
  } else if (props.modelValue === "deleted") {
    return "orange";
  } else if (props.modelValue === "error") {
    return "red";
  }
});
</script>

<style lang="sass" scoped>
.status-display
  text-transform: capitalize
</style>
