<template>
  <span v-if="!props.edit && value" :key="value.code">
    {{ value.name }}
  </span>
  <span v-else-if="!props.edit && !value">
    <em>N/A</em>
  </span>
  <a-select
    v-else
    style="width: 100%"
    size="small"
    placeholder="Not Selected"
    :value="valueCode"
    @change="(e) => emit('update:modelValue', e)"
    :disabled="props.loading"
    :options="
      exactStore.divisions.map((v) => ({
        value: v.code,
        label: v.name,
      }))
    "
    show-search
    option-filter-prop="label"
  >
  </a-select>
</template>

<script setup lang="ts">
import type { DisplayProps } from "../../scripts/DataTableTypes";
import { useExactStore } from "../../scripts/store/exact";
import { computed, Ref } from "vue";
import type { ExactDivision } from "../../scripts/api/exact";

interface ExactDivisionDisplayProps extends DisplayProps {
  edit: boolean;
  loading: boolean;
  modelValue?: string;
}
const exactStore = useExactStore();

const props = withDefaults(defineProps<ExactDivisionDisplayProps>(), {
  edit: false,
  loading: false,
});
const emit = defineEmits<{
  (e: "update:modelValue", value: unknown): void;
}>();

const value = computed(() => {
  if (!props.modelValue) {
    return;
  }
  return exactStore.divisions.find((e) => e.code === props.modelValue);
});
//
const valueCode = computed(() => value.value?.code || "");
</script>
