<template lang="pug">
.admin
  h1 Audit logs

  AuditLogsTable
</template>

<style lang="sass" scoped>
@import "../../styles/admin.sass"
</style>

<script setup lang="ts">
import AuditLogsTable from "../audit/AuditLogsTable.vue";
</script>
