<template lang="pug">
loading-container.admin(:active="loading")
  a-steps(:current="currentStep")
    a-step(
      title="Create Exact app",
      description="Enter your Exact app details."
    )
    a-step(
      title="Choose administration",
      description="Select one of your administrations to link with."
    )
    a-step(
      title="Select journal",
      description="Select which journal to upload PoS transactions to."
    )

  a-alert(
    style="margin-top: 1em;",
    v-if="notifyText",
    message="Warning",
    :description="notifyText",
    type="warning",
    showIcon,
    @close="notifyText = ''"
  )

  .steps-content(v-if="currentStep === 0")
    ol
      li To get started #[a(href="https://apps.exactonline.com/") register] an app in the Exact Online App center.
      li Enter the following into the "Redirect URI" field:
        pre(style="margin: 0.5em 1em") {{ redirectUri }}
      li Enter the "client ID" and "client secret" below.
        a-form(:label-col="labelCol", :wrapper-col="wrapperCol")
          a-form-item(
            label="Client ID",
            v-bind="validateInfoSecretForm.clientId"
          )
            a-input(v-model:value="secretFormState.clientId")
          a-form-item(
            label="Client Secret",
            v-bind="validateInfoSecretForm.clientSecret"
          )
            a-input(v-model:value="secretFormState.clientSecret")
      li Login to your Exact Online account.
  .steps-content(v-if="currentStep === 1")
    h3 Please select an administration to use
    a-form(layout="horizontal")
      a-form-item
        a-radio-group(
          v-model:value="administrationFormState.selectedAdministrationIdx",
          @change="administrationSelected"
        )
          a-radio(
            :value="index",
            style="height: 30px; line-height: 30px; white-space: pre",
            v-for="(a, index) in administrations",
            :key="a.code"
          )
            span(style="font-weight: bold;") {{ a.name }}
            |
            span - {{ a.code }}

  .steps-content(v-if="currentStep === 2")
    h3 Please select a journal to use
    p(style="color: rgba(0, 0, 0, 0.725);") You should create a journal (bank account) in your Exact administration before continuing.
    a-form(layout="horizontal")
      a-form-item
        a-radio-group(v-model:value="journalFormState.selectedJournalIdx")
          a-radio(
            :value="index",
            style="height: 30px; line-height: 30px; white-space: pre",
            v-for="(a, index) in journals",
            :key="a.code",
            :disabled="!a.account_code"
          )
            span(style="font-weight: bold;") {{ a.description }}
            span(v-if="a.code") - {{ a.code }}
            span(v-if="a.account_description") - {{ a.account_description }}
  .steps-action
    a-button(type="primary", @click="next") Next
</template>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.divisions
    margin: 0.5em

.admin
    padding: 1em
    margin-bottom: 1em

.steps-content
    margin-top: 1em
    border: 1px dashed #e9e9e9
    border-radius: 6px
    background-color: #fafafa
    min-height: 200px
    padding: 0 1em

.steps-action
    margin-top: 24px
</style>

<script setup lang="ts">
import { useAdminRequests } from "../../scripts/util";
import LoadingContainer from "../loading_container.vue";

import { notification } from "ant-design-vue";
import { computed, reactive, ref } from "vue";
import { router } from "../../scripts/router";
import { useForm } from "ant-design-vue/es/form";
import { exactApi } from "../../scripts/api/exact";
import { useFormSizes } from "../../scripts/composables/form";
import type { ExactDivision } from "../../scripts/api/exact";

const { labelCol, wrapperCol } = useFormSizes();
const { request, requestWith, requestsActive } = useAdminRequests();

const currentStep = ref(0);
const redirectUri = window.location.origin + "/admin/exact/oauth/success";
const isLoading = ref(false);
const loading = computed(() => requestsActive.value || isLoading.value);

interface ExactAdministration {
  code: string;
  name: string;
}

const administrations = ref<ExactDivision[]>([]);

interface ExactJournal {
  account_code: string;
  account_description: string;
  account_Type: number;
  code: string;
  description: string;
}
const journals = ref<ExactJournal[]>([]);
const notifyText = ref("");
const oldDivision = ref<null | number>();

interface SecretFormState {
  clientId: string;
  clientSecret: string;
}

const secretFormState = reactive<SecretFormState>({
  clientId: "",
  clientSecret: "",
});
const {
  validate: validateSecretForm,
  validateInfos: validateInfoSecretForm,
} = useForm(
  secretFormState,
  reactive({
    clientId: [{ required: true, message: "Please enter the client ID." }],
    clientSecret: [
      { required: true, message: "Please enter the client secret." },
    ],
  })
);

interface AdministrationFormState {
  selectedAdministrationIdx: number;
}

const administrationFormState = reactive<AdministrationFormState>({
  selectedAdministrationIdx: -1,
});
const { validate: validateAdministrationForm } = useForm(
  administrationFormState,
  reactive({
    selectedAdministrationIdx: [
      {
        required: true,
        message: "Please select an administration",
      },
    ],
  })
);
interface JournalFormState {
  selectedJournalIdx: number;
}

const journalFormState = reactive<JournalFormState>({
  selectedJournalIdx: -1,
});
const { validate: validateJournalForm } = useForm(
  journalFormState,
  reactive({
    selectedJournalIdx: [
      {
        required: true,
        message: "Please select a journal",
      },
    ],
  })
);

const created = async () => {
  const params = new URLSearchParams(window.location.search);
  const authenticationCode = params.get("code");
  if (authenticationCode) {
    try {
      const tokenRequest = await requestWith(
        exactApi.setupToken(authenticationCode)
      );
      if (tokenRequest.result.finished) {
        await router.push("/admin/exact");
        await notification.success({
          message: "Re-authentication successful",
          description: "Export available.",
        });
        // this was only a re-authentication request, no setup needed.
        return;
      }

      const [divisionResponse, oldDivisionResp] = await Promise.all([
        requestWith(exactApi.getDivisions()),
        requestWith(exactApi.oldDivision()),
      ]);

      administrations.value = divisionResponse.result.administrations;
      oldDivision.value = oldDivisionResp.result.oldDivision;
      currentStep.value = 1;
    } catch (e) {
      notification.error({
        message: "Error",
        description: "Something went wrong, please try again.",
      });
      console.error(e);
    }
  } else {
    const data = await requestWith(exactApi.ready());
    if (data.result.setupFinished) {
      router.push("/admin/exact");
      return;
    }
  }
};

const next = async () => {
  if (currentStep.value === 0) {
    let values: SecretFormState = await validateSecretForm();

    try {
      isLoading.value = true;
      const data = await request("POST", "/api/admin/exact/setup/client/", {
        baseUrl: window.location.origin,
        clientId: values["clientId"],
        clientSecret: values["clientSecret"],
      });

      window.location.href = data.url;
    } catch (e) {
      notification.error({
        message: "Error",
        description: "Something went wrong, please try again.",
      });
      console.error(e);
    } finally {
      isLoading.value = false;
    }
  } else if (currentStep.value === 1) {
    let values: AdministrationFormState = await validateAdministrationForm();
    console.log(values);
    try {
      await request("POST", "/api/admin/exact/setup/division/", {
        code: +administrations.value[values["selectedAdministrationIdx"]].code,
      });

      const journalResult = await request("GET", "/api/admin/exact/journals/");

      journals.value = journalResult.journals;

      currentStep.value += 1;
    } catch (e) {
      notification.error({
        message: "Error",
        description: "Something went wrong, please try again.",
      });
      console.error(e);
    }
  } else if (currentStep.value === 2) {
    let values: JournalFormState = await validateJournalForm();

    try {
      await request("POST", "/api/admin/exact/setup/journals/", {
        code: journals.value[values["selectedJournalIdx"]].code,
        description: journals.value[values["selectedJournalIdx"]].description,
      });

      await request("PUT", "/api/admin/exact/setup/finish/", {
        finished: true,
      });

      router.push("/admin/exact");
    } catch (e) {
      notification.error({
        message: "Error",
        description: "Something went wrong, please try again.",
      });
      console.error(e);
    }
  }
};

const administrationSelected = async (event) => {
  const selectedAdmin = administrations.value[event.target.value].code;

  if (
    oldDivision.value &&
    String(oldDivision.value) !== String(selectedAdmin)
  ) {
    notifyText.value =
      "Administration differs from the last configured administration. " +
      "Ledger settings will be reset. No data in Exact will be lost.";
  } else {
    notifyText.value = "";
  }
};

created();
</script>
