<template lang="pug">
loading-container.admin.register-form(:active="requestsActive")
  h1 {{ id ? 'Edit' : 'Create' }} register

  p
    label Name
      br
      input(type="text", v-model="register.name")

  p
    label Categories
    CategoryDisplay(:edit="true", v-model="selectedCategoryIds")

  p
    | Capabilities
    br

    template(v-for="(capName, cap) in caps")
      input(
        type="checkbox",
        :id="'cap_' + cap",
        :value="cap",
        v-model="register.capabilities",
        :disabled="cap in conflictingCaps && isAnyCapabilitySelected(conflictingCaps[cap])"
      )
      label.inline(
        :for="'cap_' + cap",
        :class="{ faded: cap in conflictingCaps && isAnyCapabilitySelected(conflictingCaps[cap]) }"
      ) {{ capName }}
      br

  p
    div(v-show="check !== null")
      em {{ check }}

    input(type="submit", value="Save", @click="submit", :disabled="!!check")
    router-link.button.secondary(to="/admin/registers") Back
</template>

<style lang="sass" scoped>
@import "../../styles/admin.sass"

input[type="text"],
input[type="password"],
select
    width: 250px

label.inline
    display: inline

.faded
    opacity: 0.3
    text-decoration: line-through

.register-form p
  width: 250px
  display: block
</style>

<script setup lang="ts">
import { showError, showMessage, useAdminRequests } from "../../scripts/util";
import LoadingContainer from "../loading_container.vue";
import { registerApi } from "../../scripts/api/registers";
import type { RegisterRequest } from "../../scripts/api/registers";
import { computed, onMounted } from "vue";
import { reactive, ref } from "@vue/reactivity";
import { useRoute, useRouter } from "vue-router";
import CategoryDisplay from "../common/CategoryDisplay.vue";

const check = computed(checkForm);
const { requestWith, requestsActive } = useAdminRequests();
const register = reactive<RegisterRequest>({
  name: "",
  categoryIds: [],
  capabilities: [],
});
const selectedCategoryIds = ref<number[]>([]);

const caps = {
  PAYMENT_CASH: "Cash payments",
  PAYMENT_CARD: "Card payments",
  PAYMENT_OTHER: "Other payments",
  PAYMENT_ACCOUNT_AUTHED: "Payments on all accounts with code",
  PAYMENT_ACCOUNT_OTHER: "Payments on all accounts without code",
  PAYMENT_ACCOUNT_SELF: "Payments on your own account",
  PAYMENT_UNDO: "Revert payments",
};

const conflictingCaps = reactive({});
const id = ref<number | null>(null);
const route = useRoute();
const router = useRouter();

onMounted(async () => {
  if (!Array.isArray(route.params.registerId)) {
    id.value = parseInt(route.params.registerId, 10);
    if (isNaN(id.value)) {
      id.value = null;
    }
  }

  if (id.value !== null) {
    const registerResp = (await requestWith(registerApi.getRegister(id.value)))
      .result.register;
    Object.assign(register, registerResp);
    selectedCategoryIds.value = registerResp.categories.map((c) => c.id);
  }

  Object.assign(
    conflictingCaps,
    (await registerApi.info()).result.conflictingCapabilities
  );
});

async function submit() {
  try {
    const submitRegister = {
      ...register,
      categoryIds: selectedCategoryIds.value,
    };

    if (id.value === null) {
      const resp = (
        await requestWith(registerApi.createRegister(submitRegister))
      ).result.register;
      Object.assign(register, resp);
      router.replace(`/admin/registers/${resp.id}`);
      id.value = resp.id;
    } else {
      await requestWith(registerApi.updateRegister(id.value, submitRegister));
    }
    showMessage("Register saved", "Success");
  } catch (e) {
    showError(e);
  }
}

function isAnyCapabilitySelected(capabilities) {
  for (let i = 0; i < capabilities.length; i++) {
    if (register.capabilities.indexOf(capabilities[i]) >= 0) {
      return true;
    }
  }
  return false;
}

function checkForm() {
  if (!register.name) {
    return "No name entered.";
  }

  return null;
}
</script>
