<template>
  <div v-if="!props.readOnly">
    <a-radio-group v-model:value="selectedOrderMethod" class="radio-buttons">
      <a-radio :style="style" value="cash">Cash</a-radio>
      <a-radio :style="style" value="card">Card</a-radio>
      <a-radio :style="style" value="account">Account</a-radio>
      <a-radio :style="style" value="transfer">Bank Transfer</a-radio>
      <a-radio :style="style" value="ideal">iDeal</a-radio>
      <a-radio :style="style" value="sepa">Direct Debit</a-radio>
      <a-radio :style="style" value="other">Other</a-radio>
    </a-radio-group>
    <a-button-group class="buttons" size="small">
      <a-button :disabled="buttonsDisabled" type="primary" @click="applyFilter">
        Apply
      </a-button>
      <a-button :disabled="buttonsDisabled" @click="resetFilter">
        Reset
      </a-button>
    </a-button-group>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span class="space">is</span>
      <span class="bold-span">
        '{{ transactionMethodName(selectedOrderMethod ?? "") }}'
      </span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import { computed, ref } from "@vue/reactivity";
import type { FilterProps, FilterEmits } from "../../scripts/DataTableTypes";
import { watch } from "vue";
import { transactionMethodName } from "../../scripts/transaction";

interface OrderMethodFilterProps extends FilterProps {
  for: string;
  title: string;
  modelValue: string;
  readOnly: boolean;
}

interface OrderMethodFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

const props = defineProps<OrderMethodFilterProps>();
const emit = defineEmits<OrderMethodFilterEmits>();

const selectedOrderMethod = ref<string | undefined>(props.modelValue);

watch([props], () => {
  mirrorModelValue();
});

function mirrorModelValue() {
  if (props.modelValue === "") {
    selectedOrderMethod.value = undefined;
  } else {
    selectedOrderMethod.value = (
      JSON.parse(props.modelValue) + ""
    ).toLowerCase();
  }
}

const buttonsDisabled = computed(() => {
  return !selectedOrderMethod.value;
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  emit("update:modelValue", JSON.stringify(selectedOrderMethod.value) ?? "");
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }
  selectedOrderMethod.value = "";
  emit("update:modelValue", "");
};

const style = {
  display: "block",
  height: "25px",
  width: "200px",
};

mirrorModelValue();
</script>

<style lang="sass" scoped>

.buttons
  margin-top: 1em

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
