<template>
  <a-table
    class="order-table"
    size="small"
    row-key="id"
    :row-class-name="() => 'data-row'"
    :bordered="false"
    :columns="columns"
    :data-source="transaction.orders"
    :pagination="false"
  >
    <template #type="{ text, record }">
      {{ orderTypeName(text, record.price) }}
    </template>
    <template #method="{ text }">
      {{ transactionMethodName(text) }}
    </template>
    <template #account="{ record }">
      <router-link
        v-if="linkToAccounts && record.account?.name"
        :to="`/admin/accounts/${record.account?.id}`"
      >
        {{ record.account?.name ?? "" }}
      </router-link>
      <span v-else-if="record.account?.name">
        {{ record.account?.name ?? "" }}
      </span>
    </template>
    <template #product="{ record }">
      {{ record.product?.name ?? "" }}
    </template>
    <template #credit="{ record }">
      <PriceDisplay
        v-if="record.price < 0"
        :modelValue="-record.price"
        :edit="false"
      />
    </template>
    <template #debit="{ record }">
      <PriceDisplay
        v-if="record.price > 0"
        :modelValue="record.price"
        :edit="false"
      />
    </template>
  </a-table>
</template>

<style lang="sass" scoped>

.order-table
  padding: 0 2em
.order-table :deep(.data-row) td
  background-color: #fafafa

.order-table :deep(.striped) td
  background-color: #f3f3f5

.order-table :deep(thead) th
  background-color: #fafafa
  border-top: none
  border-left: none
  border-right: none
</style>
<script setup lang="ts">
import {
  transactionMethodName,
  orderTypeName,
} from "../../scripts/transaction";
import type { Transaction } from "../../scripts/types";
import PriceDisplay from "../common/PriceDisplay.vue";

interface OrderTableProps {
  transaction: Transaction;
  linkToAccounts: boolean;
}

const columns = [
  { title: "Type", dataIndex: "type", slots: { customRender: "type" } },
  { title: "Method", dataIndex: "method", slots: { customRender: "method" } },
  { title: "Account", slots: { customRender: "account" } },
  { title: "Product", slots: { customRender: "product" } },
  { title: "Credit", slots: { customRender: "credit" } },
  { title: "Debit", slots: { customRender: "debit" } },
];

const props = defineProps<OrderTableProps>();
</script>
