<template>
  <PriceDisplay v-model="price" />
</template>

<script setup lang="ts">
import { computed } from "@vue/reactivity";
import type { DisplayProps } from "../../scripts/DataTableTypes";
import type { Order } from "../../scripts/types";
import PriceDisplay from "../common/PriceDisplay.vue";

interface OrderSummaryPriceDisplayProps extends DisplayProps {
  modelValue: Order[];
}

const props = withDefaults(defineProps<OrderSummaryPriceDisplayProps>(), {
  edit: false,
  loading: false,
});

const price = computed(() => {
  // There's always one order that "pays" the rest of the orders, which will
  // always be the highest one.
  return Math.max(...props.modelValue.map((o) => o.price));
});
</script>
