<template>
  <span>
    <span v-if="method.purchaserAccount">
      Account
      <router-link
        v-if="showAccountNames"
        :to="`/admin/accounts/${method.purchaserAccount.id}`"
      >
        ({{ method.purchaserAccount.name }})
      </router-link>
      <span v-if="method.notAccountMethod">
        / {{ method.notAccountMethod }}
        <span class="reason" v-if="transactionReason"
          >({{ transactionReason }})</span
        >
      </span>
    </span>
    <span v-else>
      {{ method.notAccountMethod }}
      <span class="reason" v-if="transactionReason"
        >({{ transactionReason }})</span
      >
    </span>
  </span>
</template>
<style lang="sass" scoped>
.reason
  font-style: italic
  color: dimgray
</style>
<script setup lang="ts">
import { computed } from "@vue/reactivity";
import { transactionMethodName } from "../../scripts/transaction";
import type { DisplayProps } from "../../scripts/DataTableTypes";
import type { Order } from "../../scripts/types";

interface OrderSummaryMethodDisplayProps extends DisplayProps {
  modelValue: Order[];
  transactionReason?: string;
  showAccountNames?: boolean;
}

const props = withDefaults(defineProps<OrderSummaryMethodDisplayProps>(), {
  edit: false,
  loading: false,
});

const method = computed(() => {
  const purchaserAccount =
    props.modelValue.find((o) => o?.account && !o.account.ledgerAccount)
      ?.account ?? undefined;
  const notAccountMethod = props.modelValue.find((o) => o.method !== "account")
    ?.method;

  return {
    purchaserAccount,
    notAccountMethod: notAccountMethod
      ? transactionMethodName(notAccountMethod)
      : notAccountMethod,
  };
});
</script>
