<template lang="pug">
DataTable(
  :endpoint="endpoint",
  row-key="id",
  size="small",
  :column-mapping="columnMapping",
  :scroll="{ x: true }",
  :filter-definition="filterDefinition",
  :hiddenQueryParameters="hiddenQueryParameters",
  search-placeholder="Search for transaction reasons"
)
  template(#prop-createdAt="{ record, context }")
    a-tag(v-if="!record.deletedAt") {{ isoDateStringToLocale(record.createdAt) }}
    a-popover(v-else, placement="right")
      template(#content)
        span Transaction was deleted on {{ isoDateStringToLocale(record.deletedAt) }}.
      a-tag(color="red") {{ isoDateStringToLocale(record.createdAt) }}
        template(#icon)
          DeleteOutlined

  template(#prop-method="{ record }")
    OrderSummaryMethodDisplay(
      v-model="record.orders",
      :transactionReason="record.reason",
      :showAccountNames="showAccountNames"
    )

  template(v-if="showButtons", #expandedRowRender=" { record }")
    OrderTable(:transaction="record", :linkToAccounts="showAccountNames")

  template(v-if="showButtons", #row-buttons="{ record, context, loading }")
    a-button-group(size="small", @click.stop.prevent="() => {}")
      a-popconfirm(
        placement="left",
        @confirm="() => deleteTransaction(context, record)",
        :disabled="!!record.deletedAt"
      )
        template(#title)
          div Are you sure? Deleting a
          div transaction cannot be undone.
        a-button(:loading="loading", :disabled="!!record.deletedAt") Delete
</template>

<style lang="sass" scoped>
@import '../../styles/admin.sass'
</style>

<script setup lang="ts">
import DataTable from "../datatable/DataTable.vue";
import type {
  ColumnMapping,
  DataTableContext,
  FilterDefinition,
} from "../../scripts/DataTableTypes";
import { markRaw } from "vue";
import type { Transaction } from "../../scripts/types";
import { transactionsApi } from "../../scripts/api/transactions";
import OrderSummaryPriceDisplay from "./OrderSummaryPriceDisplay.vue";
import OrderSummaryProductDisplay from "./OrderSummaryProductDisplay.vue";
import OrderSummaryMethodDisplay from "./OrderSummaryMethodDisplay.vue";
import BooleanFilter from "../../components/common/BooleanFilter.vue";
import OrderTable from "./OrderTable.vue";
import AccountFilter from "../../components/account/AccountFilter.vue";
import ProductFilter from "../products/ProductFilter.vue";
import TransactionTypeFilter from "./TransactionTypeFilter.vue";
import DateTimeFilter from "../../components/common/DateTimeFilter.vue";
import OrderMethodFilter from "./OrderMethodFilter.vue";
import SepaFilter from "../common/SepaFilter.vue";

type FilterName =
  | "Date"
  | "Account"
  | "Products"
  | "Type"
  | "Method"
  | "Deleted"
  | "Sepa Batch";

interface TransactionsTableProps {
  showButtons?: boolean;
  showAccountNames?: boolean;
  filters?: FilterName[];
  endpoint?: "/api/admin/v2/transactions/" | "/api/transactions/";
  hiddenQueryParameters?: Record<string, string>;
}

const props = withDefaults(defineProps<TransactionsTableProps>(), {
  showButtons: false,
  showAccountNames: false,
  filters: () => ["Date", "Type", "Method", "Deleted"],
  endpoint: "/api/transactions/",
});

const filterDefinition: FilterDefinition[] = [
  {
    title: "Date",
    query: "createdAtFilter",
    component: markRaw(DateTimeFilter),
  },
  {
    title: "Account",
    query: "accountFilter",
    component: markRaw(AccountFilter),
  },
  {
    title: "Products",
    query: "productFilter",
    component: markRaw(ProductFilter),
  },
  {
    title: "Type",
    query: "transactionTypeFilter",
    component: markRaw(TransactionTypeFilter),
  },
  {
    title: "Method",
    query: "methodFilter",
    component: markRaw(OrderMethodFilter),
  },
  {
    title: "Deleted",
    query: "deletedFilter",
    component: markRaw(BooleanFilter),
  },
  {
    title: "Sepa Batch",
    query: "sepaBatchFilter",
    component: markRaw(SepaFilter),
  },
].filter((f) => props.filters.indexOf(f.title as FilterName) !== -1);

const columnMapping: ColumnMapping = {
  createdAt: {
    title: "Date",
    align: "left",
    sort: "created_at",
  },
  method: {
    title: "Method",
    align: "left",
    columnDataKey: "orders",
  },
  products: {
    title: "Products",
    align: "right",
    columnDataKey: "orders",
    component: markRaw(OrderSummaryProductDisplay),
  },
  price: {
    title: "Price",
    align: "right",
    columnDataKey: "orders",
    component: markRaw(OrderSummaryPriceDisplay),
  },
} as const;

const isoDateStringToLocale = (date: string) => {
  return new Date(date).toLocaleString("nl-NL", {
    year: "numeric",
    month: "numeric",
    day: "numeric",
    hour: "2-digit",
    minute: "2-digit",
  });
};

async function deleteTransaction(
  context: DataTableContext,
  record: Transaction
) {
  context.setIsLoading(record, true);

  const resp = await transactionsApi.adminDeleteTransaction(record.id);
  record.deletedAt = resp.result.transaction.deletedAt;
  record.deleted = resp.result.transaction.deleted;

  context.setIsLoading(record, false);
}
</script>
