<template lang="pug">
a-form(ref="formRef", :model="dynamicForm")
  a-form-item(
    v-bind="index === 0 ? formItemLayout : formItemLayoutWithOutLabel",
    v-for="(reason, index) in dynamicForm.reasons",
    :key="reason.key",
    :label="index === 0 ? 'Reasons' : ''",
    :extra="index === 0 ? `Shown after clicking the checkout method 'other'` : ''",
    :name="['reasons', index + '', 'value']",
    :rules="{ required: true, message: 'Please input a checkout reason', trigger: 'change' }"
  )
    a-input(
      v-model:value="reason.value",
      placeholder="Reason",
      style="width: 60%; margin-right: 8px"
    )
    MinusCircleOutlined.dynamic-delete-button(
      v-if="dynamicForm.reasons.length > 1",
      @click="() => remove(reason)"
    )
  a-form-item(:wrapper-col="wrapperColNoLabel")
    a-button(type="dashed", style="width: 60%", @click="add")
      PlusOutlined
      | Add field
  a-form-item(:wrapper-col="wrapperColNoLabel")
    a-button(type="primary", html-type="submit", @click="submit")
      | Submit
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";
import { checkoutApi } from "../../scripts/api/checkout";
import type { UnwrapRef } from "vue";
import { computed, reactive, ref } from "vue";
import { settingsApi } from "../../scripts/api/settings";
import { useFormSizes } from "../../scripts/composables/form";
import type { CheckoutReason } from "../../scripts/types";

const formRef = ref();
const loading = ref(false);
const { labelCol, wrapperCol } = useFormSizes();
const { wrapperCol: wrapperColNoLabel } = useFormSizes({ label: false });

const formItemLayout = computed(() => ({
  labelCol: labelCol,
  wrapperCol: wrapperCol,
}));
const formItemLayoutWithOutLabel = computed(() => ({
  wrapperCol: wrapperColNoLabel,
}));

interface ReasonForm {
  reasons: Record<string, Reason>;
}

interface Reason {
  value: string;
  key: number;
}

const dynamicForm: UnwrapRef<{ reasons: Reason[] }> = reactive({
  reasons: [],
});

const created = async () => {
  loading.value = true;
  try {
    const response = await checkoutApi.reasons();
    let i = 0;
    for (const reason of response.result.reasons) {
      dynamicForm.reasons.push({
        key: i++,
        value: reason.name,
      });
    }
  } finally {
    loading.value = false;
  }
};

created();

const add = () => {
  dynamicForm.reasons.push({
    value: "",
    key: Date.now(), // Make sure these do not overlap.
  });
};

const remove = (item: Reason) => {
  if (dynamicForm.reasons.length <= 1) {
    return;
  }

  const index = dynamicForm.reasons.indexOf(item);
  if (index !== -1) {
    dynamicForm.reasons.splice(index, 1);
  }
};

function isProperReasonFormObject(obj: unknown): obj is ReasonForm {
  if (typeof obj !== "object" || !obj) {
    return false;
  }

  if (!("reasons" in obj)) {
    return false;
  }

  const reasonsObj = obj["reasons"];
  if (typeof reasonsObj !== "object" || reasonsObj === null) {
    return false;
  }

  for (const [key, value] of Object.entries(reasonsObj)) {
    if (typeof key !== "string") {
      return false;
    }

    const valueObj = value;
    if (typeof valueObj !== "object" || valueObj === null) {
      return false;
    }

    if (!("value" in valueObj)) {
      return false;
    }
  }
  return true;
}

const submit = async () => {
  try {
    loading.value = true;

    const formValues = await formRef.value.validate();

    if (!isProperReasonFormObject(formValues)) {
      throw new Error("Unexpected reason values.");
    }

    await settingsApi.setCheckoutReasons(
      Object.values(formValues.reasons).map((r) => ({ name: r.value }))
    );

    notification.success({
      message: "Success",
      description: "Checkout reasons saved",
    });
  } catch (e) {
    notification.error({ message: "Error", description: e });
    console.error(e);
  } finally {
    loading.value = false;
  }
};
</script>

<style lang="sass" scoped>
@import "../../styles/admin.sass"
@import "../../styles/_colors.sass"
</style>
