<template lang="pug">
.notifications
  a-row
    a-col(:xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      | Notifications are e-mails sent by the system that contain useful information. This page allows you to configure
      | the e-mail addresses that will send and receive this e-mails. Note that these e-mail addresses are not validated to be correct.
      | Leave an address field empty to not send e-mails.
  a-form(v-if="isSuccess", :wrapperCol="wrapperCol", :labelCol="labelCol")
    a-form-item(
      key="formState.notificationSender",
      label="Notification Sender",
      v-bind="validateInfos.notificationSender",
      extra="This e-mail address will be used to send all e-mails in this system. These addresses can be configured in Google Admin.",
      :required="true"
    )
      a-select(
        v-model:value="formState.notificationSender",
        :options="notificationSenderOptions",
        :disabled="!notificationSenderOptions?.length"
      )

    a-form-item(
      key="formState.notificationSepaDestination",
      label="Direct Debit Destination",
      v-bind="validateInfos.notificationSepaDestination",
      extra="This e-mail address will receive a reminder when a pending direct debit batch should be executed."
    )
      a-input(v-model:value="formState.notificationSepaDestination")

    a-form-item(
      key="formState.notificationAccountRequestDestination",
      label="Account Request Destination",
      v-bind="validateInfos.notificationAccountRequestDestination",
      extra="This e-mail address will receive a notification when someone requests an account."
    )
      a-input(v-model:value="formState.notificationAccountRequestDestination")

    a-form-item(
      key="formState.notificationProductQuantityDestination",
      label="Weekly Product Quantity Destination",
      v-bind="validateInfos.notificationProductQuantityDestination",
      extra="This e-mail address will receive a weekly report on the amount of items sold."
    )
      a-input(v-model:value="formState.notificationProductQuantityDestination")

    a-form-item
      a-button(
        type="primary",
        :disabled="!saveButtonEnabled",
        @click="() => onSave()"
      ) Save
</template>

<script setup lang="ts">
import type { ColProps } from "ant-design-vue/es/grid/Col";
import { computed, onErrorCaptured, reactive, watch } from "vue";
import { settingsApi } from "../../scripts/api/settings";
import { notification } from "ant-design-vue";
import { hasValidateInfoHints } from "../../scripts/composables/form";
import { ApiResponse, isApiResponse } from "../../scripts/api/api";
import { useForm } from "ant-design-vue/es/form";
import { useQuery } from "@tanstack/vue-query";

const labelCol: ColProps = { xs: { span: 24 }, md: { span: 8 } };
const wrapperCol: ColProps = { xs: { span: 24 }, md: { span: 10 } };

const saveButtonEnabled = computed(() => {
  return !hasValidateInfoHints(validateInfos);
});

const isSuccess = computed(() => {
  return (
    notificationSettingsStatus.value === "success" &&
    notificationSenderOptionsStatus.value === "success"
  );
});

const {
  data: notificationSettings,
  status: notificationSettingsStatus,
  suspense: suspenseNotificationSettings,
} = useQuery({
  queryKey: ["admin/settings/notification"],
  queryFn: async () => {
    return (await settingsApi.notifications()).result;
  },
  staleTime: Infinity,
  retry: false,
});

const {
  data: notificationSenderOptions,
  status: notificationSenderOptionsStatus,
  suspense: suspenseNotificationSenderOptions,
} = useQuery({
  queryKey: ["admin/settings/notification/sender_options"],
  queryFn: async () => {
    const options = (await settingsApi.notificationSenderOptions()).result
      .options;
    return options.map((o) => ({ value: o, label: o }));
  },
  staleTime: Infinity,
  retry: false,
});

await Promise.all([
  suspenseNotificationSenderOptions(),
  suspenseNotificationSettings(),
]);

const formState = reactive({
  notificationSender: notificationSettings.value?.notificationSender ?? "",
  notificationSepaDestination:
    notificationSettings.value?.notificationSepaDestination ?? "",
  notificationAccountRequestDestination:
    notificationSettings.value?.notificationAccountRequestDestination ?? "",
  notificationProductQuantityDestination:
    notificationSettings.value?.notificationProductQuantityDestination ?? "",
});

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    notificationSender: [
      { min: 5, required: true, message: "Please enter a sender." },
    ],
  })
);

const onSave = async () => {
  try {
    try {
      await validate();
    } catch (e) {
      return;
    }

    await settingsApi.postNotifications({
      notificationSender: formState.notificationSender,
      notificationSepaDestination: formState.notificationSepaDestination,
      notificationAccountRequestDestination:
        formState.notificationAccountRequestDestination,
      notificationProductQuantityDestination:
        formState.notificationProductQuantityDestination,
    });

    notification.success({
      message: "Notification settings updated.",
    });
  } catch (e) {
    if (
      isApiResponse(e) &&
      e.errorIdentifier == "invalid_notification_sender"
    ) {
      notification.error({
        message: "Invalid notification sender.",
        description: `The sender '${formState.notificationSender}' does not exist according to Google.`,
      });

      return;
    }

    notification.error({
      message: "Could not update notification settings.",
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }
};
</script>

<style lang="sass" scoped></style>
