<template>
  <div ref="chartElement"></div>
</template>

<script setup lang="ts">
import { GoogleCharts } from "google-charts";
import { ref, onMounted, onUpdated } from "vue";

interface AreaChartProps {
  xLabel: string;
  xType?: string;
  xSeries: unknown[];

  ySeries: {
    title: string;
    values: unknown[];
    type?: string;
  }[];

  lineOrBarChart?: "line" | "bar";
}

const props = withDefaults(defineProps<AreaChartProps>(), {
  lineOrBarChart: "line",
});

const chartElement = ref<HTMLDivElement | null>(null);

function reloadChart() {
  if (!chartElement.value) {
    throw new Error("chartElement null in onMounted.");
  }

  if (!props.ySeries.length) {
    return;
  }

  GoogleCharts.load(() => {
    const dataTable = new GoogleCharts.api.visualization.DataTable();
    dataTable.addColumn(props.xType ?? "string", props.xLabel);
    for (const y of props.ySeries) {
      dataTable.addColumn(y.type ?? "string", y.title);
    }

    const rows: unknown[][] = [];
    for (let index = 0; index < props.xSeries.length; index++) {
      rows.push([
        props.xSeries[index],
        ...props.ySeries.map((y) => y.values[index]),
      ]);
    }
    dataTable.addRows(rows);

    const chart =
      props.lineOrBarChart === "line"
        ? new GoogleCharts.api.visualization.AreaChart(chartElement.value)
        : new GoogleCharts.api.visualization.ColumnChart(chartElement.value);

    const dateFormatter = new GoogleCharts.api.visualization.DateFormat({
      pattern: "MMMM dd",
    });

    dateFormatter.format(dataTable, 0);

    chart.draw(dataTable, {
      chartArea: {
        right: 40,
        left: 40,
        top: 20,
        bottom: 20,
        width: "100%",
        height: "100%",
      },
      hAxis: {
        textStyle: {
          color: "#b0bec5",
          fontSize: "12",
        },
        format: "MMMM",
      },
      legend: {
        position: "top",
        alignment: "center",
        textStyle: { color: "#607d8b", fontSize: "12" },
      },
      backgroundColor: "transparent",
    });
  });
}

onMounted(reloadChart);
onUpdated(reloadChart);
</script>

<style lang="sass" scoped></style>
