<template>
  <div style="height: 100%" ref="chartElement"></div>
</template>

<script setup lang="ts">
import { GoogleCharts } from "google-charts";
import { ref, onMounted, onUpdated, computed } from "vue";

import { BarChartDataEntry, defaultChartOptions } from "./GoogleCharts";

interface BarChartProps {
  xLabel: string;
  xType?: string;

  yLabel: string;
  yType?: string;

  data: BarChartDataEntry[];

  annotations?: boolean;
  tooltips?: boolean;

  googleChartOptions?: any;
}

const props = withDefaults(defineProps<BarChartProps>(), {
  xType: "string",
  yType: "number",
  annotations: true,
  tooltips: false,
});

const chartOptions = {
  ...defaultChartOptions,
  legend: {
    position: "none",
  },
  annotations: {
    slantedText: true,
    textStyle: {
      auraColor: "white",
    },
  },
  chartArea: {
    right: 40,
    left: 40,
    top: 20,
    bottom: 10,
    width: "100%",
    height: "80%",
  },
  ...props.googleChartOptions,
};

const chartElement = ref<HTMLDivElement | null>(null);

const tupleData = computed(() => {
  return props.data.map((d, index) => {
    return [
      d.label,
      d.value,
      chartOptions.colors[index % chartOptions.colors.length],
      props.annotations ? d.annotation : undefined,
      props.tooltips
        ? `<div class="barchart--hover-tooltip">${d.tooltipHtml}</div>`
        : undefined,
    ].filter((i) => i !== undefined);
  });
});

function reloadChart() {
  if (!chartElement.value) {
    throw new Error("chartElement null in onMounted.");
  }

  GoogleCharts.load(() => {
    const dataTable = new GoogleCharts.api.visualization.DataTable();
    dataTable.addColumn(props.xType, props.xLabel);
    dataTable.addColumn(props.yType, props.yLabel);
    dataTable.addColumn({
      role: "style",
    });
    if (props.annotations) {
      dataTable.addColumn({
        role: "annotation",
      });
    }
    if (props.tooltips) {
      dataTable.addColumn({
        role: "tooltip",
        p: { html: true },
      });
    }

    dataTable.addRows(tupleData.value);
    const chart = new GoogleCharts.api.visualization.ColumnChart(
      chartElement.value
    );
    chart.draw(dataTable, chartOptions);
  });
}

onMounted(reloadChart);
onUpdated(reloadChart);
</script>

<style lang="sass">
.barchart--hover-tooltip
    padding: 0.25em
    width: auto !important
    height: auto !important

    border: solid 1px #bdbdbd
    border-radius: 2px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.725)
    font-size: 16px
</style>
