<template lang="pug">
| {{ displayValue }}{{ suffix }}
</template>

<script lang="ts" setup>
import { onUnmounted, watch } from "vue";
import { ref } from "@vue/reactivity";

interface AnimatedNumberProps {
  value: number;
  duration: number;
  fraction?: number;
  suffix?: string;
}

const props = withDefaults(defineProps<AnimatedNumberProps>(), {
  fraction: 2,
  suffix: "",
});

const fromValue = ref(props.value);
const toValue = ref(props.value);
const animationStart = ref(0);
const displayValue = ref("0");
const animationId = ref(-1);

const ease = (value: number) => {
  return 1 - Math.pow(1 - value, 3);
};

const getProgress = () => {
  if (animationStart.value == 0) return 1.0;

  const progress =
    (Date.now() - animationStart.value) / (props.duration * 1000.0);
  return Math.max(0.0, Math.min(1.0, ease(progress)));
};

const getValue = (progress) => {
  return fromValue.value + (toValue.value - fromValue.value) * progress;
};

const updateDisplayValue = () => {
  const progress = getProgress();
  const value = getValue(progress);

  displayValue.value = value.toFixed(props.fraction).replace(".", ",");

  if (progress >= 1.0) {
    clearInterval(animationId.value);
    animationId.value = -1;
  }
};

watch(
  () => props.value,
  (value, oldValue) => {
    if (animationId.value != -1) {
      clearInterval(animationId.value);
      animationId.value = -1;
    }

    const progress = getProgress();
    fromValue.value =
      oldValue == 0.0 ? value : progress != 1.0 ? getValue(progress) : oldValue;
    toValue.value = value;

    animationStart.value = Date.now();
    animationId.value = setInterval(updateDisplayValue, 1000.0 / 60.0);
  }
);

onUnmounted(() => {
  if (animationId.value != -1) {
    clearInterval(animationId.value);
  }
});

updateDisplayValue();
</script>
