<template lang="pug">
.bar-slide
  .slide-title-container
    .slide-title
      | Welkom op de borrel

    .slide-title-logo
      img(src="/img/via_logo_white_cropped.svg")

  .slide-content-container
    .slide-content-left
      .slide-logo
        img(src="/img/barco_logo.png")

      .slide-stats-container(:class="{ 'loading-error': statsLoadingError }")
        liquid-gauge(description="bpm", :max-value="6.0", :value="bpm || 0.0")
        speed-gauge(
          description="borrelaars",
          :max-value="100.0",
          :value="active || 0.0"
        )
        ranking-gauge(description="verkocht", :trends="trends")

    .slide-content-right
      .slide-bar-menu
        p.bar-category
          .bar-item(
            v-for="product in products",
            :class="{ spacing: product.add_spacing }"
          )
            | {{ product.name }}
            span.price {{ priceStr(product.price) }}
</template>

<script lang="ts" setup>
import { slidesApi } from "../../scripts/api/slides";
import { priceStr } from "../../scripts/util";
import { ref } from "@vue/reactivity";
import { onMounted, onUnmounted } from "vue";
import type { SlideBarProduct, SlideBarTrend } from "../../scripts/types";
import LiquidGauge from "./LiquidGauge.vue";
import SpeedGauge from "./SpeedGauge.vue";
import RankingGauge from "./RankingGauge.vue";

const UPDATE_INTERVAL = 1000 * 10;
const DEBUG = false;

const products = ref<SlideBarProduct[]>([]);

const bpm = ref(0.0);
const active = ref(0.0);
const trends = ref<SlideBarTrend[]>([]);
const statsLoadingError = ref(false);

const intervalId = ref(-1);

const updateStats = async () => {
  try {
    await Promise.all([
      slidesApi.bpm().then((v) => (bpm.value = v.result.bpm)),
      slidesApi.active().then((v) => (active.value = v.result.active)),
      slidesApi.trends().then((v) => (trends.value = v.result.trends)),
    ]);
    statsLoadingError.value = false;
  } catch (e) {
    console.error("Error fetching stats", e);
    statsLoadingError.value = true;
  }
};

onMounted(async () => {
  try {
    products.value = (await slidesApi.products()).result.products;
  } catch (e) {
    console.error("Error fetching products", e);
  }

  if (DEBUG) {
    document.addEventListener("keypress", debugHandleKeyEvent);
  }

  await updateStats();
  intervalId.value = setInterval(updateStats, UPDATE_INTERVAL);
});

onUnmounted(() => {
  if (DEBUG) {
    document.removeEventListener("keypress", debugHandleKeyEvent);
  }
  clearInterval(intervalId.value);
});

const debugHandleKeyEvent = (e: KeyboardEvent) => {
  const key = e.key;
  if (key == "b") {
    bpm.value = Math.random() * 12.0;
  } else if (key == "a") {
    active.value = Math.ceil(Math.random() * 200);
  } else if (key == "t") {
    let t = trends.value;
    for (let i = 0; i < t.length; i++) {
      t[i].sales += Math.floor(Math.random() * 5.0);
      // @ts-ignore-next-line
      if (t[i].trend) t[i].trend += t[i].trend * (Math.random() - 0.5) * 0.15;
    }
  }
};
</script>

<style scoped lang="sass">
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900')

@import "../../styles/_fonts.sass"
@import "../../styles/_colors.sass"

$title-padding: 24px 0 16px 32px
$title-bar-padding: 24px 0 16px 0

.bar-slide
  cursor: none !important
  background-color: $via-blue !important
  color: white !important

  display: flex
  flex-direction: column
  height: 100%
  font-family: $font-slides

.slide-title-container
  display: flex

  .slide-title
    padding: $title-padding

    text-transform: uppercase
    font-weight: 900
    font-size: 5.5em
    letter-spacing: 5px

    &:before
      padding: $title-bar-padding
      border-left: white 5px solid
      content: "\00a0"

.slide-title-logo
  flex: 1
  align-items: flex-end
  margin: 34px 32px 0 0

  img
    float: right
    height: 5.5em

.slide-content-container
  display: flex
  flex: 1

  .slide-content-left
    flex: 1.2

    display: flex
    flex-direction: column

  .slide-content-right
    flex: 0.8

    display: grid

.slide-stats-container
  flex: 1
  display: flex
  flex-direction: row
  gap: 2em
  justify-content: space-around
  align-items: flex-end
  margin: 0 3.5em 5em 4em
  opacity: 1.0
  transition: opacity 1s

  &.loading-error
    opacity: 0.4

.slide-logo
  flex: 1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  img
    height: 12em


.slide-bar-menu
  margin: 2em 4em 5em 3.5em

  .bar-category
    .bar-item
      color: white
      font-size: 2.0em
      font-weight: 400
      letter-spacing: 0.75px
      line-height: 1.4em

      &.spacing
        margin-top: 0.6em

      .price
        float: right
</style>
