<template lang="pug">
.gauge
  .gauge-content
    .border
    .waves-container
      .waves
        .wave(:style="{ height: 100.0 * waveHeight() + '%' }")
        .wave(:style="{ height: 100.0 * waveHeight() + '%' }")
        .wave(:style="{ height: 100.0 * waveHeight() + '%' }")
    .content-container
      .content
        animated-number(:duration="5.0", :value="props.value")

  .gauge-description
    | {{ props.description }}
</template>

<script lang="ts" setup>
import AnimatedNumber from "./AnimatedNumber.vue";

interface LiquidGaugeProps {
  value: number;
  maxValue: number;
  description: string;
}

const props = defineProps<LiquidGaugeProps>();

const waveHeight = () => {
  return Math.min(Math.max(0.1, props.value / props.maxValue), 1.0) * 1.2;
};
</script>

<style lang="sass" scoped>
@import "../../styles/gauge.sass"

.gauge-content
  position: relative

.content-container
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0

  .content
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

    font-size: 1.8em
    color: rgb(255, 255, 255)
    mix-blend-mode: difference

.waves-container
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0

.waves
  width: 100%
  height: 100%
  position: relative
  overflow: hidden
  clip-path: circle(45% at center)

.border
  position: absolute
  width: 100%
  height: 100%
  border-radius: 50%
  border: 6px solid #ffffff

.wave
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 150' preserveAspectRatio='none' style='height: 100%25; width: 100%25;'%3E%3Cpath d='M-0.00,49.85 C246.04,80.00 246.61,-4.62 500.00,49.85 L500.00,149.60 L-0.00,149.60 Z' style='stroke: none; fill: %23FFFFFF;'%3E%3C/path%3E%3C/svg%3E")
  background-repeat: repeat-x
  background-size: 300px 100%
  position: absolute
  bottom: 0
  width: 4000%
  height: 50%
  animation: wave 80s 0s linear infinite
  transform: translate3d(0, 0, 0)
  opacity: 0.8

  transition: height 5s ease-in-out


.wave:nth-of-type(2)
  animation: wave 160s 0s linear infinite
  opacity: 0.5


.wave:nth-of-type(3)
  animation: wave 240s 0s linear infinite
  opacity: 0.5


@keyframes wave
  0%
    transform: translateX(0)
  100%
    transform: translateX(-50%)
</style>
