<template lang="pug">
.gauge
  .gauge-content
    table
      tbody
        tr(
          v-for="trend in props.trends",
          :class="{ 'trend-up': trend.trend && trend.trend > 0.0, 'trend-down': trend.trend && trend.trend < 0.0, 'trend-null': trend.trend == null, 'trend-zero': trend.trend === 0.0 }"
        )
          td.name {{ trend.name }}
          td.sales
            animated-number(
              :duration="5.0",
              :value="trend.sales",
              :fraction="0"
            )
          td.trend {{ !trend.trend ? '⬤' : trend.trend > 0.0 ? '▲' : '▼' }}
          td.compare
            animated-number(
              v-if="trend.trend",
              :duration="5.0",
              :value="trend.trend * 100.0",
              :suffix="'%'",
              :fraction="1"
            )

  .gauge-description
    | {{ props.description }}
</template>

<script lang="ts" setup>
import AnimatedNumber from "./AnimatedNumber.vue";

import type { SlideBarTrend } from "../../scripts/types";

interface RankingGaugeProps {
  trends: SlideBarTrend[];
  description: string;
}

const props = defineProps<RankingGaugeProps>();
</script>

<style lang="sass" scoped>
@import "../../styles/gauge.sass"

.gauge-content
  width: 320px !important
  font-size: 22px
  letter-spacing: 0.01em
  position: relative
  margin-top: -5px
  margin-bottom: 15px

  table
    td.name
      display: inline-block
      width: 180px
      overflow: hidden
      white-space: nowrap

    td.sales
      text-align: right

    td.trend
      font-size: 14px
      text-align: center
      vertical-align: middle
      padding: 0 1px 0 4px

    td.compare
      text-align: right

  .trend-up
    td.trend, td.compare
      color: #47d04d

    td.trend
      padding-bottom: 2px

  .trend-down
    td.trend, td.compare
      color: #ff4939

  .trend-null, .trend-zero
    td.trend
      color: #f1b434
      font-size: 11px
</style>
