<template lang="pug">
div
  a-skeleton(v-if="status === 'loading'", :paragraph="true")
  div(v-if="status === 'error'") Error whilst getting payment data.
  pre(v-else) {{ data }}
</template>

<script setup lang="ts">
import { idealApi } from "../../scripts/api/ideal";
import { useQuery } from "@tanstack/vue-query";

interface IdealTableExpandedItemProps {
  paymentId: number;
}

const props = defineProps<IdealTableExpandedItemProps>();

const { data, status } = useQuery({
  queryKey: ["admin/ideal/status/", props.paymentId],
  queryFn: async () => {
    const res = await idealApi.details(props.paymentId);
    return res.result.mollieData;
  },
});
</script>
