<template lang="pug">
DataTable(
  endpoint="/api/admin/ideal/",
  rowKey="id",
  size="small",
  :columnMapping="columnMapping",
  :filterDefinition="filterDefinition",
  :scroll="{ x: true }",
  searchPlaceholder="Search for Mollie IDs and statuses"
)
  template(#prop-createdAt="{ record }")
    a-tag {{ isoDateStringToLocale(record.createdAt) }}
  template(#prop-updatedAt="{ record }")
    a-tag {{ isoDateStringToLocale(record.updatedAt) }}

  template(#prop-account="{ record }")
    router-link(:to="`/admin/accounts/${record.account.id}`")
      | {{ record.account.name }}

  template(#prop-transactionId=" { record }")
    span(v-if="record.transactionId") {{ record.transactionId }}
    em(v-else) N/A

  template(#prop-status="{ record }")
    a-tag(v-if="record.status === 'paid'", color="green") Paid
    a-tag(v-else-if="record.status === 'open'", color="blue") Open
    a-tag(
      v-else-if="record.status === 'cancelled' || record.status === 'canceled'",
      color="purple"
    ) Cancelled
    a-tag(v-else-if="record.status === 'failed'", color="red") Failed
    a-tag(v-else-if="record.status === 'expired'", color="orange") Expired
    a-tag(v-else) Unknown

  template(#row-buttons="{ record, context, loading }")
    a-button-group(size="small")
      a-button(
        @click="() => refreshPayment(context, record)",
        :loading="loading",
        :disabled="record.status === 'paid'"
      ) Refresh

  template(#expandedRowRender=" { record }")
    IdealTableExpandedItem(:paymentId="record.id")
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";

import DataTable from "../datatable/DataTable.vue";
import StringDisplay from "../common/StringDisplay.vue";
import DateTimeFilter from "../common/DateTimeFilter.vue";
import AccountFilter from "../account/AccountFilter.vue";
import IdealTableExpandedItem from "./IdealTableExpandedItem.vue"

import type {
    ColumnMapping,
    DataTableContext,
} from "../../scripts/DataTableTypes";
import { markRaw } from "vue";
import { type IdealPayment, idealApi } from "../../scripts/api/ideal";
import { PydanticError } from "../../scripts/api/api";

const filterDefinition = [
    {
        title: "Created",
        query: "createdAtFilter",
        component: markRaw(DateTimeFilter),
    },
    {
        title: "Updated",
        query: "updatedAtFilter",
        component: markRaw(DateTimeFilter),
    },
    {
        title: "Account",
        query: "accountFilter",
        component: markRaw(AccountFilter),
    }
];

const columnMapping: ColumnMapping = {
    createdAt: {
        title: "Created",
    },
    updatedAt: {
        title: "Updated",
    },
    account: {
        title: "Account",
    },
    mollieId: {
        title: "Mollie ID",
        component: markRaw(StringDisplay)
    },
    transactionId: {
        title: "Transaction ID",
    },
    status: {
        title: "Status",
    }
} as const;

const isoDateStringToLocale = (date: string) => {
  return new Date(date).toLocaleString("nl-NL", {
    year: "numeric",
    month: "numeric",
    day: "numeric",
    hour: "2-digit",
    minute: "2-digit",
  });
};

const refreshPayment = async (context: DataTableContext, record: IdealPayment) => {
    context.setIsLoading(record, true);
    try {
      const resp = await idealApi.details(record.id);
      context.saveEdit(resp.result.idealPayment, record.id);
    } catch (e: unknown) {
      notification.error({
          message: `Failed to refresh iDEAL payment status.`,
          description: !(e instanceof PydanticError) ? "Unknown error." : e.toDiv(),
      });
    } finally {
      context.setIsLoading(record, false);
    }
}
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'
</style>
