<template>
  <div class="filter-container">
    <FilterOutlined
      :style="{ fontSize: 'large', marginRight: '1em', color: 'DimGray' }"
    />

    <template v-for="filter in filterDefinition" :key="filter.title + ''">
      <component
        v-if="props.filterQuery[filter.query].value"
        class="filter-display"
        :is="filter.component"
        :for="filter.title"
        :title="filter.query"
        :read-only="true"
        v-model="props.filterQuery[filter.query].value"
      />
    </template>

    <a-dropdown v-model:visible="dropdownVisible">
      <template #overlay>
        <a-menu>
          <a-sub-menu
            v-for="filter in filterDefinition"
            :key="filter.query + ''"
            :title="
              filter.title.charAt(0).toUpperCase() + filter.title.substring(1)
            "
            popupClassName="filter-submenu-popup"
          >
            <component
              class="filter-popup"
              :is="filter.component"
              :for="filter.title"
              :title="filter.query"
              :read-only="false"
              v-model="props.filterQuery[filter.query].value"
              @update:modelValue="() => (dropdownVisible = false)"
            />
          </a-sub-menu>
        </a-menu>
      </template>

      <a-button class="add-button" size="middle" type="dashed" ghost>
        <template #icon>
          <PlusOutlined />
        </template>
      </a-button>
    </a-dropdown>
  </div>
</template>

<script setup lang="ts">
import { ref, Ref } from "@vue/reactivity";
import type {
  ColumnMapping,
  FilterDefinition,
} from "../../scripts/DataTableTypes";

interface DataTableFiltersProps {
  columnMapping: ColumnMapping;
  filterQuery: Record<string, Ref<string>>;
  filterDefinition: FilterDefinition[];
}

const props = defineProps<DataTableFiltersProps>();
const dropdownVisible = ref(false);
</script>

<style lang="sass" scoped>
.filter-popup
  padding: 0.75em 1.5em

.filter-container
    padding: 8px 10px
    background: #f3f3f5
    border-radius: 8px

.add-button
  color: black
  border-color: grey

.filter-display
  margin-right: 0.75em

.filter-title
  text-transform: capitalize
</style>
