{% extends "email/base.html" %}

{% block title -%}
    Product purchases for week {{ week }}
{%- endblock %}

{% block content -%}
    <table>
        <tr>
            <th>Product</th>
            <th>Sales</th>
            <th>Quantity remaining</th>
        </tr>
        {%- for line in products %}
        <tr>
            <td>{{ line[1]}}</td>
            <td>{{ line[0]}}</td>
            <td>{{ line[2]}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>
        Note that 'Quantity remaining' may be inaccurate when no invoices have been uploaded.
    </p>
{%- endblock %}
