{% extends "email/base.html" %}

{% block title -%}
    Sepa batch '{{ month }}' should be created.
{%- endblock %}

{% block content -%}
    <p>
        This is a reminder to create the sepa batch for month: {{ month }}.
        Navigate <a href="https://pos.svia.nl/admin/sepa_batches/new/">here</a> to start creating a new batch.
    </p>
{%- endblock %}
