{% extends "email/base.html" %}

{% block title -%}
    {% if sepa_batches|length == 1 -%}
        Sepa batch {{ sepa_batches[0].description }} is due for execution
    {%- else -%}
        Sepa batches {{ sepa_batches | map(attribute="description") | join(", ") }} are due for execution
    {%- endif -%}
{%- endblock %}

{% block content -%}
    <p>
        This is a reminder to execute the following sepa batches:
        <ul>
            {% for batch in sepa_batches %}
                <li>
                    <a href="https://pos.svia.nl/admin/sepa_batches/{{ batch.id }}">{{ batch.description }}</a>
                </li>
            {% endfor %}
        </ul>
    </p>
{%- endblock %}
