{% extends "email/base.html" %}

{% block title -%}
    VIA direct debit {{ batch.execution_date.strftime("%B %Y") }}
{%- endblock %}

{% block content -%}
    <p>
        On {{ batch.execution_date.strftime("%-d %B") }}, we will automatically deduce your bank account by €{{ '{:,.2f}'.format(amount) }} for the
        payments made with your <strong>via</strong> account in the last month.
        This date is aligned with the payment date of DUO.
    </p>
    <p>
        We can discuss a payment plan together if you're unable to fulfill the payment at this time.
        Please send an email to <a href="mailto:penningmeester@svia.nl">penningmeester@svia.nl</a> as soon as possible if you want to do this, which will prevent you from building up debt at <strong>via</strong>.
        Sadly, if you're not able to pay, we are forced to disable the direct debit part of your account. You will still
        be able to use your account after crediting it manually.
    </p>
{%- endblock %}
