<template lang="pug">
.admin
  a-page-header.header(
    v-if="account",
    title="Your Account",
    :subTitle="account.name",
    :backIcon="false"
  )
    template(#tags)
      a-tag(v-if="lowFunds", color="orange") Low Funds
      a-tag(v-if="loginStore.requireTfa", color="red") TFA Required

    AccountSelfHeader(:account="account", :isAdmin="loginStore.user?.isAdmin")
    a-alert(
      v-if="loginStore.requireTfa",
      style="margin: 0.75em 0",
      message="You need two-factor authentication enabled to get access to admin features.",
      type="warning"
    )
    a-alert(
      v-if="!account.pinSet",
      style="margin: 0.75em 0",
      message="You cannot use your account until you set a pin code.",
      type="warning"
    )
    a-alert(
      v-if="directDebitDescription",
      style="margin: 0.75em 0",
      message="Pending Direct Debit",
      :description="directDebitDescription",
      type="info",
      show-icon
    )

    template(#footer)
      a-tabs(@change="(k) => (currentTab = k + '')", :activeKey="currentTab")
        a-tab-pane(key="topup")
          template(#tab)
            | Top-up
            a-badge(dot, v-if="lowFunds")
          AccountSelfTopUp(
            v-model="account",
            :mollieCallbackId="mollieCallbackId"
          )
        a-tab-pane(key="sepa")
          template(#tab)
            | Direct Debit
            a-badge(dot, v-if="!account.allowNegativeBalance")
          AccountSelfDirectDebit(
            :directDebitEnabled="account.allowNegativeBalance",
            :iban="directDebitData?.iban",
            :bic="directDebitData?.bic",
            :mandateId="directDebitData?.mandateId",
            :signDate="directDebitData?.signDate"
          )
        a-tab-pane(key="stats", tab="Statistics")
          AccountSelfStatistics(v-model="account")
        a-tab-pane(key="transactions", tab="Transactions")
          TransactionsTable
        a-tab-pane(key="pin")
          template(#tab)
            | Pin Code
            a-badge(dot, v-if="!account.pinSet")
          AccountSelfPinCode(v-model="account")
</template>

<script setup lang="ts">
import { useQuery } from "@tanstack/vue-query";
import { computed, ref } from "@vue/reactivity";
import { useRouter, useRoute } from "vue-router";
import { type Key } from "ant-design-vue/es/table/interface";
import dayjs from "dayjs";

import { useRouteQuery } from "@vueuse/router";
import { useLoginStore } from "../../scripts/store/login";
import { accountsApi } from "../../scripts/api/accounts";

import AccountSelfHeader from "../../components/account/AccountSelfHeader.vue";
import AccountSelfDirectDebit from "../../components/account/AccountSelfDirectDebit.vue";
import AccountSelfPinCode from "../../components/account/AccountSelfPinCode.vue";
import AccountSelfTopUp from "../../components/account/AccountSelfTopUp.vue";
import AccountSelfStatistics from "../../components/account/AccountSelfStatistics.vue";

import TransactionsTable from "../../components/transactions/TransactionsTable.vue";
import { priceStr } from "../../scripts/util";

const router = useRouter();
const route = useRoute();

const currentTab = useRouteQuery<Key>("tab", "topup");
const mollieCallbackId = useRouteQuery<string | null>("cb", null);

const loginStore = useLoginStore();

const directDebitDescription = computed(() => {
  if (!directDebitData.value?.execDate || !directDebitData.value?.balance) {
    return "";
  }

  return (
    `Your account will be automatically topped up on ${dayjs(
      directDebitData.value.execDate
    ).format("MMMM D, YYYY")}. ` +
    `This will increase your balance by ${priceStr(
      directDebitData.value.balance
    )}.`
  );
});

if (mollieCallbackId.value !== null) {
  // If we just came back from Mollie, change the tab
  currentTab.value = "topup";
}

const { data } = useQuery({
  queryKey: ["account"],
  queryFn: async () => {
    return (await accountsApi.accountDetails()).result;
  },
  staleTime: Infinity,
});

const account = computed(() => data?.value?.account);
const directDebitData = computed(() => data?.value?.sepa);

const lowFunds = computed(() => {
  if (!account?.value) {
    return false;
  }

  return !account.value?.allowNegativeBalance && account.value.balance < 500;
});
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.header
  // Compensate for padding of .admin component since header already has built-in padding.
  margin: 0 -32px

  @media (max-width: 1165px)
    margin: 0 -12px
</style>
