<template lang="pug">
.admin
  h1 Account Requests

  p
    | When accepting an account request, an account with the same name as the user is created, and the account is linked to the user.
    | Accepted account requests are irreversible, the created account can be deleted. Declined requests can be approved.

  DataTable(
    endpoint="/api/admin/account_requests/",
    row-key="id",
    size="small",
    :column-mapping="columnMapping",
    :scroll="{ x: true }"
  )
    template(#row-buttons="{ record, context, loading }")
      a-button-group(size="small")
        a-button(
          v-if="record.status === 'pending' || record.status === 'declined'",
          type="primary",
          :loading="loading",
          @click="() => updateStatus(context, record, 'approve')"
        ) Approve
        a-button(
          v-if="record.status === 'pending' || record.status === 'declined'",
          :disabled="record.status === 'declined'",
          :loading="loading",
          @click="() => updateStatus(context, record, 'decline')"
        ) Decline
        a-button(v-if="record.status === 'approved'", type="link")
          router-link(
            :to="{ name: 'adminAccounts', query: { search: record.name } }"
          ) View Account
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";

import DataTable from "../../components/datatable/DataTable.vue";

import StringDisplay from "../../components/common/StringDisplay.vue";
import DateDisplay from "../../components/common/DateDisplay.vue";
import AccountRequestStatusDisplay from "../../components/account/AccountRequestStatusDisplay.vue";

import type {
  ColumnMapping,
  DataTableContext,
} from "../../scripts/DataTableTypes";
import { PydanticError } from "../../scripts/api/api";
import { markRaw } from "vue";
import type { AccountRequest } from "../../scripts/types";
import { accountsApi } from "../../scripts/api/accounts";

const columnMapping: ColumnMapping = {
  name: {
    component: markRaw(StringDisplay),
  },
  createdAt: {
    title: "Date",
    component: markRaw(DateDisplay),
  },
  status: {
    component: markRaw(AccountRequestStatusDisplay),
  },
} as const;

async function updateStatus(
  context: DataTableContext,
  record: AccountRequest,
  verb: "approve" | "decline"
) {
  context.setIsLoading(record, true);
  const pasteTense = verb === "approve" ? "approved" : "declined";

  try {
    const request = await accountsApi.accountRequestSetStatus(record.id, verb);

    context.saveEdit(request.result);

    notification.success({
      message: `Account ${pasteTense}.`,
      description: `'${record.name}' has been ${pasteTense}.`,
    });
  } catch (e: unknown) {
    notification.error({
      message: `Failed to update account request.`,
      description: !(e instanceof PydanticError) ? "Unknown error." : e.toDiv(),
    });
  } finally {
    context.setIsLoading(record, false);
  }
}
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.buttons
  margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
  overflow-x: auto !important
</style>
