<template lang="pug">
.admin
  a-page-header.header(
    title="Direct Debit",
    subTitle="Manage direct debit batches and configuration.",
    :backIcon="false"
  )
    template(#footer)
      a-tabs(@change="(k) => (currentTab = k + '')", :activeKey="currentTab")
        a-tab-pane(key="batches", tab="Batches")
          DirectDebitBatchTable(:canCreateBatch="isConfigComplete")
        a-tab-pane(key="config")
          template(#tab)
            | Configuration
            a-badge(dot, v-if="!configIsLoading && !isConfigComplete")
          DirectDebitConfiguration(
            v-if="directDebitConfig",
            v-model="directDebitConfig"
          )
</template>

<script setup lang="ts">
import { useRouteQuery } from "@vueuse/router";
import { sepaApi } from "../../scripts/api/sepa";
import { computed, ref } from "@vue/reactivity";
import DirectDebitBatchTable from "../../components/directdebit/DirectDebitBatchTable.vue";
import DirectDebitConfiguration from "../../components/directdebit/DirectDebitConfiguration.vue";
import { useQuery } from "@tanstack/vue-query";

const currentTab = useRouteQuery<string>("tab", "batches");

const { isLoading: configIsLoading, data: directDebitConfig } = useQuery({
  queryKey: ["admin/direct_debit/config"],
  queryFn: async () => {
    return (await sepaApi.getConfig()).result;
  },
});

const isConfigComplete = computed(() => {
  if (!directDebitConfig.value) {
    return false;
  }

  const v = directDebitConfig.value;
  return !!(
    v.creditorName &&
    v.creditorIban &&
    v.creditorBic &&
    v.creditorIdentifier
  );
});
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.header
  // Compensate for padding of .admin component since header already has built-in padding.
  margin: 0 -32px

  @media (max-width: 1165px)
    margin: 0 -12px
</style>
