<template lang="pug">
.admin
  a-modal(
    title="Are you sure?",
    @ok="removeExact",
    :visible="showRemoveExactModal",
    @cancel="showRemoveExactModal = false",
    :confirmLoading="removeExactLoading"
  )
    | This will remove the link to Exact Online.
    | You won't be able to export data anymore.
    | This won't delete already exported data from Exact Online.
  a-page-header.header(
    title="Exact Online",
    subTitle="Manage Exact Online related settings and export transactions.",
    :backIcon="false"
  )
    a-alert(
      v-if="!exportReady",
      style="margin: 0.75em 0;",
      message="Exact Online link successfully configured.",
      type="info",
      showIcon
    )
      template(#description)
        p(style="color: rgba(0, 0, 0, 0.725); font-size: 1.1em")
          | You have finished the setup, but there are still some additional things to do.
          ul
            li All ledger accounts need to be linked to ledgers in Exact Online. Also make sure all codes exist in the administration.
            li An Exact ledger has to be set for every income type.
    template(#footer)
      a-tabs(@change="(k) => (currentTab = k + '')", :activeKey="currentTab")
        template(#rightExtra)
          a-dropdown
            a.ant-dropdown-link(href="#") More
              down-outlined
            template(#overlay)
              a-menu(slot="overlay")
                a-menu-item(@click="showRemoveExactModal = true") Remove Exact Link
                a-menu-item(@click="refreshExactCredentials") Refresh authentication
        SuspendedTabPane(
          key="exportTab",
          tab="Export",
          errorMessage="Could not load export page.",
          errorSubtitle="Try refreshing the connection from the dropdown."
        )
          ExactExportTable(:canExport="exportReady")
        SuspendedTabPane(key="ledgerTab")
          template(#tab)
            | Account Ledgers
            a-badge(dot, v-if="!accountLedgersSet")
          ExactAccountLedgers(@ledgerUpdated="checkExportReady()")
        SuspendedTabPane(key="compare")
          template(#tab)
            | Revenue Compare
          ExactComparison
        SuspendedTabPane(key="cardTransactions")
          template(#tab)
            | Card Transactions (Legacy)
          ExactCardTransactions
</template>

<script setup lang="ts">
import { useRouteQuery } from "@vueuse/router";
import SuspendedTabPane from "../../components/common/SuspendedTabPane.vue";
import ExactExportTable from "../../components/exact/ExactExportTable.vue";
import ExactAccountLedgers from "../../components/admin/exact/exact_account_ledgers.vue";
import ExactCardTransactions from "../../components/admin/exact/ExactCardTransactions.vue";
import ExactComparison from "../../components/exact/ExactComparison.vue";

import { showError, useAdminRequests } from "../../scripts/util";
import { exactApi } from "../../scripts/api/exact";
import { useRouter } from "vue-router";
import { computed, ref } from "vue";

const { requestWith } = useAdminRequests();
const currentTab = useRouteQuery<string>("tab", "exportTab");
const showRemoveExactModal = ref(false);
const removeExactLoading = ref(false);
const accountLedgersSet = ref(true);
const setupFinished = ref(false);
const exportReady = computed(() => accountLedgersSet.value);

const checkExportReady = async () => {
  try {
    const data = (await requestWith(exactApi.ready())).result;

    if (!data.setupFinished) {
      await router.push("/admin/exact/setup/");
    }

    accountLedgersSet.value = data.allLedgersSet;
    setupFinished.value = true;
  } catch (e) {}
};

const removeExact = async () => {
  removeExactLoading.value = true;

  try {
    await requestWith(exactApi.unlink());
    await router.push("/admin/exact/setup/");
  } catch (e) {
    alert("Error while unlinking.");
  } finally {
    removeExactLoading.value = false;
    showRemoveExactModal.value = false;
  }
};

const refreshExactCredentials = async () => {
  try {
    const resp = await requestWith(exactApi.reauth());
    window.location.href = resp.result.url;
  } catch (e) {
    showError(e);
  }
};

const router = useRouter();

await checkExportReady();
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.header
    // Compensate for padding of .admin component since header already has built-in padding.
    margin: 0 -32px

    @media (max-width: 1165px)
      margin: 0 -12px
</style>
