<template lang="pug">
.admin
  h1 iDEAL Overview
  IdealTable
</template>

<script setup lang="ts">
import IdealTable from "../../components/ideal/IdealTable.vue";
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'
</style>
