<template>
  <SchemaSelectDisplay
    v-bind="{ ...$props, ...$attrs }"
    :modelValue="modelValue"
    :initialValue="initialValue"
    @update:modelValue="(newValue) => emit('update:modelValue', newValue)"
    @update:record="(newValue) => emit('update:record', newValue)"
    :getPopupContainer="getPopupContainer"
    endpoint="/api/admin/registers/"
    label-field="name"
    key-field="id"
    :placeholder="placeholder"
  >
    <template #display="{ values }">
      <div v-if="values.length > 1">
        {{ values.map((p) => p.name).join(", ") }}
      </div>
      <div v-else-if="values.length">
        <span>{{ values[0].name }}</span>
        <span
          v-if="values[0].isDefault"
          style="font-style: italic; color: dimgray"
        >
          (Default)
        </span>
      </div>
      <div v-else>Unassigned</div>
    </template>
  </SchemaSelectDisplay>
</template>

<script setup lang="ts">
import { Register } from "../../scripts/api/registers";
import SchemaSelectDisplay from "../datatable/SchemaSelectDisplay.vue";

type ItemKey = number | string;
type PartialRegister = Pick<Register, "id" | "name" | "isDefault">;

interface RegisterDisplayProps {
  modelValue: ItemKey | ItemKey[] | null;
  initialValue?: PartialRegister | PartialRegister[];
  placeholder?: string;

  edit?: boolean;
  mode?: "multiple" | "tags";

  size?: "small" | "middle" | "large";
  getPopupContainer?: () => HTMLElement;

  requestParameters?: Record<string, string>;
}

interface RegisterDisplayEmits {
  (e: "update:modelValue", value: number | number[] | null): void;
  (
    e: "update:record",
    value: Record<string, unknown> | Record<string, unknown>[] | null
  ): void;
}

const emit = defineEmits<RegisterDisplayEmits>();
const props = withDefaults(defineProps<RegisterDisplayProps>(), {
  edit: true,
  size: "middle",
  placeholder: "No register(s) selected",
  getPopupContainer: () => document.body,
});
</script>
